<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <!--    <a th:text="${year}"></a>-->
    <div>

        <h5 align="center" th:text="|[ ${title} ]|"></h5>
        <h6 align="center" th:text="|* ${subtitle}|"></h6>

        <p>
            <div class="d-flex gap-2 justify-content-center">
                <div class="dropdown d-block position-static pt-0 mx-0 rounded-1 shadow overflow-hidden w-180px">
                    <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        년도
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/stat_lease/top?sigunguCode={sigunguCode}&dealYear=2023&uaType={uaType}&leaseType={leaseType} (sigunguCode=${sigunguCode}, uaType=${uaType}, leaseType=${leaseType})}">2023</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_lease/top?sigunguCode={sigunguCode}&dealYear=2022&uaType={uaType}&leaseType={leaseType} (sigunguCode=${sigunguCode}, uaType=${uaType}, leaseType=${leaseType})}">2022</a></li>
                    </ul>
                </div>
                <div class="dropdown d-block position-static pt-0 mx-0 rounded-1 shadow overflow-hidden w-180px">
                    <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        구선택
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/stat_lease/top?sigunguCode=28710&dealYear={dealYear}&uaType={uaType}&leaseType={leaseType} (dealYear=${dealYear}, uaType=${uaType}, leaseType=${leaseType})}">강화군</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_lease/top?sigunguCode=28245&dealYear={dealYear}&uaType={uaType}&leaseType={leaseType} (dealYear=${dealYear}, uaType=${uaType}, leaseType=${leaseType})}">계양구</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_lease/top?sigunguCode=28200&dealYear={dealYear}&uaType={uaType}&leaseType={leaseType} (dealYear=${dealYear}, uaType=${uaType}, leaseType=${leaseType})}">남동구</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_lease/top?sigunguCode=28140&dealYear={dealYear}&uaType={uaType}&leaseType={leaseType} (dealYear=${dealYear}, uaType=${uaType}, leaseType=${leaseType})}">동구</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_lease/top?sigunguCode=28177&dealYear={dealYear}&uaType={uaType}&leaseType={leaseType} (dealYear=${dealYear}, uaType=${uaType}, leaseType=${leaseType})}">미추홀구</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_lease/top?sigunguCode=28237&dealYear={dealYear}&uaType={uaType}&leaseType={leaseType} (dealYear=${dealYear}, uaType=${uaType}, leaseType=${leaseType})}">부평구</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_lease/top?sigunguCode=28260&dealYear={dealYear}&uaType={uaType}&leaseType={leaseType} (dealYear=${dealYear}, uaType=${uaType}, leaseType=${leaseType})}">서구</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_lease/top?sigunguCode=28185&dealYear={dealYear}&uaType={uaType}&leaseType={leaseType} (dealYear=${dealYear}, uaType=${uaType}, leaseType=${leaseType})}">연수구</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_lease/top?sigunguCode=28720&dealYear={dealYear}&uaType={uaType}&leaseType={leaseType} (dealYear=${dealYear}, uaType=${uaType}, leaseType=${leaseType})}">올진군</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_lease/top?sigunguCode=28110&dealYear={dealYear}&uaType={uaType}&leaseType={leaseType} (dealYear=${dealYear}, uaType=${uaType}, leaseType=${leaseType})}">중구</a></li>
                    </ul>
                </div>
<!--                <div class="dropdown d-block position-static pt-0 mx-0 rounded-1 shadow overflow-hidden w-180px">-->
<!--                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                        동 선택-->
<!--                    </button>-->
<!--                    <ul class="dropdown-menu">-->
<!--                        <li><a class="dropdown-item" th:each="dongList : ${dongList}" th:text="${dongList.landDong}" th:href="@{/tradelist?sigunguCode={sigunguCode}&uaType={uaType}&landDong={landDong} (sigunguCode=${sigunguCode}, uaType=${uaType}, landDong=${dongList.landDong})}"></a></li>-->
<!--                    </ul>-->
<!--                </div>-->

                <div class="dropdown d-block position-static pt-0 mx-0 rounded-1 shadow overflow-hidden w-180px">
                    <button type="button" class="btn btn-danger btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        평형
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/stat_lease/top?sigunguCode={sigunguCode}&dealYear={dealYear}&uaType=UA01&leaseType={leaseType} (sigunguCode=${sigunguCode}, dealYear=${dealYear}, leaseType=${leaseType})}">전체</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_lease/top?sigunguCode={sigunguCode}&dealYear={dealYear}&uaType=UA02&leaseType={leaseType} (sigunguCode=${sigunguCode}, dealYear=${dealYear}, leaseType=${leaseType})}">소형</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_lease/top?sigunguCode={sigunguCode}&dealYear={dealYear}&uaType=UA08&leaseType={leaseType} (sigunguCode=${sigunguCode}, dealYear=${dealYear}, leaseType=${leaseType})}">전용59</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_lease/top?sigunguCode={sigunguCode}&dealYear={dealYear}&uaType=UA03&leaseType={leaseType} (sigunguCode=${sigunguCode}, dealYear=${dealYear}, leaseType=${leaseType})}">중소형</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_lease/top?sigunguCode={sigunguCode}&dealYear={dealYear}&uaType=UA07&leaseType={leaseType} (sigunguCode=${sigunguCode}, dealYear=${dealYear}, leaseType=${leaseType})}">국평</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_lease/top?sigunguCode={sigunguCode}&dealYear={dealYear}&uaType=UA04&leaseType={leaseType} (sigunguCode=${sigunguCode}, dealYear=${dealYear}, leaseType=${leaseType})}">중형</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_lease/top?sigunguCode={sigunguCode}&dealYear={dealYear}&uaType=UA05&leaseType={leaseType} (sigunguCode=${sigunguCode}, dealYear=${dealYear}, leaseType=${leaseType})}">중대형</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_lease/top?sigunguCode={sigunguCode}&dealYear={dealYear}&uaType=UA06&leaseType={leaseType} (sigunguCode=${sigunguCode}, dealYear=${dealYear}, leaseType=${leaseType})}">대형</a></li>
                    </ul>
                </div>
            </div>
        </p>

        <div>
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-jcQR8RwkXK2z2xvE"
                 data-ad-width   = "320"
                 data-ad-height  = "100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>

        <table class="table table-striped">
            <thead class="table-dark">
                <tr style="font-size:12px;" align="center">
                    <th>계약</br>기간</br>갱신권</th>
                    <th>일자</br>아파트</th>
                    <th>전용</br>면적(m<sup>2</sup>)</th>
                    <th>보증금</th>
                    <th>월세</th>
                </tr>
            </thead>
            <tbody>
                <tr style="font-size:12px;" th:each="list : ${list}">
                    <td align="center" th:text="${list.dealDate}"></td>
                    <td align="center">
                        <div>
                            <a th:text="${list.dealType}"></a></br>
                            <a th:text="${list.dealTerm}"></a></br>
                            <a style="font-weight: bolder" th:text="${list.renewalUse}"></a>
                        </div>
                    </td>
                    <td align="left">
                        <div>
                            <a th:text="${list.dealDate}"></a></br>
                            <a th:text="|${list.sigunguName} ${list.landDong}|"></a></br>
                            <a th:text="${list.aptName}" th:href="@{/leaselist/ByName?sigunguCode={sigungucode}&landDong={dong}&aptName={aptname}&ua={uatrunc}&term=1 (sigungucode=${list.gubnCode}, dong=${list.landDong}, aptname=${list.aptName}, uatrunc=${list.useAreaTrunc})}"></a></br>
                            <a th:text="|[${list.buildYear}] ${list.floor} 층|"></a>
                        </div>
                    </td>
                    <td align="right" th:text="${#numbers.formatDecimal(list.useArea,1,2,'POINT')}"></td>
                    <td align="right" th:text="${list.depositStr}"></td>
                    <td align="right" th:text="${list.monthlyRentStr}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>