<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <div>
            <a href="/statistics/seoul/top/11680">강남구</a>
            <a href="/statistics/seoul/top/11740">강동구</a>
            <a href="/statistics/seoul/top/11305">강북구</a>
            <a href="/statistics/seoul/top/11500">강서구</a>
            <a href="/statistics/seoul/top/11620">관악구</a>
            <a href="/statistics/seoul/top/11215">광진구</a>
            <a href="/statistics/seoul/top/11530">구로구</a>
            <a href="/statistics/seoul/top/11545">금천구</a>
            <a href="/statistics/seoul/top/11350">노원구</a>
            <a href="/statistics/seoul/top/11320">도봉구</a>
        </div>
        <div>
            <a href="/statistics/seoul/top/11230">동대문</a>
            <a href="/statistics/seoul/top/11590">동작구</a>
            <a href="/statistics/seoul/top/11440">마포구</a>
            <a href="/statistics/seoul/top/11410">서대문</a>
            <a href="/statistics/seoul/top/11650">서초구</a>
            <a href="/statistics/seoul/top/11200">성동구</a>
            <a href="/statistics/seoul/top/11290">성북구</a>
            <a href="/statistics/seoul/top/11710">송파구</a>
            <a href="/statistics/seoul/top/11470">양천구</a>
            <a href="/statistics/seoul/top/11560">영등포</a>
        </div>

        <div>
            <a href="/statistics/seoul/top/11170">용산구</a>
            <a href="/statistics/seoul/top/11380">은평구</a>
            <a href="/statistics/seoul/top/11110">종로구</a>
            <a href="/statistics/seoul/top/11260">중랑구</a>
            <a href="/statistics/seoul/top/11140">중구</a>
        </div>

        <table class="table table-striped">
            <thead>
            <tr style="font-size:12px;" align="center">
                <th>계약일자</th>
                <th>법정동</th>
                <th>아파트명</th>
                <th>전용면적(m3)</th>
                <th>거래금액</th>
                <th>층수</th>
            </tr>
            </thead>
            <tbody>
            <tr style="font-size:12px;" th:each="list : ${list}">
                <td align="center" th:text="${list.dealDate}"></td>
                <td align="center" th:text="${list.landDong}"></td>
                <td align="left" th:text="${list.aptName}"></td>
                <td align="right" th:text="${#numbers.formatDecimal(list.useArea,1,1,'POINT')}"></td>
                <td align="right" th:text="${#numbers.formatInteger(list.dealAmt,1,'COMMA')}"></td>
                <td align="right" th:text="${list.floor}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
<script>
    function findSeoulYear(year){
        var form = document.createElement("form");
            form.setAttribute("method", "get");
            form.setAttribute("action", "/statistics/seoul/" + year);
            document.body.appendChild(form);
            form.submit();
    }
</script>
</html>