<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <div>
            <a href="/statistics/gyunggisi/4182">가평군</a>
            <a href="/statistics/gyunggisi/4128">고양시</a>
            <a href="/statistics/gyunggisi/4129">과천시</a>
            <a href="/statistics/gyunggisi/4121">광명시</a>
            <a href="/statistics/gyunggisi/4161">광주시</a>

            <a href="/statistics/gyunggisi/4131">구리시</a>
            <a href="/statistics/gyunggisi/4141">군포시</a>
            <a href="/statistics/gyunggisi/4157">김포시</a>
            <a href="/statistics/gyunggisi/4136">남양주</a>
            <a href="/statistics/gyunggisi/4125">동두천</a>
        </div>
        <div>
            <a href="/statistics/gyunggisi/4119">부천시</a>
            <a href="/statistics/gyunggisi/4113">성남시</a>
            <a href="/statistics/gyunggisi/4111">수원시</a>
            <a href="/statistics/gyunggisi/4139">시흥시</a>
            <a href="/statistics/gyunggisi/4127">안산시</a>

            <a href="/statistics/gyunggisi/4155">안성시</a>
            <a href="/statistics/gyunggisi/4117">안양시</a>
            <a href="/statistics/gyunggisi/4163">양주시</a>
            <a href="/statistics/gyunggisi/4183">양평군</a>
            <a href="/statistics/gyunggisi/4167">여주시</a>
        </div>

        <div>
            <a href="/statistics/gyunggisi/4180">연천군</a>
            <a href="/statistics/gyunggisi/4137">오산시</a>
            <a href="/statistics/gyunggisi/4146">용인시</a>
            <a href="/statistics/gyunggisi/4143">의왕시</a>
            <a href="/statistics/gyunggisi/4115">의정부</a>

            <a href="/statistics/gyunggisi/4150">이천시</a>
            <a href="/statistics/gyunggisi/4148">파주시</a>
            <a href="/statistics/gyunggisi/4122">평택시</a>
            <a href="/statistics/gyunggisi/4165">포천시</a>
            <a href="/statistics/gyunggisi/4145">하남시</a>
            <a href="/statistics/gyunggisi/4159">화성시</a>
        </div>
        <table class="table table-striped">
            <thead>
            <tr style="font-size:12px;" align="center">
                <th>지역</th>
                <th>년-월</th>
                <th>최저<br/>매매가</th>
                <th>평균<br/>매매가</th>
                <th>최고<br/>매매가</th>
                <th>거래량</th>
            </tr>
            </thead>
            <tbody>
            <tr style="font-size:12px;" th:each="list : ${list}">
                <td align="center" th:text="${list.sidoName}"></td>
                <td align="center" th:text="${list.dealYYMM}"></td>
                <td align="right" th:text="${#numbers.formatInteger(list.minPrice,3,'COMMA')}"></td>
                <td align="right" th:text="${#numbers.formatInteger(list.avgPrice,3,'COMMA')}"></td>
                <td align="right" th:text="${#numbers.formatInteger(list.maxPrice,3,'COMMA')}"></td>
                <td align="right" th:text="${#numbers.formatInteger(list.cnt,3,'COMMA')}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>