<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
<!--        <div>-->
<!--            <canvas id="myChart"></canvas>-->
<!--        </div>-->
<!--        <div class="btn-group">-->
<!--            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                년도별-->
<!--            </button>-->
<!--            <div class="dropdown-menu">-->
<!--                <a class="dropdown-item" href="/statistics/gyunggi">전체</a>-->
<!--                <a class="dropdown-item" href="/statistics/gyunggi/2022">2022</a>-->
<!--                <a class="dropdown-item" href="/statistics/gyunggi/2021">2021</a>-->
<!--                <a class="dropdown-item" href="/statistics/gyunggi/2020">2020</a>-->
<!--                <a class="dropdown-item" href="/statistics/gyunggi/2019">2019</a>-->
<!--                <a class="dropdown-item" href="/statistics/gyunggi/2018">2018</a>-->
<!--                <a class="dropdown-item" href="/statistics/gyunggi/2017">2017</a>-->
<!--            </div>-->

<!--            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                전용면적별-->
<!--            </button>-->
<!--            <div class="dropdown-menu">-->
<!--                <a class="dropdown-item" href="/statistics/gyunggi/usearea/UA01">전체</a>-->
<!--                <a class="dropdown-item" href="/statistics/gyunggi/usearea/UA02">59미만</a>-->
<!--                <a class="dropdown-item" href="/statistics/gyunggi/usearea/UA03">59이상 85미만</a>-->
<!--                <a class="dropdown-item" href="/statistics/gyunggi/usearea/UA04">85이상 102미만</a>-->
<!--                <a class="dropdown-item" href="/statistics/gyunggi/usearea/UA05">102이상 135이하</a>-->
<!--                <a class="dropdown-item" href="/statistics/gyunggi/usearea/UA06">135초과</a>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div>-->
<!--            <a>년도별</a>-->
<!--            <a href="/statistics/gyunggi">전체</a>-->
<!--            <a href="/statistics/gyunggi/2022">2022</a>-->
<!--            <a href="/statistics/gyunggi/2021">2021</a>-->
<!--            <a href="/statistics/gyunggi/2020">2020</a>-->
<!--            <a href="/statistics/gyunggi/2019">2019</a>-->
<!--            <a href="/statistics/gyunggi/2018">2018</a>-->
<!--            <a href="/statistics/gyunggi/2017">2017</a>-->
<!--        </div>-->
        <div>
            <a>전용면적별</a>
            <a href="/statistics/gyunggi/usearea/UA01">전체</a>
            <a href="/statistics/gyunggi/usearea/UA02">59미만</a>
            <a href="/statistics/gyunggi/usearea/UA03">59이상 85미만</a>
            <a href="/statistics/gyunggi/usearea/UA04">85이상 102미만</a>
            <a href="/statistics/gyunggi/usearea/UA05">102이상 135이하</a>
            <a href="/statistics/gyunggi/usearea/UA06">135초과</a>
        </div>
        <table class="table table-striped">
            <thead>
            <tr class="table-dark" style="font-size:12px;" align="center">
                <th>지역</th>
                <th>년-월</th>
                <th>최저<br/>매매가</th>
                <th>평균<br/>매매가</th>
                <th>최고<br/>매매가</th>
                <th>거래건수</th>
<!--                <th>신고가율</th>-->
            </tr>
            </thead>
            <tbody>
            <tr style="font-size:12px;" th:each="list : ${list}">
                <td align="center" th:text="${list.name}"></td>
                <td align="center" th:text="${list.dealYYMM}"></td>
                <td align="right" th:text="${#numbers.formatInteger(list.minPrice,1,'COMMA')}"></td>
                <td align="right" th:text="${#numbers.formatInteger(list.avgPrice,1,'COMMA')}"></td>
                <td align="right" th:text="${#numbers.formatInteger(list.maxPrice,1,'COMMA')}"></td>
                <td align="right" th:text="${#numbers.formatInteger(list.cnt,1,'COMMA')}"></td>
<!--                <td align="right" th:text="${#numbers.formatDecimal(list.highestRate,1,1,'POINT')}"></td>-->
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type = "text/javascript" th:inline="javascript">
  const labels =  /*[[ ${dates.toArray()} ]]*/;
  const avgPrices =  /*[[ ${avgprc.toArray()} ]]*/;

  const data = {
    labels: labels,
    datasets: [{
      label: '평균 매매가',
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      data: avgPrices,}
    ]
  };

  const config = {
    type: 'line',
    data: data,
    options: {}
  };
</script>
<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>
</html>