<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader" />
  <div>
    <div>
      <a href="/admin/apicallstat/TOTAL">전체&nbsp</a>
      <a href="/admin/apicallstat/SIGUNGU">&nbsp지역&nbsp</a>
    </div>
    <div>
      <a>TRADE&nbsp</a>
      <a href="/admin/apicallstat/TRADE_LIST_NAME">LIST_NAME&nbsp</a>
      <a href="/admin/apicallstat/TRADE_LIST">LIST&nbsp</a>
      <a href="/admin/apicallstat/TRADE_CANCEL">CANCEL</a>
    </div>
    <div>
      <a>LEASE&nbsp</a>
      <a href="/admin/apicallstat/LEASE_LIST_NAME">LIST_NAME&nbsp</a>
      <a href="/admin/apicallstat/LEASE_LIST">LIST&nbsp</a>
      <a href="/admin/apicallstat/LEASE_ANAL">ANAL</a>
    </div>
    <div>
      <a>STAT&nbsp</a>
      <a href="/admin/apicallstat/STAT_RANK_UA">&nbspSTAT_RANK_UA&nbsp</a>
      <a href="/admin/apicallstat/STAT_TRADE">TRADE&nbsp</a>
      <a href="/admin/apicallstat/STAT_THEME">&nbspTHEME&nbsp</a>
      <a href="/admin/apicallstat/STAT_TOP">&nbspTOP&nbsp</a>
      <a href="/admin/apicallstat/STAT_ETC">ETC&nbsp</a>
      <a href="/admin/apicallstat/STAT_UA">UA</a>
    </div>
    <div>
      <a>ETC&nbsp</a>
      <a href="/admin/apicallstat/MENU">MENU&nbsp</a>
      <a href="/admin/apicallstat/APT_SEARCH">APT&nbsp</a>
<!--      <a href="/admin/apicallstat/LEASE_ANAL">&nbspANAL&nbsp</a>-->
    </div>
    <table class="table table-striped">
      <thead>
      <tr class="table-dark" style="font-size:12px;" align="center">
        <th>일자</th>
        <th>API 명</th>
        <th>조회 건수</th>
      </tr>
      </thead>
      <tbody>
      <tr style="font-size:12px;" th:each="list : ${list}">
        <td align="center" th:text="${list.callDate}"></td>
        <td align="center" th:text="${list.apiName}"></td>
        <td align="right" th:text="${#numbers.formatInteger(list.cnt,1,'COMMA')}"></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>