<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader" />
  <div>
      <a th:text="차단기록" th:href="@{/admin/ipBlockHistory}"/></a>
      <a th:text="접속기록" th:href="@{/admin/apicallstat/TOTAL}"/></a>
    <table class="table table-striped">
      <thead>
          <tr class="table-dark" style="font-size:12px;" align="center">
            <th>IP</th>
              <th>국가</th>
            <th>접속 건수</th>
              <th>ISP</br>ISP주소</br>유저</br>유저주소</th>
          </tr>
      </thead>
      <tbody>
          <tr style="font-size:12px;" th:each="list : ${list}">
    <!--        <td align="center" th:text="${list.ipAddress}"></td>-->
            <td align="center">
                <a th:text="${list.ipAddress}" th:href="@{/admin/ipBlock?ipAddress={ipAddress} (ipAddress=${list.ipAddress})}"/></a>
            </td>
              <td align="center" th:text="${list.countryCode}"></td>
            <td align="right" th:text="${#numbers.formatInteger(list.cnt,1,'COMMA')}"></td>
            <td>
                <div>
                    <a th:text="${list.ispName}"></a></br>
                    <a th:text="${list.ispAddr}"></a></br>
                    <a th:text="${list.userName}"></a></br>
                    <a th:text="${list.userAddr}"></a></br>
                </div>
            </td>
<!--            <td align="center">-->
<!--              <a th:text="확인" th:href="@{https://www.ipipipip.net/index.php?ln=ko&menu=ip-address-location-geolocation-lookup-home&ipaddress={ipAddress} (ipAddress=${list.ipAddress})}" target="_blank"/></a>-->
<!--            </td>-->

          </tr>
      </tbody>
    </table>
  </div>

  <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>