HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
!/applicatoin.2022-04-13.log

!/applicatoin.2022-04-14.log

!/applicatoin.2022-04-16.log

!/applicatoin.2022-04-17.log

!/applicatoin.2022-04-18.log

!/applicatoin.2022-04-19.log

!/applicatoin.2022-04-21.log

!/applicatoin.2022-04-24.log
/src/main/resources/application.yml
