<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <div>
            <a th:href="@{/stat_trade/useareaType?sigunguCode=28&uaType={ua}&term={term} (ua=${ua}, term=${term})}">인천 전체</a>
        </div>
        <div>
            <a th:href="@{/stat_trade/useareaType?sigunguCode=28710&uaType={ua}&term={term} (ua=${ua}, term=${term})}">강화군&nbsp</a>
            <a th:href="@{/stat_trade/useareaType?sigunguCode=28245&uaType={ua}&term={term} (ua=${ua}, term=${term})}">&nbsp계양구&nbsp</a>
            <a th:href="@{/stat_trade/useareaType?sigunguCode=28200&uaType={ua}&term={term} (ua=${ua}, term=${term})}">&nbsp남동구&nbsp</a>
            <a th:href="@{/stat_trade/useareaType?sigunguCode=28140&uaType={ua}&term={term} (ua=${ua}, term=${term})}">&nbsp동구&nbsp</a>
            <a th:href="@{/stat_trade/useareaType?sigunguCode=28177&uaType={ua}&term={term} (ua=${ua}, term=${term})}">&nbsp미추홀구</a>
        </div>
        <div>
            <a th:href="@{/stat_trade/useareaType?sigunguCode=28237&uaType={ua}&term={term} (ua=${ua}, term=${term})}">부평구&nbsp</a>
            <a th:href="@{/stat_trade/useareaType?sigunguCode=28260&uaType={ua}&term={term} (ua=${ua}, term=${term})}">&nbsp서구&nbsp</a>
            <a th:href="@{/stat_trade/useareaType?sigunguCode=28185&uaType={ua}&term={term} (ua=${ua}, term=${term})}">&nbsp연수구&nbsp</a>
            <a th:href="@{/stat_trade/useareaType?sigunguCode=28720&uaType={ua}&term={term} (ua=${ua}, term=${term})}">&nbsp옹진군&nbsp</a>
            <a th:href="@{/stat_trade/useareaType?sigunguCode=28110&uaType={ua}&term={term} (ua=${ua}, term=${term})}">&nbsp중구</a>
        </div>
        <p>
            <h6 align="center" th:text="|[ ${title} ${termStr} ]|"></h6>
            <h6 align="center" th:text="|* ${uaStr} |"></h6>
        </p>
        <div>
            <canvas id="myChart"></canvas>
        </div>
        <div>
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-jcQR8RwkXK2z2xvE"
                 data-ad-width   = "320"
                 data-ad-height  = "100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
        <a>[평형]&nbsp</a>
        <a th:href="@{/stat_trade/useareaType?sigunguCode={sigungucode}&uaType=UA01&term={term} (sigungucode=${sigungucode}, term=${term})}">전체</a>
        <b>&nbsp/&nbsp</b>
        <a th:href="@{/stat_trade/useareaType?sigunguCode={sigungucode}&uaType=UA02&term={term} (sigungucode=${sigungucode}, term=${term})}">소형</a>
        <b>&nbsp/&nbsp</b>
        <a th:href="@{/stat_trade/useareaType?sigunguCode={sigungucode}&uaType=UA08&term={term} (sigungucode=${sigungucode}, term=${term})}">전용59</a>
        <b>&nbsp/&nbsp</b>
        <a th:href="@{/stat_trade/useareaType?sigunguCode={sigungucode}&uaType=UA03&term={term} (sigungucode=${sigungucode}, term=${term})}">중소형</a>
        </br>
        <a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
        <a th:href="@{/stat_trade/useareaType?sigunguCode={sigungucode}&uaType=UA07&term={term} (sigungucode=${sigungucode}, term=${term})}">국평</a>
        <b>&nbsp/&nbsp</b>
        <a th:href="@{/stat_trade/useareaType?sigunguCode={sigungucode}&uaType=UA04&term={term} (sigungucode=${sigungucode}, term=${term})}">중형</a>
        <b>&nbsp/&nbsp</b>
        <a th:href="@{/stat_trade/useareaType?sigunguCode={sigungucode}&uaType=UA05&term={term} (sigungucode=${sigungucode}, term=${term})}">중대형</a>
        <b>&nbsp/&nbsp</b>
        <a th:href="@{/stat_trade/useareaType?sigunguCode={sigungucode}&uaType=UA06&term={term} (sigungucode=${sigungucode}, term=${term})}">대형</a>
        </br>
        <a>[기간]&nbsp</a>
        <a th:href="@{/stat_trade/useareaType?sigunguCode={sigungucode}&uaType={ua}&term=0 (sigungucode=${sigungucode}, ua=${ua})}">올해</a>
        <b>&nbsp/&nbsp</b>
        <a th:href="@{/stat_trade/useareaType?sigunguCode={sigungucode}&uaType={ua}&term=5 (sigungucode=${sigungucode}, ua=${ua})}">5년</a>
        <b>&nbsp/&nbsp</b>
        <a th:href="@{/stat_trade/useareaType?sigunguCode={sigungucode}&uaType={ua}&term=10 (sigungucode=${sigungucode}, ua=${ua})}">10년</a>
        <b>&nbsp/&nbsp</b>
        <a th:href="@{/stat_trade/useareaType?sigunguCode={sigungucode}&uaType={ua}&term=15 (sigungucode=${sigungucode}, ua=${ua})}">15년</a>
        <table class="table table-striped">
            <thead class="table-dark">
                <tr style="font-size:12px;" align="center">
                    <th>년-월</th>
                    <th>최저</th>
                    <th>평균</th>
                    <th>최고</th>
                    <th>거래건수<br/>신고가율</th>
                    <th>평균<br/>전용<br/>(m<sup>2</sup>)</th>
                </tr>
            </thead>
            <tbody>
                <tr style="font-size:12px;" th:each="list : ${list}">
                    <td align="center" th:text="${list.dealYYMM}"></td>
                    <td align="right" th:text="${list.minPriceStr}"></td>
                    <td align="right" style="font-weight: bolder" th:text="${list.avgPriceStr}"></td>
                    <td align="right" th:text="${list.maxPriceStr}"></td>
                    <td>
                        <div align="right">
                            <a th:text="|${#numbers.formatInteger(list.cnt,1,'COMMA')} 건|"></a></br>
                            <a style="font-weight: bolder" th:text="|${#numbers.formatDecimal(list.highestRate,1,1,'POINT')} %|"></a>
                        </div>
                    </td>
                    <td align="right" th:text="${#numbers.formatDecimal(list.avgUseArea,1,1,'POINT')}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type = "text/javascript" th:inline="javascript">
  const labels =  /*[[ ${dates.toArray()} ]]*/;
  const avgPrices =  /*[[ ${avgprc.toArray()} ]]*/;
  const tradcnt =  /*[[ ${tradcnt.toArray()} ]]*/;
  const interestRates =  /*[[ ${interestRates.toArray()} ]]*/;

  const data = {
    labels: labels,
    datasets: [{
      type: 'line',
      label: '평균 매매가',
      yAxisID: 'y-line',
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      pointRadius:1,
      data: avgPrices
      },{
        type: 'line',
        label: '기준금리',
        yAxisID: 'y-line2',
        backgroundColor: 'rgb(64, 64, 64)',
        borderColor: 'rgb(64, 64, 64)',
        pointRadius:1,
        data: interestRates
      },{
        type: 'bar',
        label: '거래건수',
        yAxisID: 'y-bar',
        backgroundColor: 'rgb(54, 162, 235)',
        borderColor: 'rgb(54, 162, 235)',
        data: tradcnt
      }
    ]
  };

  const config = {
    data: data,
    options: {
        scales:{
            'y-line':{
                position: 'left',
                suggestedMin: 0,
                ticks:{
				    color: 'rgb(255, 99, 132)'
				},
                title: {
                    display: true,
                    color: 'rgb(255, 99, 132)',
                    text: '평균매매가(억)'
                }
            },
            'y-line2':{
                position: 'left',
                suggestedMin: 0,
                suggestedMax: 7,
                ticks:{
				    color: 'rgb(64, 64, 64)'
				},
				grid:{
                    display: false
                },
                title: {
                    display: true,
                    color: 'rgb(64, 64, 64)',
                    text: '한국은행 기준금리'
                }
            },
            'y-bar':{
                position: 'right',
                suggestedMin: 0,
                grid:{
                    display: false
                },
                ticks:{
				    color: 'rgb(54, 162, 235)'
				},
                title: {
                    display: true,
                    color: 'rgb(54, 162, 235)',
                    text: '거래건수'
                }
            }
        }
    }
  };
</script>
<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>

</html>