<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
<!--        <div class="dropdown">-->
<!--            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                구 선택-->
<!--            </button>-->
<!--            <ul class="dropdown-menu">-->
<!--                <li><a class="dropdown-item" th:href="@{/stat_trade/useareaType?sigunguCode=11&uaType={ua}&term={term} (term=${term}, ua=${ua})}">서울 전체</a></li>-->
<!--                <li><a class="dropdown-item" th:href="@{/stat_trade/useareaType?sigunguCode=11680&uaType={ua}&term={term} (term=${term}, ua=${ua})}">강남구</a></li>-->
<!--            </ul>-->
<!--        </div>-->
        <a th:href="@{/stat_trade/useareaType?sigunguCode=11&uaType={ua}&term={term} (term=${term}, ua=${ua})}">서울 전체</a>
        <div>
            <a th:href="@{/stat_trade/useareaType?sigunguCode=11680&uaType={ua}&term={term} (term=${term}, ua=${ua})}">강남구&nbsp</a>
            <a th:href="@{/stat_trade/useareaType?sigunguCode=11740&uaType={ua}&term={term} (term=${term}, ua=${ua})}">&nbsp강동구&nbsp</a>
            <a th:href="@{/stat_trade/useareaType?sigunguCode=11305&uaType={ua}&term={term} (term=${term}, ua=${ua})}">&nbsp강북구&nbsp</a>
            <a th:href="@{/stat_trade/useareaType?sigunguCode=11500&uaType={ua}&term={term} (term=${term}, ua=${ua})}">&nbsp강서구&nbsp</a>
            <a th:href="@{/stat_trade/useareaType?sigunguCode=11620&uaType={ua}&term={term} (term=${term}, ua=${ua})}">&nbsp관악구&nbsp</a>
            <a th:href="@{/stat_trade/useareaType?sigunguCode=11215&uaType={ua}&term={term} (term=${term}, ua=${ua})}">&nbsp광진구&nbsp</a>
            <a th:href="@{/stat_trade/useareaType?sigunguCode=11530&uaType={ua}&term={term} (term=${term}, ua=${ua})}">&nbsp구로구</a>
        </div>
        <div>
            <a th:href="@{/stat_trade/useareaType?sigunguCode=11545&uaType={ua}&term={term} (term=${term}, ua=${ua})}">금천구&nbsp</a>
            <a th:href="@{/stat_trade/useareaType?sigunguCode=11350&uaType={ua}&term={term} (term=${term}, ua=${ua})}">&nbsp노원구&nbsp</a>
            <a th:href="@{/stat_trade/useareaType?sigunguCode=11320&uaType={ua}&term={term} (term=${term}, ua=${ua})}">&nbsp도봉구&nbsp</a>
            <a th:href="@{/stat_trade/useareaType?sigunguCode=11230&uaType={ua}&term={term} (term=${term}, ua=${ua})}">&nbsp동대문&nbsp</a>
            <a th:href="@{/stat_trade/useareaType?sigunguCode=11590&uaType={ua}&term={term} (term=${term}, ua=${ua})}">&nbsp동작구&nbsp</a>
            <a th:href="@{/stat_trade/useareaType?sigunguCode=11440&uaType={ua}&term={term} (term=${term}, ua=${ua})}">&nbsp마포구&nbsp</a>
            <a th:href="@{/stat_trade/useareaType?sigunguCode=11410&uaType={ua}&term={term} (term=${term}, ua=${ua})}">&nbsp서대문</a>
        </div>
        <div>
            <a th:href="@{/stat_trade/useareaType?sigunguCode=11650&uaType={ua}&term={term} (term=${term}, ua=${ua})}">서초구&nbsp</a>
            <a th:href="@{/stat_trade/useareaType?sigunguCode=11200&uaType={ua}&term={term} (term=${term}, ua=${ua})}">&nbsp성동구&nbsp</a>
            <a th:href="@{/stat_trade/useareaType?sigunguCode=11290&uaType={ua}&term={term} (term=${term}, ua=${ua})}">&nbsp성북구&nbsp</a>
            <a th:href="@{/stat_trade/useareaType?sigunguCode=11710&uaType={ua}&term={term} (term=${term}, ua=${ua})}">&nbsp송파구&nbsp</a>
            <a th:href="@{/stat_trade/useareaType?sigunguCode=11470&uaType={ua}&term={term} (term=${term}, ua=${ua})}">&nbsp양천구&nbsp</a>
            <a th:href="@{/stat_trade/useareaType?sigunguCode=11560&uaType={ua}&term={term} (term=${term}, ua=${ua})}">&nbsp영등포&nbsp</a>
            <a th:href="@{/stat_trade/useareaType?sigunguCode=11170&uaType={ua}&term={term} (term=${term}, ua=${ua})}">&nbsp용산구</a>
        </div>
        <div>
            <a th:href="@{/stat_trade/useareaType?sigunguCode=11380&uaType={ua}&term={term} (term=${term}, ua=${ua})}">은평구&nbsp</a>
            <a th:href="@{/stat_trade/useareaType?sigunguCode=11110&uaType={ua}&term={term} (term=${term}, ua=${ua})}">&nbsp종로구&nbsp</a>
            <a th:href="@{/stat_trade/useareaType?sigunguCode=11260&uaType={ua}&term={term} (term=${term}, ua=${ua})}">&nbsp중랑구&nbsp</a>
            <a th:href="@{/stat_trade/useareaType?sigunguCode=11140&uaType={ua}&term={term} (term=${term}, ua=${ua})}">&nbsp중구</a>
        </div>
        <p>
            <h6 align="center" th:text="|[ ${title} ${termStr} ]|"></h6>
            <h6 align="center" th:text="|* ${uaStr} |"></h6>
        </p>
        <div>
            <canvas id="myChart"></canvas>
        </div>
        <div>
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-jcQR8RwkXK2z2xvE"
                 data-ad-width   = "320"
                 data-ad-height  = "100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
        <a style="font-size: 16px">[평형]&nbsp</a>
        <a style="font-size: 16px" th:href="@{/stat_trade/useareaType?sigunguCode={sigungucode}&uaType=UA01&term={term} (sigungucode=${sigungucode}, term=${term})}">전체&nbsp</a>
        <a style="font-size: 16px" th:href="@{/stat_trade/useareaType?sigunguCode={sigungucode}&uaType=UA02&term={term} (sigungucode=${sigungucode}, term=${term})}">소형&nbsp</a>
        <a style="font-size: 16px" th:href="@{/stat_trade/useareaType?sigunguCode={sigungucode}&uaType=UA08&term={term} (sigungucode=${sigungucode}, term=${term})}">전용59&nbsp</a>
        <a style="font-size: 16px" th:href="@{/stat_trade/useareaType?sigunguCode={sigungucode}&uaType=UA03&term={term} (sigungucode=${sigungucode}, term=${term})}">중소형&nbsp</a>
        <a style="font-size: 16px" th:href="@{/stat_trade/useareaType?sigunguCode={sigungucode}&uaType=UA07&term={term} (sigungucode=${sigungucode}, term=${term})}">국평&nbsp</a>
        </br>
        <a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
        <a style="font-size: 16px" th:href="@{/stat_trade/useareaType?sigunguCode={sigungucode}&uaType=UA04&term={term} (sigungucode=${sigungucode}, term=${term})}">중형&nbsp</a>
        <a style="font-size: 16px" th:href="@{/stat_trade/useareaType?sigunguCode={sigungucode}&uaType=UA05&term={term} (sigungucode=${sigungucode}, term=${term})}">중대형&nbsp</a>
        <a style="font-size: 16px" th:href="@{/stat_trade/useareaType?sigunguCode={sigungucode}&uaType=UA06&term={term} (sigungucode=${sigungucode}, term=${term})}">대형&nbsp</a>
        </br>
        <a style="font-size: 16px">[기간]&nbsp</a>
        <a style="font-size: 16px" th:href="@{/stat_trade/useareaType?sigunguCode={sigungucode}&uaType={ua}&term=0 (sigungucode=${sigungucode}, ua=${ua})}">올해</a>
        <b>&nbsp/&nbsp</b>
        <a style="font-size: 16px" th:href="@{/stat_trade/useareaType?sigunguCode={sigungucode}&uaType={ua}&term=5 (sigungucode=${sigungucode}, ua=${ua})}">5년</a>
        <b>&nbsp/&nbsp</b>
        <a style="font-size: 16px" th:href="@{/stat_trade/useareaType?sigunguCode={sigungucode}&uaType={ua}&term=10 (sigungucode=${sigungucode}, ua=${ua})}">10년</a>
        <b>&nbsp/&nbsp</b>
        <a style="font-size: 16px" th:href="@{/stat_trade/useareaType?sigunguCode={sigungucode}&uaType={ua}&term=15 (sigungucode=${sigungucode}, ua=${ua})}">15년</a>
        <table class="table table-striped">
            <thead class="table-dark">
                <tr style="font-size:12px;" align="center">
                    <th>년-월</th>
                    <th>최저</th>
                    <th>평균</th>
                    <th>최고</th>
                    <th>거래건수<br/>신고가율</th>
                    <th>평균<br/>전용<br/>(m<sup>2</sup>)</th>
                </tr>
            </thead>
            <tbody>
                <tr style="font-size:12px;" th:each="list : ${list}">
                    <td align="center" th:text="${list.dealYYMM}"></td>
                    <td align="right" th:text="${list.minPriceStr}"></td>
                    <td align="right" style="font-weight: bolder" th:text="${list.avgPriceStr}"></td>
                    <td align="right" th:text="${list.maxPriceStr}"></td>
                    <td>
                        <div align="right">
                            <a th:text="|${#numbers.formatInteger(list.cnt,1,'COMMA')} 건|"></a></br>
                            <a style="font-weight: bolder" th:text="|${#numbers.formatDecimal(list.highestRate,1,1,'POINT')} %|"></a>
                        </div>
                    </td>
<!--                    <td align="right" th:text="${#numbers.formatInteger(list.cnt,1,'COMMA')}"></td>-->
<!--                    <td align="right" th:text="${#numbers.formatDecimal(list.highestRate,1,1,'POINT')}"></td>-->
                    <td align="right" th:text="${#numbers.formatDecimal(list.avgUseArea,1,1,'POINT')}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type = "text/javascript" th:inline="javascript">
  const labels =  /*[[ ${dates.toArray()} ]]*/;
  const avgPrices =  /*[[ ${avgprc.toArray()} ]]*/;
  const tradcnt =  /*[[ ${tradcnt.toArray()} ]]*/;
  const interestRates =  /*[[ ${interestRates.toArray()} ]]*/;

  const data = {
    labels: labels,
    datasets: [{
      type: 'line',
      label: '평균 매매가',
      yAxisID: 'y-line',
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      pointRadius:1,
      data: avgPrices
      },{
        type: 'line',
        label: '기준금리',
        yAxisID: 'y-line2',
        backgroundColor: 'rgb(64, 64, 64)',
        borderColor: 'rgb(64, 64, 64)',
        pointRadius:1,
        data: interestRates
      },{
        type: 'bar',
        label: '거래건수',
        yAxisID: 'y-bar',
        backgroundColor: 'rgb(54, 162, 235)',
        borderColor: 'rgb(54, 162, 235)',
        data: tradcnt
      }
    ]
  };

  const config = {
    data: data,
    options: {
        scales:{
            'y-line':{
                position: 'left',
                suggestedMin: 0,
                ticks:{
				    color: 'rgb(255, 99, 132)'
				},
                title: {
                    display: true,
                    color: 'rgb(255, 99, 132)',
                    text: '평균매매가(억)'
                }
            },
            'y-line2':{
                position: 'left',
                suggestedMin: 0,
                suggestedMax: 7,
                ticks:{
				    color: 'rgb(64, 64, 64)'
				},
				grid:{
                    display: false
                },
                title: {
                    display: true,
                    color: 'rgb(64, 64, 64)',
                    text: '한국은행 기준금리'
                }
            },
            'y-bar':{
                position: 'right',
                suggestedMin: 0,
                grid:{
                    display: false
                },
                ticks:{
				    color: 'rgb(54, 162, 235)'
				},
                title: {
                    display: true,
                    color: 'rgb(54, 162, 235)',
                    text: '거래건수'
                }
            }
        }
    }
  };
</script>
<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>

</html>