<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div class="container">

    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div>
        <div>
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-jcQR8RwkXK2z2xvE"
                 data-ad-width   = "320"
                 data-ad-height  = "100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>

        <h6>평형대별 평균전세가 TOP 20</h6>
        <p>
            <a class="btn btn-primary" href="/stat_rank_uatype/lease?rankGubn=0&dealYear=2023&sigunguCode=11&uaType=UA02">서울</a>
            <a class="btn btn-primary" href="/stat_rank_uatype/lease?rankGubn=0&dealYear=2023&sigunguCode=41&uaType=UA02">경기</a>
            <a class="btn btn-primary" href="/stat_rank_uatype/lease?rankGubn=0&dealYear=2023&sigunguCode=28&uaType=UA02">인천</a>
            <a class="btn btn-primary" href="/stat_rank_uatype/lease?rankGubn=0&dealYear=2023&sigunguCode=42&uaType=UA02">강원</a>
            </br>
            </br>
            <a class="btn btn-primary" href="/stat_rank_uatype/lease?rankGubn=0&dealYear=2023&sigunguCode=36110&uaType=UA02">세종</a>
            <a class="btn btn-primary" href="/stat_rank_uatype/lease?rankGubn=0&dealYear=2023&sigunguCode=30&uaType=UA02">대전</a>
            <a class="btn btn-primary" href="/stat_rank_uatype/lease?rankGubn=0&dealYear=2023&sigunguCode=42&uaType=UA02">충북</a>
            <a class="btn btn-primary" href="/stat_rank_uatype/lease?rankGubn=0&dealYear=2023&sigunguCode=44&uaType=UA02">충남</a>
            </br>
            </br>
            <a class="btn btn-primary" href="/stat_rank_uatype/lease?rankGubn=0&dealYear=2023&sigunguCode=26&uaType=UA02">부산</a>
            <a class="btn btn-primary" href="/stat_rank_uatype/lease?rankGubn=0&dealYear=2023&sigunguCode=27&uaType=UA02">대구</a>
            <a class="btn btn-primary" href="/stat_rank_uatype/lease?rankGubn=0&dealYear=2023&sigunguCode=31&uaType=UA02">울산</a>
            <a class="btn btn-primary" href="/stat_rank_uatype/lease?rankGubn=0&dealYear=2023&sigunguCode=47&uaType=UA02">경북</a>
            <a class="btn btn-primary" href="/stat_rank_uatype/lease?rankGubn=0&dealYear=2023&sigunguCode=48&uaType=UA02">경남</a>
            </br>
            </br>
            <a class="btn btn-primary" href="/stat_rank_uatype/lease?rankGubn=0&dealYear=2023&sigunguCode=29&uaType=UA02">광주</a>
            <a class="btn btn-primary" href="/stat_rank_uatype/lease?rankGubn=0&dealYear=2023&sigunguCode=45&uaType=UA02">전북</a>
            <a class="btn btn-primary" href="/stat_rank_uatype/lease?rankGubn=0&dealYear=2023&sigunguCode=46&uaType=UA02">전남</a>
            <a class="btn btn-primary" href="/stat_rank_uatype/lease?rankGubn=0&dealYear=2023&sigunguCode=50&uaType=UA02">제주</a>
        </p>

        <h6>평형대별 전세건수 TOP 20</h6>
        <p>
            <a class="btn btn-outline-primary" href="/stat_rank_uatype/lease?rankGubn=1&dealYear=2023&sigunguCode=11&uaType=UA02">서울</a>
            <a class="btn btn-outline-primary" href="/stat_rank_uatype/lease?rankGubn=1&dealYear=2023&sigunguCode=41&uaType=UA02">경기</a>
            <a class="btn btn-outline-primary" href="/stat_rank_uatype/lease?rankGubn=1&dealYear=2023&sigunguCode=28&uaType=UA02">인천</a>
            <a class="btn btn-outline-primary" href="/stat_rank_uatype/lease?rankGubn=1&dealYear=2023&sigunguCode=42&uaType=UA02">강원</a>
            </br>
            </br>
            <a class="btn btn-outline-primary" href="/stat_rank_uatype/lease?rankGubn=1&dealYear=2023&sigunguCode=36110&uaType=UA02">세종</a>
            <a class="btn btn-outline-primary" href="/stat_rank_uatype/lease?rankGubn=1&dealYear=2023&sigunguCode=30&uaType=UA02">대전</a>
            <a class="btn btn-outline-primary" href="/stat_rank_uatype/lease?rankGubn=1&dealYear=2023&sigunguCode=42&uaType=UA02">충북</a>
            <a class="btn btn-outline-primary" href="/stat_rank_uatype/lease?rankGubn=1&dealYear=2023&sigunguCode=44&uaType=UA02">충남</a>
            </br>
            </br>
            <a class="btn btn-outline-primary" href="/stat_rank_uatype/lease?rankGubn=1&dealYear=2023&sigunguCode=26&uaType=UA02">부산</a>
            <a class="btn btn-outline-primary" href="/stat_rank_uatype/lease?rankGubn=1&dealYear=2023&sigunguCode=27&uaType=UA02">대구</a>
            <a class="btn btn-outline-primary" href="/stat_rank_uatype/lease?rankGubn=1&dealYear=2023&sigunguCode=31&uaType=UA02">울산</a>
            <a class="btn btn-outline-primary" href="/stat_rank_uatype/lease?rankGubn=1&dealYear=2023&sigunguCode=47&uaType=UA02">경북</a>
            <a class="btn btn-outline-primary" href="/stat_rank_uatype/lease?rankGubn=1&dealYear=2023&sigunguCode=48&uaType=UA02">경남</a>
            </br>
            </br>
            <a class="btn btn-outline-primary" href="/stat_rank_uatype/lease?rankGubn=1&dealYear=2023&sigunguCode=29&uaType=UA02">광주</a>
            <a class="btn btn-outline-primary" href="/stat_rank_uatype/lease?rankGubn=1&dealYear=2023&sigunguCode=45&uaType=UA02">전북</a>
            <a class="btn btn-outline-primary" href="/stat_rank_uatype/lease?rankGubn=1&dealYear=2023&sigunguCode=46&uaType=UA02">전남</a>
            <a class="btn btn-outline-primary" href="/stat_rank_uatype/lease?rankGubn=1&dealYear=2023&sigunguCode=50&uaType=UA02">제주</a>
        </p>
    </div>

    <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->
<script>
</script>
</body>
</html>