<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <!--    <a th:text="${year}"></a>-->
    <div>
        <div>
            <a>성남&nbsp</a>
            <a th:href="@{/stat_lease/top?sigunguCode=41131&uaType={uatype}&leaseType={leasetype}  (uatype=${uatype}, leasetype=${leasetype})}">수정&nbsp</a>
            <a th:href="@{/stat_lease/top?sigunguCode=41133&uaType={uatype}&leaseType={leasetype}  (uatype=${uatype}, leasetype=${leasetype})}">중원&nbsp</a>
            <a th:href="@{/stat_lease/top?sigunguCode=41135&uaType={uatype}&leaseType={leasetype}  (uatype=${uatype}, leasetype=${leasetype})}">분당</a>
            <b>/&nbsp</b>
            <a>고양&nbsp</a>
            <a th:href="@{/stat_lease/top?sigunguCode=41281&uaType={uatype}&leaseType={leasetype}  (uatype=${uatype}, leasetype=${leasetype})}">덕양&nbsp</a>
            <a th:href="@{/stat_lease/top?sigunguCode=41285&uaType={uatype}&leaseType={leasetype}  (uatype=${uatype}, leasetype=${leasetype})}">일산동&nbsp</a>
            <a th:href="@{/stat_lease/top?sigunguCode=41287&uaType={uatype}&leaseType={leasetype}  (uatype=${uatype}, leasetype=${leasetype})}">일산서</a>
        </div>
        <div>
            <a>용인&nbsp</a>
            <a th:href="@{/stat_lease/top?sigunguCode=41461&uaType={uatype}&leaseType={leasetype}  (uatype=${uatype}, leasetype=${leasetype})}">처인&nbsp</a>
            <a th:href="@{/stat_lease/top?sigunguCode=41463&uaType={uatype}&leaseType={leasetype}  (uatype=${uatype}, leasetype=${leasetype})}">기흥&nbsp</a>
            <a th:href="@{/stat_lease/top?sigunguCode=41465&uaType={uatype}&leaseType={leasetype}  (uatype=${uatype}, leasetype=${leasetype})}">수지</a>
            <b>/&nbsp</b>
            <a>수원&nbsp</a>
            <a th:href="@{/stat_lease/top?sigunguCode=41111&uaType={uatype}&leaseType={leasetype}  (uatype=${uatype}, leasetype=${leasetype})}">장안&nbsp</a>
            <a th:href="@{/stat_lease/top?sigunguCode=41113&uaType={uatype}&leaseType={leasetype}  (uatype=${uatype}, leasetype=${leasetype})}">권선&nbsp</a>
            <a th:href="@{/stat_lease/top?sigunguCode=41115&uaType={uatype}&leaseType={leasetype}  (uatype=${uatype}, leasetype=${leasetype})}">팔달&nbsp</a>
            <a th:href="@{/stat_lease/top?sigunguCode=41117&uaType={uatype}&leaseType={leasetype}  (uatype=${uatype}, leasetype=${leasetype})}">영통</a>
        </div>
        <div>
            <a>안산&nbsp</a>
            <a th:href="@{/stat_lease/top?sigunguCode=41271&uaType={uatype}&leaseType={leasetype}  (uatype=${uatype}, leasetype=${leasetype})}">상록&nbsp</a>
            <a th:href="@{/stat_lease/top?sigunguCode=41273&uaType={uatype}&leaseType={leasetype}  (uatype=${uatype}, leasetype=${leasetype})}">단원</a>
            <b>/&nbsp</b>
            <a>안양&nbsp</a>
            <a th:href="@{/stat_lease/top?sigunguCode=41171&uaType={uatype}&leaseType={leasetype}  (uatype=${uatype}, leasetype=${leasetype})}">만안&nbsp</a>
            <a th:href="@{/stat_lease/top?sigunguCode=41173&uaType={uatype}&leaseType={leasetype}  (uatype=${uatype}, leasetype=${leasetype})}">동안</a>
        </div>
        <div>
            <a th:href="@{/stat_lease/top?sigunguCode=41820&uaType={uatype}&leaseType={leasetype}  (uatype=${uatype}, leasetype=${leasetype})}">가평군&nbsp</a>
            <a th:href="@{/stat_lease/top?sigunguCode=41290&uaType={uatype}&leaseType={leasetype}  (uatype=${uatype}, leasetype=${leasetype})}">&nbsp과천시&nbsp</a>
            <a th:href="@{/stat_lease/top?sigunguCode=41210&uaType={uatype}&leaseType={leasetype}  (uatype=${uatype}, leasetype=${leasetype})}">&nbsp광명시&nbsp</a>
            <a th:href="@{/stat_lease/top?sigunguCode=41610&uaType={uatype}&leaseType={leasetype}  (uatype=${uatype}, leasetype=${leasetype})}">&nbsp광주시&nbsp</a>
            <a th:href="@{/stat_lease/top?sigunguCode=41310&uaType={uatype}&leaseType={leasetype}  (uatype=${uatype}, leasetype=${leasetype})}">&nbsp구리시&nbsp</a>
            <a th:href="@{/stat_lease/top?sigunguCode=41410&uaType={uatype}&leaseType={leasetype}  (uatype=${uatype}, leasetype=${leasetype})}">&nbsp군포시&nbsp</a>
            <a th:href="@{/stat_lease/top?sigunguCode=41570&uaType={uatype}&leaseType={leasetype}  (uatype=${uatype}, leasetype=${leasetype})}">&nbsp김포시</a>
        </div>
        <div>
            <a th:href="@{/stat_lease/top?sigunguCode=41360&uaType={uatype}&leaseType={leasetype}  (uatype=${uatype}, leasetype=${leasetype})}">남양주&nbsp</a>
            <a th:href="@{/stat_lease/top?sigunguCode=41250&uaType={uatype}&leaseType={leasetype}  (uatype=${uatype}, leasetype=${leasetype})}">&nbsp동두천&nbsp</a>
            <a th:href="@{/stat_lease/top?sigunguCode=41190&uaType={uatype}&leaseType={leasetype}  (uatype=${uatype}, leasetype=${leasetype})}">&nbsp부천시&nbsp</a>
            <a th:href="@{/stat_lease/top?sigunguCode=41390&uaType={uatype}&leaseType={leasetype}  (uatype=${uatype}, leasetype=${leasetype})}">&nbsp시흥시&nbsp</a>
            <a th:href="@{/stat_lease/top?sigunguCode=41550&uaType={uatype}&leaseType={leasetype}  (uatype=${uatype}, leasetype=${leasetype})}">&nbsp안성시&nbsp</a>
            <a th:href="@{/stat_lease/top?sigunguCode=41630&uaType={uatype}&leaseType={leasetype}  (uatype=${uatype}, leasetype=${leasetype})}">&nbsp양주시&nbsp</a>
            <a th:href="@{/stat_lease/top?sigunguCode=41830&uaType={uatype}&leaseType={leasetype}  (uatype=${uatype}, leasetype=${leasetype})}">&nbsp양평군</a>
        </div>
        <div>
            <a th:href="@{/stat_lease/top?sigunguCode=41670&uaType={uatype}&leaseType={leasetype}  (uatype=${uatype}, leasetype=${leasetype})}">여주시&nbsp</a>
            <a th:href="@{/stat_lease/top?sigunguCode=41800&uaType={uatype}&leaseType={leasetype}  (uatype=${uatype}, leasetype=${leasetype})}">&nbsp연천군&nbsp</a>
            <a th:href="@{/stat_lease/top?sigunguCode=41370&uaType={uatype}&leaseType={leasetype}  (uatype=${uatype}, leasetype=${leasetype})}">&nbsp오산시&nbsp</a>
            <a th:href="@{/stat_lease/top?sigunguCode=41430&uaType={uatype}&leaseType={leasetype}  (uatype=${uatype}, leasetype=${leasetype})}">&nbsp의왕시&nbsp</a>
            <a th:href="@{/stat_lease/top?sigunguCode=41150&uaType={uatype}&leaseType={leasetype}  (uatype=${uatype}, leasetype=${leasetype})}">&nbsp의정부&nbsp</a>
            <a th:href="@{/stat_lease/top?sigunguCode=41500&uaType={uatype}&leaseType={leasetype}  (uatype=${uatype}, leasetype=${leasetype})}">&nbsp이천시&nbsp</a>
            <a th:href="@{/stat_lease/top?sigunguCode=41480&uaType={uatype}&leaseType={leasetype}  (uatype=${uatype}, leasetype=${leasetype})}">&nbsp파주시</a>
        </div>

        <div>
            <a th:href="@{/stat_lease/top?sigunguCode=41220&uaType={uatype}&leaseType={leasetype}  (uatype=${uatype}, leasetype=${leasetype})}">평택시&nbsp</a>
            <a th:href="@{/stat_lease/top?sigunguCode=41650&uaType={uatype}&leaseType={leasetype}  (uatype=${uatype}, leasetype=${leasetype})}">&nbsp포천시&nbsp</a>
            <a th:href="@{/stat_lease/top?sigunguCode=41450&uaType={uatype}&leaseType={leasetype}  (uatype=${uatype}, leasetype=${leasetype})}">&nbsp하남시&nbsp</a>
            <a th:href="@{/stat_lease/top?sigunguCode=41590&uaType={uatype}&leaseType={leasetype}  (uatype=${uatype}, leasetype=${leasetype})}">&nbsp화성시</a>
        </div>
        <h5 align="center" th:text="|[ ${title} ]|"></h5>
        <h6 align="center" th:text="|* ${subtitle}|"></h6>
<!--        <h6 align="center">* 월별 전세 통계</h6>-->
        <div>
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-jcQR8RwkXK2z2xvE"
                 data-ad-width   = "320"
                 data-ad-height  = "100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
        <a style="font-size: 20px">[평형]&nbsp</a>
        <a style="font-size: 20px" th:href="@{/stat_lease/top?sigunguCode={sigungucode}&uaType=UA01&leaseType={leasetype} (sigungucode=${sigungucode}, leasetype=${leasetype})}">전체&nbsp</a>
        <a style="font-size: 20px" th:href="@{/stat_lease/top?sigunguCode={sigungucode}&uaType=UA08&leaseType={leasetype} (sigungucode=${sigungucode}, leasetype=${leasetype})}">전용59&nbsp</a>
        <a style="font-size: 20px" th:href="@{/stat_lease/top?sigunguCode={sigungucode}&uaType=UA07&leaseType={leasetype} (sigungucode=${sigungucode}, leasetype=${leasetype})}">국평&nbsp</a>
        <a style="font-size: 20px" th:href="@{/stat_lease/top?sigunguCode={sigungucode}&uaType=UA04&leaseType={leasetype} (sigungucode=${sigungucode}, leasetype=${leasetype})}">중형&nbsp</a>
        <a style="font-size: 20px" th:href="@{/stat_lease/top?sigunguCode={sigungucode}&uaType=UA05&leaseType={leasetype} (sigungucode=${sigungucode}, leasetype=${leasetype})}">중대형&nbsp</a>
        <a style="font-size: 20px" th:href="@{/stat_lease/top?sigunguCode={sigungucode}&uaType=UA06&leaseType={leasetype} (sigungucode=${sigungucode}, leasetype=${leasetype})}">대형&nbsp</a>
<!--        <div>-->
<!--            <a>[기간]&nbsp</a>-->
<!--            <a th:href="@{/stat_lease/top?sigunguCode={sigungucode}&uaType={uatype}&leaseType={leasetype} (sigungucode=${sigungucode}, uatype=${uatype}, leasetype={leasetype})}">올해&nbsp</a>-->
<!--            <b>/&nbsp</b>-->
<!--            <a th:href="@{/stat_lease/top?sigunguCode={sigungucode}&uaType={uatype}&leaseType={leasetype} (sigungucode=${sigungucode}, uatype=${uatype}, leasetype={leasetype})}">2년&nbsp</a>-->
<!--            <b>/&nbsp</b>-->
<!--            <a th:href="@{/stat_lease/top?sigunguCode={sigungucode}&uaType={uatype}&leaseType={leasetype} (sigungucode=${sigungucode}, uatype=${uatype}, leasetype={leasetype})}">3년&nbsp</a>-->
<!--            <b>/&nbsp</b>-->
<!--            <a th:href="@{/stat_lease/top?sigunguCode={sigungucode}&uaType={uatype}&leaseType={leasetype} (sigungucode=${sigungucode}, uatype=${uatype}, leasetype={leasetype})}">5년&nbsp</a>-->
<!--            <b>/&nbsp</b>-->
<!--            <a th:href="@{/stat_lease/top?sigunguCode={sigungucode}&uaType={uatype}&leaseType={leasetype} (sigungucode=${sigungucode}, uatype=${uatype}, leasetype={leasetype})}">전체&nbsp</a>-->
<!--        </div>-->
        <table class="table table-striped">
            <thead class="table-dark">
                <tr style="font-size:12px;" align="center">
                    <th>일자</th>
                    <th>계약</th>
                    <th>아파트</th>
                    <th>전용</br>면적(m<sup>2</sup>)</th>
                    <th>보증금</th>
                    <th>월세</th>
<!--                    <th>이전</br>보증금</th>-->
                </tr>
            </thead>
            <tbody>
                <tr style="font-size:12px;" th:each="list : ${list}">
                    <td align="center" th:text="${list.dealDate}"></td>
                    <td align="center">
                        <div>
                            <a th:text="${list.dealType}"></a></br>
                            <a th:text="${list.dealTerm}"></a>
                        </div>
                    </td>
                    <td align="left">
                        <div>
                            <a th:text="${list.landDong}"></a></br>
                            <a th:text="${list.aptName}" th:href="@{/leaselist/ByName/{sigungucode}/{dong}/{aptname}/{uatrunc}/1 (sigungucode=${list.gubnCode}, dong=${list.landDong}, aptname=${list.aptName}, uatrunc=${list.useAreaTrunc})}"></a></br>
                            <a th:text="|${list.floor} 층|"></a>
                        </div>
                    </td>
                    <td align="right" th:text="${#numbers.formatDecimal(list.useArea,1,2,'POINT')}"></td>
                    <td align="right" th:text="${list.depositStr}"></td>
<!--                    <td align="right" style="font-weight: bolder" th:text="${#numbers.formatInteger(list.deposit,1,'COMMA')}"></td>-->
                    <td align="right" th:text="${list.monthlyRentStr}"></td>
<!--                    <td align="right" style="font-weight: bolder" th:text="${#numbers.formatInteger(list.monthlyRent,1,'COMMA')}"></td>-->
<!--                    <td align="right" th:text="${#numbers.formatInteger(list.befDeposit,1,'COMMA')}"></td>-->
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>