<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <div>
            <a href="/stat_lease/seoul84/11680/5">강남구&nbsp</a>
            <a href="/stat_lease/seoul84/11740/5">&nbsp강동구&nbsp</a>
            <a href="/stat_lease/seoul84/11305/5">&nbsp강북구&nbsp</a>
            <a href="/stat_lease/seoul84/11500/5">&nbsp강서구&nbsp</a>
            <a href="/stat_lease/seoul84/11620/5">&nbsp관악구&nbsp</a>
            <a href="/stat_lease/seoul84/11215/5">&nbsp광진구&nbsp</a>
            <a href="/stat_lease/seoul84/11530/5">&nbsp구로구</a>
        </div>
        <div>
            <a href="/stat_lease/seoul84/11545/5">금천구&nbsp</a>
            <a href="/stat_lease/seoul84/11350/5">&nbsp노원구&nbsp</a>
            <a href="/stat_lease/seoul84/11320/5">&nbsp도봉구&nbsp</a>
            <a href="/stat_lease/seoul84/11230/5">&nbsp동대문&nbsp</a>
            <a href="/stat_lease/seoul84/11590/5">&nbsp동작구&nbsp</a>
            <a href="/stat_lease/seoul84/11440/5">&nbsp마포구&nbsp</a>
            <a href="/stat_lease/seoul84/11410/5">&nbsp서대문</a>
        </div>
        <div>
            <a href="/stat_lease/seoul84/11650/5">서초구&nbsp</a>
            <a href="/stat_lease/seoul84/11200/5">&nbsp성동구&nbsp</a>
            <a href="/stat_lease/seoul84/11290/5">&nbsp성북구&nbsp</a>
            <a href="/stat_lease/seoul84/11710/5">&nbsp송파구&nbsp</a>
            <a href="/stat_lease/seoul84/11470/5">&nbsp양천구&nbsp</a>
            <a href="/stat_lease/seoul84/11560/5">&nbsp영등포&nbsp</a>
            <a href="/stat_lease/seoul84/11170/5">&nbsp용산구</a>
        </div>
        <div>
            <a href="/stat_lease/seoul84/11380/5">은평구&nbsp</a>
            <a href="/stat_lease/seoul84/11110/5">&nbsp종로구&nbsp</a>
            <a href="/stat_lease/seoul84/11260/5">&nbsp중랑구&nbsp</a>
            <a href="/stat_lease/seoul84/11140/5">&nbsp중구</a>
        </div>
        <p>
        <h5 align="center" th:text="${title}"></h5>
        </p>
        <div>
            <canvas id="myChart"></canvas>
        </div>
        <div>
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-jcQR8RwkXK2z2xvE"
                 data-ad-width   = "320"
                 data-ad-height  = "100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
        <table class="table table-striped">
            <thead class="table-dark">
            <tr style="font-size:12px;" align="center">
                <th>년-월</th>
                <th>최저<br/>전세가</th>
                <th>평균<br/>전세가</th>
                <th>최고<br/>전세가</th>
                <th>거래건수</th>
            </tr>
            </thead>
            <tbody>
            <tr style="font-size:12px;" th:each="list : ${list}">
                <td align="center" th:text="${list.dealYYMM}"></td>
                <td align="right" th:text="${#numbers.formatInteger(list.minDeposit,1,'COMMA')}"></td>
                <td align="right" style="font-weight: bolder" th:text="${#numbers.formatInteger(list.avgDeposit,1,'COMMA')}"></td>
                <td align="right" th:text="${#numbers.formatInteger(list.maxDeposit,1,'COMMA')}"></td>
                <td align="right" th:text="${#numbers.formatInteger(list.cnt,1,'COMMA')}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type = "text/javascript" th:inline="javascript">
  const labels =  /*[[ ${dates.toArray()} ]]*/;
  const avgDeposits =  /*[[ ${avgDeposits.toArray()} ]]*/;
  const tradcnt =  /*[[ ${tradcnt.toArray()} ]]*/;
  const interestRates =  /*[[ ${interestRates.toArray()} ]]*/;

  const data = {
    labels: labels,
    datasets: [{
      type: 'line',
      label: '평균 전세가',
      yAxisID: 'y-line',
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      pointRadius:1,
      data: avgDeposits
      },{
        type: 'line',
        label: '기준금리',
        yAxisID: 'y-line2',
        backgroundColor: 'rgb(64, 64, 64)',
        borderColor: 'rgb(64, 64, 64)',
        pointRadius:1,
        data: interestRates
      },{
        type: 'bar',
        label: '거래건수',
        yAxisID: 'y-bar',
        backgroundColor: 'rgb(54, 162, 235)',
        borderColor: 'rgb(54, 162, 235)',
        data: tradcnt
      }
    ]
  };

  const config = {
    data: data,
    options: {
        scales:{
            'y-line':{
                position: 'left',
                suggestedMin: 0,
                ticks:{
				    color: 'rgb(255, 99, 132)'
				},
                title: {
                    display: true,
                    text: '평균전세가'
                }
            },
            'y-line2':{
                position: 'left',
                suggestedMin: 0,
                suggestedMax: 7,
                grid:{
                    display: false
                },
                ticks:{
				    color: 'rgb(64, 64, 64)'
				},
                title: {
                    display: true,
                    text: '한국은행 기준금리'
                }
            },
            'y-bar':{
                position: 'right',
                suggestedMin: 0,
                grid:{
                    display: false
                },
                ticks:{
				    color: 'rgb(54, 162, 235)'
				},
                title: {
                    display: true,
                    text: '거래건수'
                }
            }
        }
    }
  };
</script>
<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>

</html>