<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <!--    <a th:text="${year}"></a>-->
    <div>
        <div>
            <a href="/stat_lease/seoul/11680">강남구&nbsp</a>
            <a href="/stat_lease/seoul/11740">&nbsp강동구&nbsp</a>
            <a href="/stat_lease/seoul/11305">&nbsp강북구&nbsp</a>
            <a href="/stat_lease/seoul/11500">&nbsp강서구&nbsp</a>
            <a href="/stat_lease/seoul/11620">&nbsp관악구&nbsp</a>
            <a href="/stat_lease/seoul/11215">&nbsp광진구&nbsp</a>
            <a href="/stat_lease/seoul/11530">&nbsp구로구</a>
        </div>
        <div>
            <a href="/stat_lease/seoul/11545">금천구&nbsp</a>
            <a href="/stat_lease/seoul/11350">&nbsp노원구&nbsp</a>
            <a href="/stat_lease/seoul/11320">&nbsp도봉구&nbsp</a>
            <a href="/stat_lease/seoul/11230">&nbsp동대문&nbsp</a>
            <a href="/stat_lease/seoul/11590">&nbsp동작구&nbsp</a>
            <a href="/stat_lease/seoul/11440">&nbsp마포구&nbsp</a>
            <a href="/stat_lease/seoul/11410">&nbsp서대문</a>
        </div>

        <div>
            <a href="/stat_lease/seoul/11650">서초구&nbsp</a>
            <a href="/stat_lease/seoul/11200">&nbsp성동구&nbsp</a>
            <a href="/stat_lease/seoul/11290">&nbsp성북구&nbsp</a>
            <a href="/stat_lease/seoul/11710">&nbsp송파구&nbsp</a>
            <a href="/stat_lease/seoul/11470">&nbsp양천구&nbsp</a>
            <a href="/stat_lease/seoul/11560">&nbsp영등포&nbsp</a>
            <a href="/stat_lease/seoul/11170">&nbsp용산구</a>
        </div>
        <div>
            <a href="/stat_lease/seoul/11380">은평구&nbsp</a>
            <a href="/stat_lease/seoul/11110">&nbsp종로구&nbsp</a>
            <a href="/stat_lease/seoul/11260">&nbsp중랑구&nbsp</a>
            <a href="/stat_lease/seoul/11140">&nbsp중구</a>
        </div>
        <div>
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-jcQR8RwkXK2z2xvE"
                 data-ad-width   = "320"
                 data-ad-height  = "100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
        <table class="table table-striped">
            <thead class="table-dark">
                <tr style="font-size:12px;" align="center">
                    <th>지역</th>
                    <th>년-월</th>
                    <th>최저<br/>보증금</th>
                    <th>평균<br/>보증금</th>
                    <th>최고<br/>보증금</th>
                    <th>거래건수</th>
    <!--                <th>신고가</th>-->
                </tr>
            </thead>
            <tbody>
                <tr style="font-size:12px;" th:each="list : ${list}">
                    <td align="center" th:text="${list.sigunguName}"></td>
                    <td align="center" th:text="${list.dealYYMM}"></td>
                    <td align="right" th:text="${#numbers.formatInteger(list.minDeposit,1,'COMMA')}"></td>
                    <td align="right" th:text="${#numbers.formatInteger(list.avgDeposit,1,'COMMA')}"></td>
                    <td align="right" th:text="${#numbers.formatInteger(list.maxDeposit,1,'COMMA')}"></td>
                    <td align="right" th:text="${#numbers.formatInteger(list.cnt,1,'COMMA')}"></td>
    <!--                <td align="right" th:text="${list.newHighest}"></td>-->
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>