<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <div>
            <a th:href="@{/stat_lease/seoul84/11680/1/{term} (term=${term})}">강남구&nbsp</a>
            <a th:href="@{/stat_lease/seoul84/11740/1/{term} (term=${term})}">&nbsp강동구&nbsp</a>
            <a th:href="@{/stat_lease/seoul84/11305/1/{term} (term=${term})}">&nbsp강북구&nbsp</a>
            <a th:href="@{/stat_lease/seoul84/11500/1/{term} (term=${term})}">&nbsp강서구&nbsp</a>
            <a th:href="@{/stat_lease/seoul84/11620/1/{term} (term=${term})}">&nbsp관악구&nbsp</a>
            <a th:href="@{/stat_lease/seoul84/11215/1/{term} (term=${term})}">&nbsp광진구&nbsp</a>
            <a th:href="@{/stat_lease/seoul84/11530/1/{term} (term=${term})}">&nbsp구로구</a>
        </div>
        <div>
            <a th:href="@{/stat_lease/seoul84/11545/1/{term} (term=${term})}">금천구&nbsp</a>
            <a th:href="@{/stat_lease/seoul84/11350/1/{term} (term=${term})}">&nbsp노원구&nbsp</a>
            <a th:href="@{/stat_lease/seoul84/11320/1/{term} (term=${term})}">&nbsp도봉구&nbsp</a>
            <a th:href="@{/stat_lease/seoul84/11230/1/{term} (term=${term})}">&nbsp동대문&nbsp</a>
            <a th:href="@{/stat_lease/seoul84/11590/1/{term} (term=${term})}">&nbsp동작구&nbsp</a>
            <a th:href="@{/stat_lease/seoul84/11440/1/{term} (term=${term})}">&nbsp마포구&nbsp</a>
            <a th:href="@{/stat_lease/seoul84/11410/1/{term} (term=${term})}">&nbsp서대문</a>
        </div>
        <div>
            <a th:href="@{/stat_lease/seoul84/11650/1/{term} (term=${term})}">서초구&nbsp</a>
            <a th:href="@{/stat_lease/seoul84/11200/1/{term} (term=${term})}">&nbsp성동구&nbsp</a>
            <a th:href="@{/stat_lease/seoul84/11290/1/{term} (term=${term})}">&nbsp성북구&nbsp</a>
            <a th:href="@{/stat_lease/seoul84/11710/1/{term} (term=${term})}">&nbsp송파구&nbsp</a>
            <a th:href="@{/stat_lease/seoul84/11470/1/{term} (term=${term})}">&nbsp양천구&nbsp</a>
            <a th:href="@{/stat_lease/seoul84/11560/1/{term} (term=${term})}">&nbsp영등포&nbsp</a>
            <a th:href="@{/stat_lease/seoul84/11170/1/{term} (term=${term})}">&nbsp용산구</a>
        </div>
        <div>
            <a th:href="@{/stat_lease/seoul84/11380/1/{term} (term=${term})}">은평구&nbsp</a>
            <a th:href="@{/stat_lease/seoul84/11110/1/{term} (term=${term})}">&nbsp종로구&nbsp</a>
            <a th:href="@{/stat_lease/seoul84/11260/1/{term} (term=${term})}">&nbsp중랑구&nbsp</a>
            <a th:href="@{/stat_lease/seoul84/11140/1/{term} (term=${term})}">&nbsp중구</a>
        </div>
        <p>
            <h6 align="center" th:text="|[ ${title} ${termStr} ]|"></h6>
            <h6 align="center">* 국평 월세 통계</h6>
        </p>
        <div>
            <canvas id="myChart"></canvas>
        </div>
        <div>
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-jcQR8RwkXK2z2xvE"
                 data-ad-width   = "320"
                 data-ad-height  = "100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
        <div>
            <a>[기간]&nbsp</a>
            <a th:href="@{/stat_lease/seoul84/{sigungucode}/1/0 (sigungucode=${sigungucode})}">올해&nbsp</a>
            <b>/&nbsp</b>
            <a th:href="@{/stat_lease/seoul84/{sigungucode}/1/2 (sigungucode=${sigungucode})}">2년&nbsp</a>
            <b>/&nbsp</b>
            <a th:href="@{/stat_lease/seoul84/{sigungucode}/1/3 (sigungucode=${sigungucode})}">3년&nbsp</a>
            <b>/&nbsp</b>
            <a th:href="@{/stat_lease/seoul84/{sigungucode}/1/5 (sigungucode=${sigungucode})}">5년&nbsp</a>
            <b>/&nbsp</b>
            <a th:href="@{/stat_lease/seoul84/{sigungucode}/1/11 (sigungucode=${sigungucode})}">전체&nbsp</a>
        </div>
        <table class="table table-striped">
            <thead class="table-dark">
            <tr style="font-size:12px;" align="center">
                <th>년-월</th>
                <th>평균<br/>보증금</th>
                <th>평균<br/>월세</th>
                <th>최고<br/>월세</th>
                <th>거래건수</th>
            </tr>
            </thead>
            <tbody>
            <tr style="font-size:12px;" th:each="list : ${list}">
                <td align="center" th:text="${list.dealYYMM}"></td>
                <td align="right" style="font-weight: bolder" th:text="${#numbers.formatInteger(list.avgDeposit,1,'COMMA')}"></td>
                <td align="right" style="font-weight: bolder" th:text="${#numbers.formatInteger(list.avgMonthlyrent,1,'COMMA')}"></td>
                <td align="right" th:text="${#numbers.formatInteger(list.maxMonthlyrent,1,'COMMA')}"></td>
<!--                <td align="right" th:text="${#numbers.formatInteger(list.minDeposit,1,'COMMA')}"></td>-->
<!--                <td align="right" style="font-weight: bolder" th:text="${#numbers.formatInteger(list.avgDeposit,1,'COMMA')}"></td>-->
<!--                <td align="right" th:text="${#numbers.formatInteger(list.maxDeposit,1,'COMMA')}"></td>-->
                <td align="right" th:text="${#numbers.formatInteger(list.cnt,1,'COMMA')}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type = "text/javascript" th:inline="javascript">
  const labels =  /*[[ ${dates.toArray()} ]]*/;
  const avgMonthlyRents =  /*[[ ${avgMonthlyRents.toArray()} ]]*/;
  const tradcnt =  /*[[ ${tradcnt.toArray()} ]]*/;
  const interestRates =  /*[[ ${interestRates.toArray()} ]]*/;

  const data = {
    labels: labels,
    datasets: [{
      type: 'line',
      label: '평균 월세',
      yAxisID: 'y-line',
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      pointRadius:1,
      data: avgMonthlyRents
      },{
        type: 'line',
        label: '기준금리',
        yAxisID: 'y-line2',
        backgroundColor: 'rgb(64, 64, 64)',
        borderColor: 'rgb(64, 64, 64)',
        pointRadius:1,
        data: interestRates
      },{
        type: 'bar',
        label: '거래건수',
        yAxisID: 'y-bar',
        backgroundColor: 'rgb(54, 162, 235)',
        borderColor: 'rgb(54, 162, 235)',
        data: tradcnt
      }
    ]
  };

  const config = {
    data: data,
    options: {
        scales:{
            'y-line':{
                position: 'left',
                suggestedMin: 0,
                ticks:{
				    color: 'rgb(255, 99, 132)'
				},
                title: {
                    display: true,
                    color: 'rgb(255, 99, 132)',
                    text: '평균 월세'
                }
            },
            'y-line2':{
                position: 'left',
                suggestedMin: 0,
                suggestedMax: 7,
                grid:{
                    display: false
                },
                ticks:{
				    color: 'rgb(64, 64, 64)'
				},
                title: {
                    display: true,
                    color: 'rgb(64, 64, 64)',
                    text: '한국은행 기준금리'
                }
            },
            'y-bar':{
                position: 'right',
                suggestedMin: 0,
                grid:{
                    display: false
                },
                ticks:{
				    color: 'rgb(54, 162, 235)'
				},
                title: {
                    display: true,
                    color: 'rgb(54, 162, 235)',
                    text: '거래건수'
                }
            }
        }
    }
  };
</script>
<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>

</html>