<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <p>
            <h5 align="center" th:text="|[ ${year} ${title} TOP 100 ]|"></h5>
            <h6 align="center" th:text="|* ${uaStr} |"></h6>
        </p>
        <p>
            <div class="d-flex gap-4 justify-content-center">
                <div class="dropdown d-block position-static pt-0 mx-0 rounded-1 shadow overflow-hidden w-180px">
                    <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        지역선택
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/stat_trade/top?sigunguCode=48121&year={year}&uaType={uaType} (year=${year}, uaType=${uaType})}">창원 의창구</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_trade/top?sigunguCode=48123&year={year}&uaType={uaType} (year=${year}, uaType=${uaType})}">창원 성산구</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_trade/top?sigunguCode=48125&year={year}&uaType={uaType} (year=${year}, uaType=${uaType})}">창원 마산합포구</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_trade/top?sigunguCode=48127&year={year}&uaType={uaType} (year=${year}, uaType=${uaType})}">창원 마산회원구</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_trade/top?sigunguCode=48129&year={year}&uaType={uaType} (year=${year}, uaType=${uaType})}">창원 진해구</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_trade/top?sigunguCode=48170&year={year}&uaType={uaType} (year=${year}, uaType=${uaType})}">진주시</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_trade/top?sigunguCode=48220&year={year}&uaType={uaType} (year=${year}, uaType=${uaType})}">통영시</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_trade/top?sigunguCode=48240&year={year}&uaType={uaType} (year=${year}, uaType=${uaType})}">사천시</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_trade/top?sigunguCode=48250&year={year}&uaType={uaType} (year=${year}, uaType=${uaType})}">김해시</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_trade/top?sigunguCode=48270&year={year}&uaType={uaType} (year=${year}, uaType=${uaType})}">밀양시</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_trade/top?sigunguCode=48310&year={year}&uaType={uaType} (year=${year}, uaType=${uaType})}">거제시</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_trade/top?sigunguCode=48330&year={year}&uaType={uaType} (year=${year}, uaType=${uaType})}">양산시</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_trade/top?sigunguCode=48720&year={year}&uaType={uaType} (year=${year}, uaType=${uaType})}">의령군</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_trade/top?sigunguCode=48730&year={year}&uaType={uaType} (year=${year}, uaType=${uaType})}">함안군</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_trade/top?sigunguCode=48740&year={year}&uaType={uaType} (year=${year}, uaType=${uaType})}">창녕군</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_trade/top?sigunguCode=48820&year={year}&uaType={uaType} (year=${year}, uaType=${uaType})}">고성군</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_trade/top?sigunguCode=48840&year={year}&uaType={uaType} (year=${year}, uaType=${uaType})}">남해군</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_trade/top?sigunguCode=48850&year={year}&uaType={uaType} (year=${year}, uaType=${uaType})}">하동군</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_trade/top?sigunguCode=48860&year={year}&uaType={uaType} (year=${year}, uaType=${uaType})}">산청군</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_trade/top?sigunguCode=48870&year={year}&uaType={uaType} (year=${year}, uaType=${uaType})}">함양군</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_trade/top?sigunguCode=48880&year={year}&uaType={uaType} (year=${year}, uaType=${uaType})}">거창군</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_trade/top?sigunguCode=48890&year={year}&uaType={uaType} (year=${year}, uaType=${uaType})}">합천군</a></li>

                    </ul>
                </div>
                <div class="dropdown d-block position-static pt-0 mx-0 rounded-1 shadow overflow-hidden w-180px">
                    <button type="button" class="btn btn-danger btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        평형
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/stat_trade/top?sigunguCode={sigunguCode}&year={year}&uaType=UA01 (sigunguCode=${sigunguCode}, year=${year})}">전체</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_trade/top?sigunguCode={sigunguCode}&year={year}&uaType=UA02 (sigunguCode=${sigunguCode}, year=${year})}">소형</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_trade/top?sigunguCode={sigunguCode}&year={year}&uaType=UA08 (sigunguCode=${sigunguCode}, year=${year})}">전용59</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_trade/top?sigunguCode={sigunguCode}&year={year}&uaType=UA03 (sigunguCode=${sigunguCode}, year=${year})}">중소형</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_trade/top?sigunguCode={sigunguCode}&year={year}&uaType=UA07 (sigunguCode=${sigunguCode}, year=${year})}">국평</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_trade/top?sigunguCode={sigunguCode}&year={year}&uaType=UA04 (sigunguCode=${sigunguCode}, year=${year})}">중형</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_trade/top?sigunguCode={sigunguCode}&year={year}&uaType=UA05 (sigunguCode=${sigunguCode}, year=${year})}">중대형</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_trade/top?sigunguCode={sigunguCode}&year={year}&uaType=UA06 (sigunguCode=${sigunguCode}, year=${year})}">대형</a></li>
                    </ul>
                </div>
            </div>
        </p>
        <div>
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-jcQR8RwkXK2z2xvE"
                 data-ad-width   = "320"
                 data-ad-height  = "100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>

        <div>
            <h7>※ 단지명을 클릭하면 거래내역으로 넘어갑니다.</h7>
        </div>

        <table class="table table-striped">
            <thead class="table-dark">
                <tr style="font-size:12px;" align="center">
                    <th>일자</br>아파트</th>
                    <th>전용</br>(m<sup>2</sup>)</th>
                    <th>거래가</th>
                    <th>신고가</br>직/중개</br>중개소재지</th>
                </tr>
            </thead>
            <tbody>
                <tr style="font-size:12px;" th:each="list : ${list}">
                    <td align="left">
                        <div>
                            <a th:text="${list.dealDate}"></a></br>
                            <a th:text="${list.landDong}"></a></br>
                            <a style="font-weight: bolder;" th:text="${list.aptName}" th:href="@{/tradelist/ByName?sigunguCode={sigunguCode}&aptName={aptname}&ua={uatrunc}&term=1&landDong={landDong} (sigunguCode=${list.sigunguCode}, aptname=${list.aptName}, uatrunc=${list.useAreaTrunc}, landDong=${list.landDong})}"></a></br>
                            <a th:text="|[${list.buildYear}] ${list.floor}층|"></a>
                        </div>
                    </td>
                    <td align="right" th:text="${#numbers.formatDecimal(list.useArea,1,2,'POINT')}"></td>
                    <td align="right" style="font-size:14px; font-weight: bolder; color:#FF6384" th:text="${list.dealAmtStr}"></td>
                    <td align="center">
                        <div>
                            <a th:text="${list.newHighest}"></a></br>
                            <a th:text="${list.dealType}"></a></br>
                            <a th:text="${list.dealLoc}"></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
<script>
    function findSeoulYear(year){
        var form = document.createElement("form");
            form.setAttribute("method", "get");
            form.setAttribute("action", "/statistics/seoul/" + year);
            document.body.appendChild(form);
            form.submit();
    }
</script>
</html>