<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div class="container">

    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div>
        <div>
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-jcQR8RwkXK2z2xvE"
                 data-ad-width   = "320"
                 data-ad-height  = "100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>

        <h6>오피스텔 매매가 TOP 100</h6>
        <p>
            <a class="btn btn-danger" href="/stat_trade/office/top?sigunguCode=11&yaer=2022&uaType=UA01">서울</a>
            <a class="btn btn-danger" href="/stat_trade/office/top?sigunguCode=41&yaer=2022&uaType=UA01">경기</a>
            <a class="btn btn-danger" href="/stat_trade/office/top?sigunguCode=28&yaer=2022&uaType=UA01">인천</a>
            <a class="btn btn-danger" href="/stat_trade/office/top?sigunguCode=42&yaer=2022&uaType=UA01">강원</a>
            </br>
            </br>
            <a class="btn btn-danger" href="/stat_trade/office/top?sigunguCode=36110&yaer=2022&uaType=UA01">세종</a>
            <a class="btn btn-danger" href="/stat_trade/office/top?sigunguCode=30&yaer=2022&uaType=UA01">대전</a>
            <a class="btn btn-danger" href="/stat_trade/office/top?sigunguCode=43&yaer=2022&uaType=UA01">충북</a>
            <a class="btn btn-danger" href="/stat_trade/office/top?sigunguCode=44&yaer=2022&uaType=UA01">충남</a>
            </br>
            </br>
            <a class="btn btn-danger" href="/stat_trade/office/top?sigunguCode=26&yaer=2022&uaType=UA01">부산</a>
            <a class="btn btn-danger" href="/stat_trade/office/top?sigunguCode=27&yaer=2022&uaType=UA01">대구</a>
            <a class="btn btn-danger" href="/stat_trade/office/top?sigunguCode=31&yaer=2022&uaType=UA01">울산</a>
            <a class="btn btn-danger" href="/stat_trade/office/top?sigunguCode=47&yaer=2022&uaType=UA01">경북</a>
            <a class="btn btn-danger" href="/stat_trade/office/top?sigunguCode=48&yaer=2022&uaType=UA01">경남</a>
            </br>
            </br>
            <a class="btn btn-danger" href="/stat_trade/office/top?sigunguCode=29&yaer=2022&uaType=UA01">광주</a>
            <a class="btn btn-danger" href="/stat_trade/office/top?sigunguCode=45&yaer=2022&uaType=UA01">전북</a>
            <a class="btn btn-danger" href="/stat_trade/office/top?sigunguCode=46&yaer=2022&uaType=UA01">전남</a>
            <a class="btn btn-danger" href="/stat_trade/office/top?sigunguCode=50&yaer=2022&uaType=UA01">제주</a>
        </p>
    </div>

    <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->
<script>
</script>
</body>
</html>