<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <div>
            <a th:href="@{/leaselist/monthly?sigunguCode=28710&uaType={uaType} (uaType=${uaType})}">강화군&nbsp</a>
            <a th:href="@{/leaselist/monthly?sigunguCode=28245&uaType={uaType} (uaType=${uaType})}">&nbsp계양구&nbsp</a>
            <a th:href="@{/leaselist/monthly?sigunguCode=28200&uaType={uaType} (uaType=${uaType})}">&nbsp남동구&nbsp</a>
            <a th:href="@{/leaselist/monthly?sigunguCode=28140&uaType={uaType} (uaType=${uaType})}">&nbsp동구&nbsp</a>
            <a th:href="@{/leaselist/monthly?sigunguCode=28177&uaType={uaType} (uaType=${uaType})}">&nbsp미추홀구&nbsp</a>
            <a th:href="@{/leaselist/monthly?sigunguCode=28237&uaType={uaType} (uaType=${uaType})}">&nbsp부평구&nbsp</a>
            <a th:href="@{/leaselist/monthly?sigunguCode=28260&uaType={uaType} (uaType=${uaType})}">&nbsp서구&nbsp</a>
            <a th:href="@{/leaselist/monthly?sigunguCode=28185&uaType={uaType} (uaType=${uaType})}">&nbsp연수구&nbsp</a>
            <a th:href="@{/leaselist/monthly?sigunguCode=28720&uaType={uaType} (uaType=${uaType})}">&nbsp옹진군&nbsp</a>
            <a th:href="@{/leaselist/monthly?sigunguCode=28110&uaType={uaType} (uaType=${uaType})}">중구</a>
        </div>
        <p>
            <h5 align="center" th:text="${title}"></h5>
            <h6 align="center" th:text="|* ${uaStr}|"></h6>
        </p>
        <div>
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-jcQR8RwkXK2z2xvE"
                 data-ad-width   = "320"
                 data-ad-height  = "100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
        <p>
            <div class="d-flex gap-2 justify-content-center">
                <div class="dropdown d-block position-static pt-0 mx-0 rounded-1 shadow overflow-hidden w-180px">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        동 선택
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:each="dongList : ${dongList}" th:text="${dongList.landDong}" th:href="@{/leaselist/monthly?sigunguCode={sigunguCode}&uaType={uaType}&landDong={landDong} (sigunguCode=${sigunguCode}, uaType=${uaType}, landDong=${dongList.landDong})}"></a></li>
                    </ul>
                </div>

                <div class="dropdown d-block position-static pt-0 mx-0 rounded-1 shadow overflow-hidden w-180px">
                    <button type="button" class="btn btn-danger btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        평형
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/leaselist/monthly?sigunguCode={sigunguCode}&uaType=UA01&landDong={landDong} (sigunguCode=${sigunguCode}, landDong=${landDong})}">전체</a></li>
                        <li><a class="dropdown-item" th:href="@{/leaselist/monthly?sigunguCode={sigunguCode}&uaType=UA02&landDong={landDong} (sigunguCode=${sigunguCode}, landDong=${landDong})}">소형</a></li>
                        <li><a class="dropdown-item" th:href="@{/leaselist/monthly?sigunguCode={sigunguCode}&uaType=UA08&landDong={landDong} (sigunguCode=${sigunguCode}, landDong=${landDong})}">전용59</a></li>
                        <li><a class="dropdown-item" th:href="@{/leaselist/monthly?sigunguCode={sigunguCode}&uaType=UA03&landDong={landDong} (sigunguCode=${sigunguCode}, landDong=${landDong})}">중소형</a></li>
                        <li><a class="dropdown-item" th:href="@{/leaselist/monthly?sigunguCode={sigunguCode}&uaType=UA07&landDong={landDong} (sigunguCode=${sigunguCode}, landDong=${landDong})}">국평</a></li>
                        <li><a class="dropdown-item" th:href="@{/leaselist/monthly?sigunguCode={sigunguCode}&uaType=UA04&landDong={landDong} (sigunguCode=${sigunguCode}, landDong=${landDong})}">중형</a></li>
                        <li><a class="dropdown-item" th:href="@{/leaselist/monthly?sigunguCode={sigunguCode}&uaType=UA05&landDong={landDong} (sigunguCode=${sigunguCode}, landDong=${landDong})}">중대형</a></li>
                        <li><a class="dropdown-item" th:href="@{/leaselist/monthly?sigunguCode={sigunguCode}&uaType=UA06&landDong={landDong} (sigunguCode=${sigunguCode}, landDong=${landDong})}">대형</a></li>
                    </ul>
                </div>
            </div>
        </p>
        <table class="table table-striped">
            <thead class="table-dark">
                <tr style="font-size:12px;" align="center">
                    <th>일자</th>
                    <th>아파트</th>
                    <th>전용</br>(m<sup>2</sup>)</th>
                    <th>보증금</th>
                    <th>월세</th>
                </tr>
            </thead>
            <tbody>
                <tr style="font-size:12px;" th:each="list : ${list}">
                    <td align="center" th:text="${list.dealDate}"></td>
                    <td align="left">
                        <div>
                            <a th:text="${list.landDong}"></a></br>
                            <a th:text="${list.aptName}" th:href="@{/leaselist/monthly/ByName?sigunguCode={sigunguCode}&landDong={dong}&aptName={aptname}&ua={uatrunc}&term=1 (sigunguCode=${list.sigunguCode}, dong=${list.landDong}, aptname=${list.aptName}, uatrunc=${list.useAreaTrunc})}"></a></br>
                            <a th:text="|[${list.buildYear}] ${list.floor} 층|"></a>
                        </div>
                    </td>
                    <td align="right" th:text="${#numbers.formatDecimal(list.useArea,1,2,'POINT')}"></td>
                    <td align="right" style="font-weight: bolder" th:text="${#numbers.formatInteger(list.deposit,1,'COMMA')}"></td>
                    <td align="right" style="font-weight: bolder" th:text="${list.monthlyRentStr}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>