<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <p>
            <h6 align="center" th:text="${title}"></h6>
            <h6 align="center" th:text="${subtitle}"></h6>
        </p>
        <p>
            <div class="d-flex gap-2 justify-content-center">
                <div class="dropdown d-block position-static pt-0 mx-0 rounded-1 shadow overflow-hidden w-180px">
                    <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        지역선택
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode=47111&uaType={uaType} (rankGubn=${rankGubn}, dealYear=${dealYear}, uaType=${uaType})}">포항 남구</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode=47113&uaType={uaType} (rankGubn=${rankGubn}, dealYear=${dealYear}, uaType=${uaType})}">포항 북구</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode=47130&uaType={uaType} (rankGubn=${rankGubn}, dealYear=${dealYear}, uaType=${uaType})}">경주시</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode=47150&uaType={uaType} (rankGubn=${rankGubn}, dealYear=${dealYear}, uaType=${uaType})}">김천시</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode=47170&uaType={uaType} (rankGubn=${rankGubn}, dealYear=${dealYear}, uaType=${uaType})}">안동시</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode=47190&uaType={uaType} (rankGubn=${rankGubn}, dealYear=${dealYear}, uaType=${uaType})}">구미시</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode=47210&uaType={uaType} (rankGubn=${rankGubn}, dealYear=${dealYear}, uaType=${uaType})}">영주시</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode=47230&uaType={uaType} (rankGubn=${rankGubn}, dealYear=${dealYear}, uaType=${uaType})}">영천시</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode=47250&uaType={uaType} (rankGubn=${rankGubn}, dealYear=${dealYear}, uaType=${uaType})}">상주시</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode=47280&uaType={uaType} (rankGubn=${rankGubn}, dealYear=${dealYear}, uaType=${uaType})}">문경시</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode=47290&uaType={uaType} (rankGubn=${rankGubn}, dealYear=${dealYear}, uaType=${uaType})}">경산시</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode=47720&uaType={uaType} (rankGubn=${rankGubn}, dealYear=${dealYear}, uaType=${uaType})}">군위군</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode=47730&uaType={uaType} (rankGubn=${rankGubn}, dealYear=${dealYear}, uaType=${uaType})}">의성군</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode=47750&uaType={uaType} (rankGubn=${rankGubn}, dealYear=${dealYear}, uaType=${uaType})}">청송군</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode=47760&uaType={uaType} (rankGubn=${rankGubn}, dealYear=${dealYear}, uaType=${uaType})}">양양군</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode=47770&uaType={uaType} (rankGubn=${rankGubn}, dealYear=${dealYear}, uaType=${uaType})}">영덕군</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode=47820&uaType={uaType} (rankGubn=${rankGubn}, dealYear=${dealYear}, uaType=${uaType})}">청도군</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode=47830&uaType={uaType} (rankGubn=${rankGubn}, dealYear=${dealYear}, uaType=${uaType})}">고령군</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode=47840&uaType={uaType} (rankGubn=${rankGubn}, dealYear=${dealYear}, uaType=${uaType})}">성주군</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode=47850&uaType={uaType} (rankGubn=${rankGubn}, dealYear=${dealYear}, uaType=${uaType})}">칠곡군</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode=47900&uaType={uaType} (rankGubn=${rankGubn}, dealYear=${dealYear}, uaType=${uaType})}">예천군</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode=47920&uaType={uaType} (rankGubn=${rankGubn}, dealYear=${dealYear}, uaType=${uaType})}">봉화군</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode=47930&uaType={uaType} (rankGubn=${rankGubn}, dealYear=${dealYear}, uaType=${uaType})}">울진군</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode=47940&uaType={uaType} (rankGubn=${rankGubn}, dealYear=${dealYear}, uaType=${uaType})}">울릉군</a></li>
                    </ul>
                </div>
                <div class="dropdown d-block position-static pt-0 mx-0 rounded-1 shadow overflow-hidden w-180px">
                    <button type="button" class="btn btn-danger btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        평형
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode={sigunguCode}&uaType=UA02 (rankGubn=${rankGubn}, dealYear=${dealYear}, sigunguCode=${sigunguCode})}">소형</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode={sigunguCode}&uaType=UA08 (rankGubn=${rankGubn}, dealYear=${dealYear}, sigunguCode=${sigunguCode})}">전용59</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode={sigunguCode}&uaType=UA03 (rankGubn=${rankGubn}, dealYear=${dealYear}, sigunguCode=${sigunguCode})}">중소형</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode={sigunguCode}&uaType=UA07 (rankGubn=${rankGubn}, dealYear=${dealYear}, sigunguCode=${sigunguCode})}">국평</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode={sigunguCode}&uaType=UA04 (rankGubn=${rankGubn}, dealYear=${dealYear}, sigunguCode=${sigunguCode})}">중형</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode={sigunguCode}&uaType=UA05 (rankGubn=${rankGubn}, dealYear=${dealYear}, sigunguCode=${sigunguCode})}">중대형</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode={sigunguCode}&uaType=UA06 (rankGubn=${rankGubn}, dealYear=${dealYear}, sigunguCode=${sigunguCode})}">대형</a></li>
                    </ul>
                </div>
            </div>
        </p>

        <div>
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-jcQR8RwkXK2z2xvE"
                 data-ad-width   = "320"
                 data-ad-height  = "100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>

        <table class="table table-striped">
            <thead class="table-dark">
                <tr style="font-size:12px;" align="center">
                    <th>아파트</th>
                    <th>전용</br>면적</th>
                    <th>건수</th>
                    <th>최저<br>평균</br>최고</th>
<!--                    <th>최저</th>-->
<!--                    <th>평균</th>-->
<!--                    <th>최고</th>-->
                    <th>신고</br>가율</th>
                </tr>
            </thead>
            <tbody>
                <tr style="font-size:12px;" th:each="list : ${list}">
                    <td align="left">
                        <div>
                            <a th:text="${list.landDong}"></a></br>
                            <a th:text="${list.aptName}" th:href="@{/tradelist/ByName?sigunguCode={sigungucode}&aptName={aptname}&ua={uatrunc}&term=1&landDong={landDong} (sigungucode=${list.sigunguCode}, aptname=${list.aptName}, uatrunc=${list.useAreaTrunc}, landDong=${list.landDong})}"></a></br>
                            <a th:text="|[${list.buildYear}]|"></a>
                        </div>
                    </td>
                    <td align="right" th:text="${list.useAreaStr}"></td>
                    <td align="right" th:text="${#numbers.formatInteger(list.tradeCnt,1,'COMMA')}"></td>
                    <td align="right">
                        <div>
                            <a th:text="${list.minAmtStr}"></a></br>
                            <a style="font-size:14px; font-weight: bolder; color:#FF6384" th:text="${list.avgAmtStr}"></a></br>
                            <a th:text="${list.maxAmtStr}"></a>
                        </div>
                    </td>
<!--                    <td align="right" th:text="${list.minAmtStr}"></td>-->
<!--                    <td align="right" style="font-size:14px; font-weight: bolder; color:#FF6384" th:text="${list.avgAmtStr}"></td>-->
<!--                    <td align="right" th:text="${list.maxAmtStr}"></td>-->
                    <td align="right" th:text="${#numbers.formatDecimal(list.highestRate,1,1,'POINT')}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>