<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <p>
            <h6 align="center" th:text="${title}"></h6>
            <h6 align="center" th:text="${subtitle}"></h6>
        </p>
        <p>
            <div class="d-flex gap-2 justify-content-center">
                <div class="dropdown d-block position-static pt-0 mx-0 rounded-1 shadow overflow-hidden w-180px">
                    <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        년도
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear=2023&sigunguCode={sigunguCode}&uaType={uaType} (rankGubn=${rankGubn}, sigunguCode=${sigunguCode}, uaType=${uaType})}">2023</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear=2022&sigunguCode={sigunguCode}&uaType={uaType} (rankGubn=${rankGubn}, sigunguCode=${sigunguCode}, uaType=${uaType})}">2022</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear=2021&sigunguCode={sigunguCode}&uaType={uaType} (rankGubn=${rankGubn}, sigunguCode=${sigunguCode}, uaType=${uaType})}">2021</a></li>
                    </ul>
                </div>
                <div class="dropdown d-block position-static pt-0 mx-0 rounded-1 shadow overflow-hidden w-180px">
                    <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        강북
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode=11&uaType={uaType} (rankGubn=${rankGubn}, dealYear=${dealYear}, uaType=${uaType})}">서울</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode=11305&uaType={uaType} (rankGubn=${rankGubn}, dealYear=${dealYear}, uaType=${uaType})}">강북구</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode=11215&uaType={uaType} (rankGubn=${rankGubn}, dealYear=${dealYear}, uaType=${uaType})}">광진구</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode=11350&uaType={uaType} (rankGubn=${rankGubn}, dealYear=${dealYear}, uaType=${uaType})}">노원구</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode=11320&uaType={uaType} (rankGubn=${rankGubn}, dealYear=${dealYear}, uaType=${uaType})}">도봉구</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode=11230&uaType={uaType} (rankGubn=${rankGubn}, dealYear=${dealYear}, uaType=${uaType})}">동대문</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode=11440&uaType={uaType} (rankGubn=${rankGubn}, dealYear=${dealYear}, uaType=${uaType})}">마포구</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode=11410&uaType={uaType} (rankGubn=${rankGubn}, dealYear=${dealYear}, uaType=${uaType})}">서대문</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode=11200&uaType={uaType} (rankGubn=${rankGubn}, dealYear=${dealYear}, uaType=${uaType})}">성동구</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode=11290&uaType={uaType} (rankGubn=${rankGubn}, dealYear=${dealYear}, uaType=${uaType})}">성북구</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode=11470&uaType={uaType} (rankGubn=${rankGubn}, dealYear=${dealYear}, uaType=${uaType})}">양천구</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode=11170&uaType={uaType} (rankGubn=${rankGubn}, dealYear=${dealYear}, uaType=${uaType})}">용산구</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode=11380&uaType={uaType} (rankGubn=${rankGubn}, dealYear=${dealYear}, uaType=${uaType})}">은평구</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode=11110&uaType={uaType} (rankGubn=${rankGubn}, dealYear=${dealYear}, uaType=${uaType})}">종로구</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode=11260&uaType={uaType} (rankGubn=${rankGubn}, dealYear=${dealYear}, uaType=${uaType})}">중랑구</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode=11140&uaType={uaType} (rankGubn=${rankGubn}, dealYear=${dealYear}, uaType=${uaType})}">중 구</a></li>
                    </ul>
                </div>
                <div class="dropdown d-block position-static pt-0 mx-0 rounded-1 shadow overflow-hidden w-180px">
                    <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        강남
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode=11&uaType={uaType} (rankGubn=${rankGubn}, dealYear=${dealYear}, uaType=${uaType})}">서울</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode=11680&uaType={uaType} (rankGubn=${rankGubn}, dealYear=${dealYear}, uaType=${uaType})}">강남구</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode=11740&uaType={uaType} (rankGubn=${rankGubn}, dealYear=${dealYear}, uaType=${uaType})}">강동구</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode=11500&uaType={uaType} (rankGubn=${rankGubn}, dealYear=${dealYear}, uaType=${uaType})}">강서구</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode=11620&uaType={uaType} (rankGubn=${rankGubn}, dealYear=${dealYear}, uaType=${uaType})}">관악구</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode=11530&uaType={uaType} (rankGubn=${rankGubn}, dealYear=${dealYear}, uaType=${uaType})}">구로구</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode=11545&uaType={uaType} (rankGubn=${rankGubn}, dealYear=${dealYear}, uaType=${uaType})}">금천구</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode=11590&uaType={uaType} (rankGubn=${rankGubn}, dealYear=${dealYear}, uaType=${uaType})}">동작구</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode=11650&uaType={uaType} (rankGubn=${rankGubn}, dealYear=${dealYear}, uaType=${uaType})}">서초구</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode=11710&uaType={uaType} (rankGubn=${rankGubn}, dealYear=${dealYear}, uaType=${uaType})}">송파구</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode=11470&uaType={uaType} (rankGubn=${rankGubn}, dealYear=${dealYear}, uaType=${uaType})}">양천구</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode=11560&uaType={uaType} (rankGubn=${rankGubn}, dealYear=${dealYear}, uaType=${uaType})}">영등포</a></li>
                    </ul>
                </div>
                <div class="dropdown d-block position-static pt-0 mx-0 rounded-1 shadow overflow-hidden w-180px">
                    <button type="button" class="btn btn-danger btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        평형
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode={sigunguCode}&uaType=UA02 (rankGubn=${rankGubn}, dealYear=${dealYear}, sigunguCode=${sigunguCode})}">소형</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode={sigunguCode}&uaType=UA08 (rankGubn=${rankGubn}, dealYear=${dealYear}, sigunguCode=${sigunguCode})}">전용59</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode={sigunguCode}&uaType=UA03 (rankGubn=${rankGubn}, dealYear=${dealYear}, sigunguCode=${sigunguCode})}">중소형</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode={sigunguCode}&uaType=UA07 (rankGubn=${rankGubn}, dealYear=${dealYear}, sigunguCode=${sigunguCode})}">국평</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode={sigunguCode}&uaType=UA04 (rankGubn=${rankGubn}, dealYear=${dealYear}, sigunguCode=${sigunguCode})}">중형</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode={sigunguCode}&uaType=UA05 (rankGubn=${rankGubn}, dealYear=${dealYear}, sigunguCode=${sigunguCode})}">중대형</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_rank_uatype?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode={sigunguCode}&uaType=UA06 (rankGubn=${rankGubn}, dealYear=${dealYear}, sigunguCode=${sigunguCode})}">대형</a></li>
                    </ul>
                </div>
            </div>
        </p>

        <div>
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-jcQR8RwkXK2z2xvE"
                 data-ad-width   = "320"
                 data-ad-height  = "100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
        <div>
            <a style="font-size: 20px" th:href="@{/stat_rank_uatype/lease?rankGubn={rankGubn}&dealYear={dealYear}&sigunguCode={sigunguCode}&uaType={uaType} (rankGubn=${rankGubn}, dealYear=${dealYear}, sigunguCode=${sigunguCode}, uaType=${uaType})}">전세 TOP 20 보기</a>
        </div>
        <table class="table table-striped">
            <thead class="table-dark">
                <tr style="font-size:12px;" align="center">
                    <th>아파트</th>
                    <th>전용</br>면적</th>
                    <th>건수</th>
                    <th>최저<br>평균</br>최고</th>
<!--                    <th>최저</th>-->
<!--                    <th>평균</th>-->
<!--                    <th>최고</th>-->
                    <th>신고</br>가율</th>
                </tr>
            </thead>
            <tbody>
                <tr style="font-size:12px;" th:each="list : ${list}">
                    <td align="left">
                        <div>
                            <a th:text="|${list.sigunguName} ${list.landDong}|"></a></br>
                            <a th:text="${list.aptName}" th:href="@{/tradelist/ByName?sigunguCode={sigungucode}&aptName={aptname}&ua={uatrunc}&term=1&landDong={landDong} (sigungucode=${list.sigunguCode}, aptname=${list.aptName}, uatrunc=${list.useAreaTrunc}, landDong=${list.landDong})}"></a></br>
                            <a th:text="|[${list.buildYear}]|"></a>
                        </div>
                    </td>
                    <td align="right" th:text="${list.useAreaStr}"></td>
                    <td align="right" th:text="${#numbers.formatInteger(list.tradeCnt,1,'COMMA')}"></td>
                    <td align="right">
                        <div>
                            <a th:text="${list.minAmtStr}"></a></br>
                            <a style="font-size:14px; font-weight: bolder; color:#FF6384" th:text="${list.avgAmtStr}"></a></br>
                            <a th:text="${list.maxAmtStr}"></a>
                        </div>
                    </td>
<!--                    <td align="right" th:text="${list.minAmtStr}"></td>-->
<!--                    <td align="right" style="font-size:14px; font-weight: bolder; color:#FF6384" th:text="${list.avgAmtStr}"></td>-->
<!--                    <td align="right" th:text="${list.maxAmtStr}"></td>-->
                    <td align="right" th:text="${#numbers.formatDecimal(list.highestRate,1,1,'POINT')}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>