<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <p>
            <h5 align="center" th:text="${title}"></h5>
        </p>
        <p>
            <canvas id="myChart"></canvas>
        </p>
        <div>
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-jcQR8RwkXK2z2xvE"
                 data-ad-width   = "320"
                 data-ad-height  = "100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
        <p>
            <a style="font-size:12px;" align="center" th:text="${subtitle}"></a>
        </p>
        <table class="table table-striped">
            <thead>
            <tr class="table-dark" style="font-size:12px;" align="center">
                <th>년-월</th>
                <th>소비자</br>물가지수</th>
                <th>주택매매</br>가격지수</th>
                <th>주택전세</br>가격지수</th>
            </tr>
            </thead>
            <tbody>
            <tr style="font-size:12px;" th:each="list : ${list}">
                <td align="center" th:text="${list.date}"></td>
                <td align="right" th:text="${#numbers.formatDecimal(list.value1,1,2,'POINT')}"></td>
                <td align="right" th:text="${#numbers.formatDecimal(list.value2,1,2,'POINT')}"></td>
                <td align="right" th:text="${#numbers.formatDecimal(list.value3,1,2,'POINT')}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <h7>※ 출처: 한국은행 경제통계시스템 (ecos.bok.or.kr)</h7>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type = "text/javascript" th:inline="javascript">
  const totIndexes =  /*[[ ${totIndexes.toArray()} ]]*/;
  const seoulTradeIndexes =  /*[[ ${seoulTradeIndexes.toArray()} ]]*/;
  const seoulLeaseIndexes =  /*[[ ${seoulLeaseIndexes.toArray()} ]]*/;
  const labels =  /*[[ ${dates.toArray()} ]]*/;

  const data = {
    labels: labels,
    datasets: [{
          type: 'line',
          label: '물가(전국)',
          yAxisID: 'y-line1',
          backgroundColor: 'rgb(255, 99, 132)',
          borderColor: 'rgb(255, 99, 132)',
          pointRadius:1,
          data: totIndexes
      },{
          type: 'line',
          label: '매매지수(서울)',
          yAxisID: 'y-line2',
          backgroundColor: 'rgb(95,67,175)',
          borderColor: 'rgb(95,67,175)',
          pointRadius:1,
          data: seoulTradeIndexes
      },{
          type: 'line',
          label: '전세지수(서울)',
          yAxisID: 'y-line3',
          backgroundColor: 'rgb(54, 162, 235)',
          borderColor: 'rgb(54, 162, 235)',
          pointRadius:1,
          data: seoulLeaseIndexes
      }
    ]
  };

  const config = {
    data: data,
    options: {
        scales:{
            'y-line1':{
                position: 'right',
                suggestedMin: 40,
                suggestedMax: 120,
                ticks:{
				    color: 'rgb(0, 0, 0)'
				},
                title: {
                    display: true,
                    text: '지수'
                }
            },
            'y-line2':{
                position: 'right',
                suggestedMin: 40,
                suggestedMax: 120,
<!--                suggestedMin: 0,-->
                grid:{
                    display: false
                },
                ticks:{
                    display: false,
				    color: 'rgb(95,67,175)'
				},
                title: {
                    display: false,
                    text: '매매지수'
                }
            },
            'y-line3':{
                position: 'right',
                suggestedMin: 40,
                suggestedMax: 120,
<!--                suggestedMin: 0,-->
<!--                suggestedMax: 50,-->
                grid:{
                    display: false
                },
                ticks:{
                    display: false,
				    color: 'rgb(54, 162, 235)'
				},
                title: {
                    display: false,
                    text: '전세지수'
                }
            }
        }
    }
  };
</script>
<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>
</html>