<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> <div class="header" th:fragment="bodyHeader">
    <div>
        <h6>※ 국토부 실거래가 기준 정보입니다.<span class="badge bg-primary" style="width: 10rem;" th:text="${udt}"></span></h6>
        <a style="font-size:12px;">※ 문의사항: leegh1587@naver.com</a>
    </div>
    <ins class="kakao_ad_area" style="display:none;"
         data-ad-unit = "DAN-gbTxrNSIOWLui80r"
         data-ad-width = "320"
         data-ad-height = "50"></ins>
    <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3199694479750381"
            crossorigin="anonymous"></script>
    <div>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    매매
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/stat_trade/useareaType/home">월별 매매 통계</a></li>
                    <li><a class="dropdown-item" href="/tradelist/home">최근매매내역</a></li>
                    <li><a class="dropdown-item" href="/tradelist/newHighest/home">신고가내역</a></li>
                    <li><a class="dropdown-item" href="/stat_trade/top/home">매매가 TOP 100</a></li>
                    <li><a class="dropdown-item" href="/stat_rank_uatype/home">평형대별 평균매매가 TOP 20</a></li>
                    <li><a class="dropdown-item" href="/tradelist/cancelDeal/home">취소내역</a></li>
                    <li><a class="dropdown-item" href="/tradelist/comparePrev/home">상승/하락거래</a></li>
                    <li><a class="dropdown-item" href="/stat_trade/ByDealType/home">중개/직거래 통계</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/tradelist/office/home">최근매매내역 [오피스텔]</a></li>
                    <li><a class="dropdown-item" href="/stat_trade/office/top/home">매매가 TOP 100 [오피스텔]</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    전/월세
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/leaselist/home">최근전세내역</a></li>
                    <li><a class="dropdown-item" href="/leaselist/monthly/home">최근월세내역</a></li>
                    <li><a class="dropdown-item" href="/leaselist/renewal/home">최근갱신내역</a></li>
                    <li><a class="dropdown-item" href="/stat_lease/top/home">전/월세 TOP 100</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/leaselist/office/home">최근전세내역 [오피스텔]</a></li>
                    <li><a class="dropdown-item" href="/leaselist/office/monthly/home">최근월세내역 [오피스텔]</a></li>
                </ul>
            </li>
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="/home_lease">전/월세</a>-->
<!--            </li>-->
            <li class="nav-item">
                <a class="nav-link" href="/home_theme">테마</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    기타
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/stat_etc/distribution?areaCode=11&dealYear=2022">2022 분양권 서울</a></li>
                    <li><a class="dropdown-item" href="/stat_etc/distribution?areaCode=41&dealYear=2022">2022 분양권 경기</a></li>
                    <li><a class="dropdown-item" href="/stat_etc/distribution?areaCode=28&dealYear=2022">2022 분양권 인천</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/stat_etc/population/10">인구통계</a></li>
                    <li><a class="dropdown-item" href="/stat_etc/income">소득통계</a></li>
                    <li><a class="dropdown-item" href="/stat_etc/consumerPriceIndex">물가지수</a></li>
                    <li><a class="dropdown-item" href="/stat_etc/housePenetrationRate">주택보급률</a></li>
                    <li><a class="dropdown-item" href="/stat_etc/unSoldHouseHistory?areacode=11&term=5">미분양주택현황</a></li>
                    <li><a class="dropdown-item" href="/stat_etc/M2">주택시가총액/M2</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>