<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> <div class="header" th:fragment="bodyHeader">
    <div>
        <h6>※ 국토부 실거래가 기준 정보입니다.<span class="badge bg-primary" style="width: 10rem;" th:text="${udt}"></span></h6>
        <a style="font-size:12px;">※ 문의사항: leegh1587@naver.com</a>
    </div>
    <div>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="/">매매</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home_lease">전/월세</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home_theme">테마</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home_etc">기타</a>
            </li>
        </ul>
    </div>
</div>