<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <!--    <a th:text="${year}"></a>-->
    <div>
        <p>
            <h4 align="center" th:text="${title}"></h4>
        </p>

        <p>
            <div class="d-flex gap-2 justify-content-center">
                <div class="dropdown d-block position-static pt-0 mx-0 rounded-1 shadow overflow-hidden w-180px">
                    <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        구 선택
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/tradelist/cancelDeal?sigunguCode=41131}">성남 수정구</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist/cancelDeal?sigunguCode=41133}">성남 중원구</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist/cancelDeal?sigunguCode=41135}">성남 분당구</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist/cancelDeal?sigunguCode=41281}">고양 덕양구</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist/cancelDeal?sigunguCode=41285}">고양 일산동구</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist/cancelDeal?sigunguCode=41287}">고양 일산서구</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist/cancelDeal?sigunguCode=41461}">용인 처인구</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist/cancelDeal?sigunguCode=41463}">용인 기흥구</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist/cancelDeal?sigunguCode=41465}">용인 수지구</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist/cancelDeal?sigunguCode=41111}">수원 장안구</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist/cancelDeal?sigunguCode=41113}">수원 권선구</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist/cancelDeal?sigunguCode=41115}">수원 팔달구</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist/cancelDeal?sigunguCode=41117}">수원 영통구</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist/cancelDeal?sigunguCode=41271}">안산 상록구</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist/cancelDeal?sigunguCode=41273}">안산 단원구</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist/cancelDeal?sigunguCode=41171}">안양 만안구</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist/cancelDeal?sigunguCode=41173}">안양 동안구</a></li>
                    </ul>
                </div>
                <div class="dropdown d-block position-static pt-0 mx-0 rounded-1 shadow overflow-hidden w-180px">
                    <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        시 선택
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/tradelist/cancelDeal?sigunguCode=41820}">가평군</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist/cancelDeal?sigunguCode=41290}">과천시</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist/cancelDeal?sigunguCode=41210}">광명시</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist/cancelDeal?sigunguCode=41610}">광주시</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist/cancelDeal?sigunguCode=41310}">구리시</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist/cancelDeal?sigunguCode=41410}">군포시</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist/cancelDeal?sigunguCode=41570}">김포시</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist/cancelDeal?sigunguCode=41360}">남양주</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist/cancelDeal?sigunguCode=41250}">동두천</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist/cancelDeal?sigunguCode=41190}">부천시</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist/cancelDeal?sigunguCode=41390}">시흥시</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist/cancelDeal?sigunguCode=41550}">안성시</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist/cancelDeal?sigunguCode=41630}">양주시</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist/cancelDeal?sigunguCode=41830}">양평군</a></li>

                        <li><a class="dropdown-item" th:href="@{/tradelist/cancelDeal?sigunguCode=41670}">여주시</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist/cancelDeal?sigunguCode=41800}">연천군</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist/cancelDeal?sigunguCode=41370}">오산시</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist/cancelDeal?sigunguCode=41430}">의왕시</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist/cancelDeal?sigunguCode=41150}">의정부</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist/cancelDeal?sigunguCode=41500}">이천시</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist/cancelDeal?sigunguCode=41480}">파주시</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist/cancelDeal?sigunguCode=41220}">평택시</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist/cancelDeal?sigunguCode=41650}">포천시</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist/cancelDeal?sigunguCode=41450}">하남시</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist/cancelDeal?sigunguCode=41590}">화성시</a></li>
                    </ul>
                </div>
            </div>
        </p>

        <div>
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-jcQR8RwkXK2z2xvE"
                 data-ad-width   = "320"
                 data-ad-height  = "100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
        <table class="table table-striped">
            <thead class="table-dark">
                <tr style="font-size:12px;" align="center">
                    <th>취소일자</br>계약일자</th>
                    <th>아파트</th>
                    <th>전용</br>(m<sup>2</sup>)</th>
                    <th>금액</br>신고가</th>
                    <th>직/중개</th>
                </tr>
            </thead>
            <tbody>
                <tr style="font-size:12px;" th:each="list : ${list}">
                    <td align="center">
                        <div>
                            <a style="font-weight: bolder"  align="center" th:text="${list.cnclDealDate}"></a></br>
                            <a th:text="${list.dealDate}"></a>
                        </div>
                    </td>
                    <td align="left">
                        <div>
                            <a th:text="${list.landDong}"></a></br>
                            <a style="font-weight: bolder" th:text="${list.aptName}"></a></br>
                            <a th:text="|[${list.buildYear}] ${list.floor}층|"></a>
                        </div>
                    </td>
                    <td align="right" th:text="${#numbers.formatDecimal(list.useArea,1,2,'POINT')}"></td>
                    <td align="right">
                        <div>
                            <a style="font-weight: bolder" th:text="${list.dealAmtStr}"></a></br>
                            <a th:text="${list.newHighest}"></a>
                        </div>
                    </td>
                    <td align="center" th:text="${list.dealType}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>