<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
<!--        <h5 align="center">[ 경 기 중 서 권 ]</h5>-->
        <div>
            <a>성남&nbsp</a>
            <a th:href="@{/stat_rank_ua/gyunggi/{rankgubn}/41131/{ua} (ua=${ua},rankgubn=${rankgubn})}">수정&nbsp</a>
            <a th:href="@{/stat_rank_ua/gyunggi/{rankgubn}/41133/{ua} (ua=${ua},rankgubn=${rankgubn})}">중원&nbsp</a>
            <a th:href="@{/stat_rank_ua/gyunggi/{rankgubn}/41135/{ua} (ua=${ua},rankgubn=${rankgubn})}">분당</a>
            <b>/&nbsp</b>
            <a>고양&nbsp</a>
            <a th:href="@{/stat_rank_ua/gyunggi/{rankgubn}/41281/{ua} (ua=${ua},rankgubn=${rankgubn})}">덕양&nbsp</a>
            <a th:href="@{/stat_rank_ua/gyunggi/{rankgubn}/41285/{ua} (ua=${ua},rankgubn=${rankgubn})}">일산동&nbsp</a>
            <a th:href="@{/stat_rank_ua/gyunggi/{rankgubn}/41287/{ua} (ua=${ua},rankgubn=${rankgubn})}">일산서</a>
        </div>
        <div>
            <a>용인&nbsp</a>
            <a th:href="@{/stat_rank_ua/gyunggi/{rankgubn}/41461/{ua} (ua=${ua},rankgubn=${rankgubn})}">처인&nbsp</a>
            <a th:href="@{/stat_rank_ua/gyunggi/{rankgubn}/41463/{ua} (ua=${ua},rankgubn=${rankgubn})}">기흥&nbsp</a>
            <a th:href="@{/stat_rank_ua/gyunggi/{rankgubn}/41465/{ua} (ua=${ua},rankgubn=${rankgubn})}">수지</a>
            <b>/&nbsp</b>
            <a>수원&nbsp</a>
            <a th:href="@{/stat_rank_ua/gyunggi/{rankgubn}/41111/{ua} (ua=${ua},rankgubn=${rankgubn})}">장안&nbsp</a>
            <a th:href="@{/stat_rank_ua/gyunggi/{rankgubn}/41113/{ua} (ua=${ua},rankgubn=${rankgubn})}">권선&nbsp</a>
            <a th:href="@{/stat_rank_ua/gyunggi/{rankgubn}/41115/{ua} (ua=${ua},rankgubn=${rankgubn})}">팔달&nbsp</a>
            <a th:href="@{/stat_rank_ua/gyunggi/{rankgubn}/41117/{ua} (ua=${ua},rankgubn=${rankgubn})}">영통</a>
        </div>
        <div>
            <a>안산&nbsp</a>
            <a th:href="@{/stat_rank_ua/gyunggi/{rankgubn}/41271/{ua} (ua=${ua},rankgubn=${rankgubn})}">상록&nbsp</a>
            <a th:href="@{/stat_rank_ua/gyunggi/{rankgubn}/41273/{ua} (ua=${ua},rankgubn=${rankgubn})}">단원</a>
            <b>/&nbsp</b>
            <a>안양&nbsp</a>
            <a th:href="@{/stat_rank_ua/gyunggi/{rankgubn}/41171/{ua} (ua=${ua},rankgubn=${rankgubn})}">만안&nbsp</a>
            <a th:href="@{/stat_rank_ua/gyunggi/{rankgubn}/41173/{ua} (ua=${ua},rankgubn=${rankgubn})}">동안</a>
        </div>
        <div>
            <a th:href="@{/stat_rank_ua/gyunggi/{rankgubn}/41820/{ua} (ua=${ua},rankgubn=${rankgubn})}">가평군&nbsp</a>
            <a th:href="@{/stat_rank_ua/gyunggi/{rankgubn}/41290/{ua} (ua=${ua},rankgubn=${rankgubn})}">&nbsp과천시&nbsp</a>
            <a th:href="@{/stat_rank_ua/gyunggi/{rankgubn}/41210/{ua} (ua=${ua},rankgubn=${rankgubn})}">&nbsp광명시&nbsp</a>
            <a th:href="@{/stat_rank_ua/gyunggi/{rankgubn}/41610/{ua} (ua=${ua},rankgubn=${rankgubn})}">&nbsp광주시&nbsp</a>
            <a th:href="@{/stat_rank_ua/gyunggi/{rankgubn}/41310/{ua} (ua=${ua},rankgubn=${rankgubn})}">&nbsp구리시&nbsp</a>
            <a th:href="@{/stat_rank_ua/gyunggi/{rankgubn}/41410/{ua} (ua=${ua},rankgubn=${rankgubn})}">&nbsp군포시&nbsp</a>
            <a th:href="@{/stat_rank_ua/gyunggi/{rankgubn}/41570/{ua} (ua=${ua},rankgubn=${rankgubn})}">&nbsp김포시</a>
        </div>
        <div>
            <a th:href="@{/stat_rank_ua/gyunggi/{rankgubn}/41360/{ua} (ua=${ua},rankgubn=${rankgubn})}">남양주&nbsp</a>
            <a th:href="@{/stat_rank_ua/gyunggi/{rankgubn}/41250/{ua} (ua=${ua},rankgubn=${rankgubn})}">&nbsp동두천&nbsp</a>
            <a th:href="@{/stat_rank_ua/gyunggi/{rankgubn}/41190/{ua} (ua=${ua},rankgubn=${rankgubn})}">&nbsp부천시&nbsp</a>
            <a th:href="@{/stat_rank_ua/gyunggi/{rankgubn}/41390/{ua} (ua=${ua},rankgubn=${rankgubn})}">&nbsp시흥시&nbsp</a>
            <a th:href="@{/stat_rank_ua/gyunggi/{rankgubn}/41550/{ua} (ua=${ua},rankgubn=${rankgubn})}">&nbsp안성시&nbsp</a>
            <a th:href="@{/stat_rank_ua/gyunggi/{rankgubn}/41630/{ua} (ua=${ua},rankgubn=${rankgubn})}">&nbsp양주시&nbsp</a>
            <a th:href="@{/stat_rank_ua/gyunggi/{rankgubn}/41830/{ua} (ua=${ua},rankgubn=${rankgubn})}">&nbsp양평군</a>
        </div>
        <div>
            <a th:href="@{/stat_rank_ua/gyunggi/{rankgubn}/41670/{ua} (ua=${ua},rankgubn=${rankgubn})}">여주시&nbsp</a>
            <a th:href="@{/stat_rank_ua/gyunggi/{rankgubn}/41800/{ua} (ua=${ua},rankgubn=${rankgubn})}">&nbsp연천군&nbsp</a>
            <a th:href="@{/stat_rank_ua/gyunggi/{rankgubn}/41370/{ua} (ua=${ua},rankgubn=${rankgubn})}">&nbsp오산시&nbsp</a>
            <a th:href="@{/stat_rank_ua/gyunggi/{rankgubn}/41430/{ua} (ua=${ua},rankgubn=${rankgubn})}">&nbsp의왕시&nbsp</a>
            <a th:href="@{/stat_rank_ua/gyunggi/{rankgubn}/41150/{ua} (ua=${ua},rankgubn=${rankgubn})}">&nbsp의정부&nbsp</a>
            <a th:href="@{/stat_rank_ua/gyunggi/{rankgubn}/41500/{ua} (ua=${ua},rankgubn=${rankgubn})}">&nbsp이천시&nbsp</a>
            <a th:href="@{/stat_rank_ua/gyunggi/{rankgubn}/41480/{ua} (ua=${ua},rankgubn=${rankgubn})}">&nbsp파주시</a>
        </div>

        <div>
            <a th:href="@{/stat_rank_ua/gyunggi/{rankgubn}/41220/{ua} (ua=${ua},rankgubn=${rankgubn})}">평택시&nbsp</a>
            <a th:href="@{/stat_rank_ua/gyunggi/{rankgubn}/41650/{ua} (ua=${ua},rankgubn=${rankgubn})}">&nbsp포천시&nbsp</a>
            <a th:href="@{/stat_rank_ua/gyunggi/{rankgubn}/41450/{ua} (ua=${ua},rankgubn=${rankgubn})}">&nbsp하남시&nbsp</a>
            <a th:href="@{/stat_rank_ua/gyunggi/{rankgubn}/41590/{ua} (ua=${ua},rankgubn=${rankgubn})}">&nbsp화성시</a>
        </div>
        <p>
            <h4 align="center" th:text="${title}"></h4>
            <h6 align="center" th:text="${subtitle}"></h6>
        </p>
        <div>
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-jcQR8RwkXK2z2xvE"
                 data-ad-width   = "320"
                 data-ad-height  = "100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
        <table class="table table-striped">
            <thead class="table-dark">
                <tr style="font-size:12px;" align="center">
                    <th>아파트</th>
                    <th>건수</th>
                    <th>최저</th>
                    <th>평균</th>
                    <th>최고</th>
                    <th>신고</br>가율</th>
                </tr>
            </thead>
            <tbody>
                <tr style="font-size:12px;" th:each="list : ${list}">
                    <td align="left">
                        <div>
                            <a th:text="${list.landDong}"></a></br>
                            <a th:text="${list.aptName}" th:href="@{/tradelist/ByName?regncode={sigungucode}&aptname={aptname}&ua={uatrunc}&term=1&landDong={landDong} (sigungucode=${list.sigunguCode}, aptname=${list.aptName}, uatrunc=${list.useAreaTrunc}, landDong=${list.landDong})}"></a></br>
                            <!--                            <a th:text="${list.aptName}" th:href="@{/{add}(add=${list.tradeUrl})}"></a>-->
                            <a th:text="|[${list.buildYear}]|"></a>
                        </div>
                    </td>
                    <td align="right" th:text="${#numbers.formatInteger(list.tradeCnt,1,'COMMA')}"></td>
                    <td align="right" th:text="${list.minAmtStr}"></td>
                    <td align="right" style="font-weight: bolder" th:text="${list.avgAmtStr}"></td>
                    <td align="right" th:text="${list.maxAmtStr}"></td>
                    <td align="right" th:text="${#numbers.formatDecimal(list.highestRate,1,1,'POINT')}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>