<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <h5 align="center">[ 경 기 중 서 권 ]</h5>
        <div>
            <a>안산&nbsp</a>
            <a th:href="@{/stat_rank_ua/gyunggi/{rankgubn}/41271/{ua}(ua=${ua},rankgubn=${rankgubn})}">상록&nbsp</a>
            <a th:href="@{/stat_rank_ua/gyunggi/{rankgubn}/41273/{ua}(ua=${ua},rankgubn=${rankgubn})}">단원</a>
            <b>/&nbsp</b>
            <a>안양&nbsp</a>
            <a th:href="@{/stat_rank_ua/gyunggi/{rankgubn}/41171/{ua}(ua=${ua},rankgubn=${rankgubn})}">만안&nbsp</a>
            <a th:href="@{/stat_rank_ua/gyunggi/{rankgubn}/41173/{ua}(ua=${ua},rankgubn=${rankgubn})}">동안</a>
        </div>
        <div>
            <a th:href="@{/stat_rank_ua/gyunggi/{rankgubn}/41290/{ua}(ua=${ua},rankgubn=${rankgubn})}">&nbsp과천시&nbsp</a>
            <a th:href="@{/stat_rank_ua/gyunggi/{rankgubn}/41210/{ua}(ua=${ua},rankgubn=${rankgubn})}">&nbsp광명시&nbsp</a>
            <a th:href="@{/stat_rank_ua/gyunggi/{rankgubn}/41410/{ua}(ua=${ua},rankgubn=${rankgubn})}">&nbsp군포시&nbsp</a>
            <a th:href="@{/stat_rank_ua/gyunggi/{rankgubn}/41190/{ua}(ua=${ua},rankgubn=${rankgubn})}">&nbsp부천시&nbsp</a>
            <a th:href="@{/stat_rank_ua/gyunggi/{rankgubn}/41390/{ua}(ua=${ua},rankgubn=${rankgubn})}">&nbsp시흥시&nbsp</a>
            <a th:href="@{/stat_rank_ua/gyunggi/{rankgubn}/41430/{ua}(ua=${ua},rankgubn=${rankgubn})}">&nbsp의왕시&nbsp</a>
        </div>
        <p>
            <h4 align="center" th:text="${title}"></h4>
            <h6 align="center" th:text="${subtitle}"></h6>
        </p>
        <div>
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-jcQR8RwkXK2z2xvE"
                 data-ad-width   = "320"
                 data-ad-height  = "100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
        <table class="table table-striped">
            <thead class="table-dark">
                <tr style="font-size:12px;" align="center">
                    <th>법정동</th>
                    <th>아파트</th>
                    <th>건수</th>
<!--                    <th>최저</th>-->
                    <th>평균</th>
<!--                    <th>최고</th>-->
                    <th>신고가율</th>
                    <th>매매</th>
                    <th>내역</th>
                </tr>
            </thead>
            <tbody>
                <tr style="font-size:12px;" th:each="list : ${list}">
                    <td align="center" th:text="${list.landDong}"></td>
                    <td align="left" th:text="|${list.aptName}[${list.buildYear}]|"></td>
                    <td align="right" th:text="${#numbers.formatInteger(list.tradeCnt,1,'COMMA')}"></td>
<!--                    <td align="right" th:text="${list.minAmtStr}"></td>-->
                    <td align="right" style="font-weight: bolder" th:text="${list.avgAmtStr}"></td>
<!--                    <td align="right" th:text="${list.maxAmtStr}"></td>-->
                    <td align="right" th:text="${#numbers.formatDecimal(list.highestRate,1,1,'POINT')}"></td>
                    <td align="center"><a th:href="@{https://www.earlmazip.co.kr/{add}(add=${list.tradeUrl})}">21~</a> </td>
                    <td align="center"><a th:href="@{https://www.earlmazip.co.kr/{add}(add=${list.tradeUrl2})}">19~</a> </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>