<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <h5 align="center">[ 강 북 권 ]</h5>
        <div>
            <a href="/stat_rank_ua/seoul/0/11305/84">강북구&nbsp</a>
            <a href="/stat_rank_ua/seoul/0/11215/84">&nbsp광진구&nbsp</a>
            <a href="/stat_rank_ua/seoul/0/11350/84">&nbsp노원구&nbsp</a>
            <a href="/stat_rank_ua/seoul/0/11320/84">&nbsp도봉구&nbsp</a>
            <a href="/stat_rank_ua/seoul/0/11230/84">&nbsp동대문&nbsp</a>
            <a href="/stat_rank_ua/seoul/0/11440/84">&nbsp마포구&nbsp</a>
            <a href="/stat_rank_ua/seoul/0/11410/84">&nbsp서대문</a>
        </div>
        <div>
            <a href="/stat_rank_ua/seoul/0/11200/84">성동구&nbsp</a>
            <a href="/stat_rank_ua/seoul/0/11290/84">&nbsp성북구&nbsp</a>
            <a href="/stat_rank_ua/seoul/0/11470/84">&nbsp양천구&nbsp</a>
            <a href="/stat_rank_ua/seoul/0/11170/84">&nbsp용산구</a>
            <a href="/stat_rank_ua/seoul/0/11380/84">&nbsp은평구&nbsp</a>
            <a href="/stat_rank_ua/seoul/0/11110/84">&nbsp종로구&nbsp</a>
            <a href="/stat_rank_ua/seoul/0/11260/84">&nbsp중랑구&nbsp</a>
            <a href="/stat_rank_ua/seoul/0/11140/84">&nbsp중구</a>
        </div>
        <p>
            <h4 align="center" th:text="${title}"></h4>
            <h6 align="center" th:text="${subtitle}"></h6>
        </p>
        <div>
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-jcQR8RwkXK2z2xvE"
                 data-ad-width   = "320"
                 data-ad-height  = "100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
        <table class="table table-striped">
            <thead class="table-dark">
                <tr style="font-size:12px;" align="center">
                    <th>법정동</th>
                    <th>아파트</th>
                    <th>건수</th>
<!--                    <th>최저</th>-->
                    <th>평균</th>
<!--                    <th>최고</th>-->
                    <th>신고가율</th>
                    <th>매매</th>
                    <th>내역</th>
                </tr>
            </thead>
            <tbody>
                <tr style="font-size:12px;" th:each="list : ${list}">
                    <td align="center" th:text="${list.landDong}"></td>
                    <td align="left" th:text="|${list.aptName}[${list.buildYear}]|"></td>
                    <td align="right" th:text="${#numbers.formatInteger(list.tradeCnt,1,'COMMA')}"></td>
<!--                    <td align="right" th:text="${list.minAmtStr}"></td>-->
                    <td align="right" style="font-weight: bolder" th:text="${list.avgAmtStr}"></td>
<!--                    <td align="right" th:text="${list.maxAmtStr}"></td>-->
                    <td align="right" th:text="${#numbers.formatDecimal(list.highestRate,1,1,'POINT')}"></td>
                    <td align="center"><a th:href="@{https://www.earlmazip.co.kr/{add}(add=${list.tradeUrl})}"><button>21~</button></a> </td>
                    <td align="center"><a th:href="@{https://www.earlmazip.co.kr/{add}(add=${list.tradeUrl2})}"><button>19~</button></a> </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>