<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div class="container">

    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div>
        <div>
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-jcQR8RwkXK2z2xvE"
                 data-ad-width   = "320"
                 data-ad-height  = "100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
        <h6>아파트 정보 검색</h6>
        <p>
            <a class="btn btn-dark btn-sm" href="/apts">아파트 검색</a>
        </p>
        <h6>매매</h6>
        <p>
            <a class="btn btn-primary btn-sm" href="/stat_trade/useareaType/home">월별 매매통계</a>
            <a class="btn btn-primary btn-sm" href="/tradelist/home">최근 매매내역</a>
            <a class="btn btn-primary btn-sm" href="/tradelist/newHighest/home">신고가내역</a>
            </br>
            </br>
            <a class="btn btn-primary btn-sm" href="/stat_rank_uatype/home">평형대별 평균매매가 TOP 20</a>
            <a class="btn btn-primary btn-sm" href="/tradelist/cancelDeal/home">취소내역</a>
            </br>
            </br>
            <a class="btn btn-primary btn-sm" href="/stat_trade/top/home">매매가 TOP 100</a>
            <a class="btn btn-primary btn-sm" href="/tradelist/comparePrev/home">상승/하락거래</a>
            <a class="btn btn-primary btn-sm" href="/stat_trade/ByDealType/home">중개/직거래 통계</a>
        </p>
        <h6>전/월세</h6>
        <p>
            <a class="btn btn-outline-primary btn-sm" href="/leaselist/home">최근 전세내역</a>
            <a class="btn btn-outline-primary btn-sm" href="/leaselist/monthly/home">최근 월세내역</a>
            </br>
            </br>
            <a class="btn btn-outline-primary btn-sm" href="/leaselist/renewal/home">최근 갱신내역</a>
            <a class="btn btn-outline-primary btn-sm" href="/stat_lease/top/home">전/월세 TOP 100</a>
            </br>
            </br>
            <a class="btn btn-outline-primary btn-sm" href="/stat_rank_uatype/lease/home">평형대별 평균전세가 TOP 20</a>
            </br>
            </br>
            <a class="btn btn-outline-primary btn-sm" href="/stat_lease/home">월별 전세통계</a>
            <a class="btn btn-outline-primary btn-sm" href="/lease_analysis/home">월별 월세비율통계</a>
            </br>
            </br>
            <a class="btn btn-outline-primary btn-sm" href="/leaselist/office/home">최근 전세내역[오피]</a>
            <a class="btn btn-outline-primary btn-sm" href="/leaselist/office/monthly/home">최근 월세내역[오피]</a>
        </p>

<!--            <a class="btn btn-outline-primary btn-sm" href="/stat_trade/useareaType?sigunguCode=26&uaType=UA01&term=3">부산</a>-->
<!--            <a class="btn btn-outline-primary btn-sm" href="/stat_trade/useareaType?sigunguCode=27&uaType=UA01&term=3">대구</a>-->
<!--            <a class="btn btn-outline-primary btn-sm" href="/stat_trade/useareaType?sigunguCode=31&uaType=UA01&term=3">울산</a>-->
<!--            <a class="btn btn-outline-primary btn-sm" href="/stat_trade/useareaType?sigunguCode=47&uaType=UA01&term=3">경북</a>-->
<!--            <a class="btn btn-outline-primary btn-sm" href="/stat_trade/useareaType?sigunguCode=48&uaType=UA01&term=3">경남</a>-->
<!--        </p>-->
<!--        <p>-->
<!--            <a>서울&nbsp</a>-->
<!--            <a class="btn btn-primary btn-sm" href="/stat_trade/useareaType?sigunguCode=11&uaType=UA01&term=1">전체</a>-->
<!--            <a class="btn btn-primary btn-sm" href="/stat_trade/useareaType?sigunguCode=11&uaType=UA08&term=1">전용59</a>-->
<!--            <a class="btn btn-primary btn-sm" href="/stat_trade/useareaType?sigunguCode=11&uaType=UA07&term=1">국평</a>-->
<!--            <a class="btn btn-primary btn-sm" href="/stat_trade/useareaType?sigunguCode=11&uaType=UA04&term=1">중형</a>-->
<!--            <a class="btn btn-primary btn-sm" href="/stat_trade/useareaType?sigunguCode=11&uaType=UA05&term=1">중대형</a>-->
<!--            <a class="btn btn-primary btn-sm" href="/stat_trade/useareaType?sigunguCode=11&uaType=UA06&term=1">대형</a>-->
<!--            </br>-->
<!--            </br>-->
<!--            <a>경기&nbsp</a>-->
<!--            <a class="btn btn-info btn-sm" href="/stat_trade/useareaType?sigunguCode=41&uaType=UA01&term=1">전체</a>-->
<!--            <a class="btn btn-info btn-sm" href="/stat_trade/useareaType?sigunguCode=41&uaType=UA08&term=1">전용59</a>-->
<!--            <a class="btn btn-info btn-sm" href="/stat_trade/useareaType?sigunguCode=41&uaType=UA07&term=1">국평</a>-->
<!--            <a class="btn btn-info btn-sm" href="/stat_trade/useareaType?sigunguCode=41&uaType=UA04&term=1">중형</a>-->
<!--            <a class="btn btn-info btn-sm" href="/stat_trade/useareaType?sigunguCode=41&uaType=UA05&term=1">중대형</a>-->
<!--            <a class="btn btn-info btn-sm" href="/stat_trade/useareaType?sigunguCode=41&uaType=UA06&term=1">대형</a>-->
<!--            </br>-->
<!--            </br>-->
<!--            <a>인천&nbsp</a>-->
<!--            <a class="btn btn-secondary btn-sm" href="/stat_trade/useareaType?sigunguCode=28&uaType=UA01&term=1">전체</a>-->
<!--            <a class="btn btn-secondary btn-sm" href="/stat_trade/useareaType?sigunguCode=28&uaType=UA08&term=1">전용59</a>-->
<!--            <a class="btn btn-secondary btn-sm" href="/stat_trade/useareaType?sigunguCode=28&uaType=UA07&term=1">국평</a>-->
<!--            <a class="btn btn-secondary btn-sm" href="/stat_trade/useareaType?sigunguCode=28&uaType=UA04&term=1">중형</a>-->
<!--            <a class="btn btn-secondary btn-sm" href="/stat_trade/useareaType?sigunguCode=28&uaType=UA05&term=1">중대형</a>-->
<!--            <a class="btn btn-secondary btn-sm" href="/stat_trade/useareaType?sigunguCode=28&uaType=UA06&term=1">대형</a>-->
<!--        </p>-->
<!--        <h6>2022 신고가</h6>-->
<!--        <p>-->
<!--            <a class="btn btn-outline-info btn-sm" href="/tradelist/newHighest?sigunguCode=11&uaType=UA01">서울</a>-->
<!--            <a class="btn btn-outline-info btn-sm" href="/tradelist/newHighest?sigunguCode=41&uaType=UA01">경기</a>-->
<!--            <a class="btn btn-outline-info btn-sm" href="/tradelist/newHighest?sigunguCode=28&uaType=UA01">인천</a>-->
<!--        </p>-->
<!--        <h6>매매가 최근 200</h6>-->
<!--        <p>-->
<!--            <a class="btn btn-secondary btn-sm" href="/tradelist?sigunguCode=11">서울</a>-->
<!--            <a class="btn btn-secondary btn-sm" href="/tradelist?sigunguCode=41">경기</a>-->
<!--            <a class="btn btn-secondary btn-sm" href="/tradelist?sigunguCode=28">인천</a>-->
<!--            <a class="btn btn-secondary btn-sm" href="/tradelist?sigunguCode=42">강원</a>-->
<!--            <a class="btn btn-secondary btn-sm" href="/tradelist?sigunguCode=36110">세종</a>-->
<!--            </br>-->
<!--            </br>-->
<!--            <a class="btn btn-outline-secondary btn-sm" href="/tradelist?sigunguCode=26">부산</a>-->
<!--            <a class="btn btn-outline-secondary btn-sm" href="/tradelist?sigunguCode=27">대구</a>-->
<!--            <a class="btn btn-outline-secondary btn-sm" href="/tradelist?sigunguCode=31">울산</a>-->
<!--            <a class="btn btn-outline-secondary btn-sm" href="/tradelist?sigunguCode=47">경북</a>-->
<!--            <a class="btn btn-outline-secondary btn-sm" href="/tradelist?sigunguCode=48">경남</a>-->
<!--        </p>-->
<!--        <h6>2022 매매가 TOP 100</h6>-->
<!--        <p>-->
<!--            <a class="btn btn-danger btn-sm" href="/stat_trade/top?sigunguCode=11&yaer=2022&uaType=UA01">서울</a>-->
<!--            <a class="btn btn-danger btn-sm" href="/stat_trade/top?sigunguCode=41&yaer=2022&uaType=UA01">경기</a>-->
<!--            <a class="btn btn-danger btn-sm" href="/stat_trade/top?sigunguCode=28&yaer=2022&uaType=UA01">인천</a>-->
<!--            <a class="btn btn-danger btn-sm" href="/stat_trade/top?sigunguCode=42&yaer=2022&uaType=UA01">강원</a>-->
<!--            <a class="btn btn-danger btn-sm" href="/stat_trade/top?sigunguCode=36110&yaer=2022&uaType=UA01">세종</a>-->
<!--            </br>-->
<!--            </br>-->
<!--            <a class="btn btn-outline-danger btn-sm" href="/stat_trade/top?sigunguCode=26&yaer=2022&uaType=UA01">부산</a>-->
<!--            <a class="btn btn-outline-danger btn-sm" href="/stat_trade/top?sigunguCode=27&yaer=2022&uaType=UA01">대구</a>-->
<!--            <a class="btn btn-outline-danger btn-sm" href="/stat_trade/top?sigunguCode=31&yaer=2022&uaType=UA01">울산</a>-->
<!--            <a class="btn btn-outline-danger btn-sm" href="/stat_trade/top?sigunguCode=47&yaer=2022&uaType=UA01">경북</a>-->
<!--            <a class="btn btn-outline-danger btn-sm" href="/stat_trade/top?sigunguCode=48&yaer=2022&uaType=UA01">경남</a>-->
<!--        </p>-->
    </div>

    <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->
<script>
</script>
</body>
</html>