<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div class="container">

    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div>
        <p>테마</p>
        <p>
            <a class="btn btn-outline-primary" href="/stat_trade/newHighestAndTradeCntByCity/0">신고가</a>
            <a class="btn btn-outline-primary" href="/stat_trade/theme01/1">강남3구(15억~)</a>
            <a class="btn btn-outline-primary" href="/tradelist/cancelDeal/0">취소건(2021~)</a>
            </br>
            </br>
            <a class="btn btn-outline-primary" href="/stat_trade/theme02/1">서울 4구역 통계</a>
            <a class="btn btn-outline-primary" href="/stat_trade/ByUsearea/11/3">전용면적별</a>
            <a class="btn btn-outline-primary" href="/stat_trade/theme03/11/14">가계대출</a>
<!--            <a class="btn btn-outline-primary" href="/stat_trade/statTheme02">건축년도별</a>-->
        </p>
        <p>2021-2022 국평기준 평균매매가 TOP 10</p>
        <p>
            <a class="btn btn-info" href="/stat_rank_ua/seoul/0/0/84">서울 강남</a>
            <a class="btn btn-outline-info" href="/stat_rank_ua/seoul/0/1/84">서울 강북</a>
            </br>
            </br>
            <a class="btn btn-warning" href="/stat_rank_ua/gyunggi/0/0/84">경기 중서</a>
            <a class="btn btn-outline-warning" href="/stat_rank_ua/gyunggi/0/1/84">경기 서남</a>
        </p>

        <p>2021-2022 전용59 기준 평균매매가 TOP 10</p>
        <p>
            <a class="btn btn-dark" href="/stat_rank_ua/seoul/0/0/59">서울 강남</a>
            <a class="btn btn-outline-dark" href="/stat_rank_ua/seoul/0/1/59">서울 강북</a>
            </br>
            </br>
            <a class="btn btn-warning" href="/stat_rank_ua/gyunggi/0/0/59">경기 중서</a>
            <a class="btn btn-outline-warning" href="/stat_rank_ua/gyunggi/0/1/59">경기 서남</a>
        </p>
    </div>

    <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->
<script>
</script>
</body>
</html>