<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div class="container">

    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div>
        <div>
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-jcQR8RwkXK2z2xvE"
                 data-ad-width   = "320"
                 data-ad-height  = "100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
        <p>테마</p>
        <p>
            <a class="btn btn-outline-primary btn-sm" href="/stat_trade/newHighestAndTradeCntByCity/0">신고가</a>
            <a class="btn btn-outline-primary btn-sm" href="/stat_trade/theme01/1">강남3구(15억~)</a>
            <a class="btn btn-outline-primary btn-sm" href="/tradelist/cancelDeal/0">취소건(2021~)</a>
            </br>
            </br>
            <a class="btn btn-outline-primary btn-sm" href="/stat_trade/theme02/1">서울 4구역 통계</a>
            <a class="btn btn-outline-primary btn-sm" href="/stat_trade/ByUsearea/11/3">전용면적별</a>

<!--            <a class="btn btn-outline-primary" href="/stat_trade/statTheme02">건축년도별</a>-->
            </br>
            </br>
            <a>거래유형별</a>
            <a class="btn btn-outline-primary btn-sm" href="/stat_trade/ByDealType?sigunguCode=11&uaType=UA01">서울</a>
            <a class="btn btn-outline-primary btn-sm" href="/stat_trade/ByDealType?sigunguCode=41&uaType=UA01">경기</a>
        </p>
        <p>2021-2022 국평기준 평균매매가 TOP 20</p>
        <p>
            <a>서울&nbsp</a>
            <a class="btn btn-info btn-sm" href="/stat_rank_ua/seoul/0/0/84">강남권</a>
            <a class="btn btn-info btn-sm" href="/stat_rank_ua/seoul/0/1/84">강북권</a>
            </br>
            </br>
            <a>경기&nbsp</a>
            <a class="btn btn-outline-info btn-sm" href="/stat_rank_ua/gyunggi/0/0/84">경기</a>
<!--            <a class="btn btn-outline-info btn-sm" href="/stat_rank_ua/gyunggi/0/0/84">중서권</a>-->
<!--            <a class="btn btn-outline-info btn-sm" href="/stat_rank_ua/gyunggi/0/1/84">서남권</a>-->
<!--            <a class="btn btn-outline-info btn-sm" href="/stat_rank_ua/gyunggi/0/2/84">동남권</a>-->
<!--            <a class="btn btn-outline-info btn-sm" href="/stat_rank_ua/gyunggi/0/3/84">동북권</a>-->
<!--            <a class="btn btn-outline-info btn-sm" href="/stat_rank_ua/gyunggi/0/4/84">서북권</a>-->
        </p>

        <p>2021-2022 전용59 기준 평균매매가 TOP 20</p>
        <p>
            <a>서울&nbsp</a>
            <a class="btn btn-dark btn-sm" href="/stat_rank_ua/seoul/0/0/59">강남권</a>
            <a class="btn btn-dark btn-sm" href="/stat_rank_ua/seoul/0/1/59">강북권</a>
            </br>
            </br>
            <a>경기&nbsp</a>
            <a class="btn btn-outline-dark btn-sm" href="/stat_rank_ua/gyunggi/0/0/59">경기</a>
<!--            <a class="btn btn-outline-dark btn-sm" href="/stat_rank_ua/gyunggi/0/1/59">서남권</a>-->
<!--            <a class="btn btn-outline-dark btn-sm" href="/stat_rank_ua/gyunggi/0/2/59">동남권</a>-->
<!--            <a class="btn btn-outline-dark btn-sm" href="/stat_rank_ua/gyunggi/0/3/59">동북권</a>-->
<!--            <a class="btn btn-outline-dark btn-sm" href="/stat_rank_ua/gyunggi/0/4/59">서북권</a>-->
        </p>
    </div>

    <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->
<script>
</script>
</body>
</html>