<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div class="container">

    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div>
        <div>
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-jcQR8RwkXK2z2xvE"
                 data-ad-width   = "320"
                 data-ad-height  = "100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
        <p>테마</p>
        <p>
<!--            <a class="btn btn-outline-primary btn-sm" href="/stat_trade/newHighestAndTradeCntByCity/0">신고가</a>-->
<!--            <a class="btn btn-outline-primary btn-sm" href="/stat_trade/theme01/1">강남3구(15억~)</a>-->
            <a class="btn btn-outline-primary btn-sm" href="/tradelist/cancelDeal?sigunguCode=0">취소건(2021~)</a>
<!--            </br>-->
<!--            </br>-->
<!--            <a class="btn btn-outline-primary btn-sm" href="/stat_trade/theme02/1">서울 4구역 통계</a>-->
<!--            <a class="btn btn-outline-primary btn-sm" href="/stat_trade/ByUsearea/11/3">전용면적별</a>-->

<!--            <a class="btn btn-outline-primary" href="/stat_trade/statTheme02">건축년도별</a>-->
            </br>
            </br>
            <a>거래유형별</a>
            <a class="btn btn-outline-primary btn-sm" href="/stat_trade/ByDealType?sigunguCode=11&uaType=UA01">서울</a>
            <a class="btn btn-outline-primary btn-sm" href="/stat_trade/ByDealType?sigunguCode=41&uaType=UA01">경기</a>
            <a class="btn btn-outline-primary btn-sm" href="/stat_trade/ByDealType?sigunguCode=28&uaType=UA01">인천</a>
            </br>
            </br>
            <a>상승/하락거래</a>
            <a class="btn btn-success btn-sm" href="/tradelist/comparePrev?sigunguCode=11&type0&uaType=UA01">서울</a>
            <a class="btn btn-success btn-sm" href="/tradelist/comparePrev?sigunguCode=41&type0&uaType=UA01">경기</a>
            <a class="btn btn-success btn-sm" href="/tradelist/comparePrev?sigunguCode=28&type0&uaType=UA01">인천</a>
        </p>
        </br>
        <p>평형대별 평균매매가 TOP 20</p>
        <p>
            <a>2022&nbsp</a>
            <a class="btn btn-primary btn-sm" href="/stat_rank_uatype?rankGubn=0&dealYear=2022&sigunguCode=11&uaType=UA02">서울</a>
            <a class="btn btn-primary btn-sm" href="/stat_rank_uatype?rankGubn=0&dealYear=2022&sigunguCode=41&uaType=UA02">경기</a>
            <a class="btn btn-primary btn-sm" href="/stat_rank_uatype?rankGubn=0&dealYear=2022&sigunguCode=28&uaType=UA02">인천</a>
            </br>
            </br>
            <a>2021&nbsp</a>
            <a class="btn btn-outline-primary btn-sm" href="/stat_rank_uatype?rankGubn=0&dealYear=2021&sigunguCode=11&uaType=UA02">서울</a>
            <a class="btn btn-outline-primary btn-sm" href="/stat_rank_uatype?rankGubn=0&dealYear=2021&sigunguCode=41&uaType=UA02">경기</a>
            <a class="btn btn-outline-primary btn-sm" href="/stat_rank_uatype?rankGubn=0&dealYear=2021&sigunguCode=28&uaType=UA02">인천</a>
        </p>
        </br>
        <p>평형대별 매매건수 TOP 20</p>
        <p>
            <a>2022&nbsp</a>
            <a class="btn btn-success btn-sm" href="/stat_rank_uatype?rankGubn=1&dealYear=2022&sigunguCode=11&uaType=UA02">서울</a>
            <a class="btn btn-success btn-sm" href="/stat_rank_uatype?rankGubn=1&dealYear=2022&sigunguCode=41&uaType=UA02">경기</a>
            <a class="btn btn-success btn-sm" href="/stat_rank_uatype?rankGubn=1&dealYear=2022&sigunguCode=28&uaType=UA02">인천</a>
            </br>
            </br>
            <a>2021&nbsp</a>
            <a class="btn btn-outline-success btn-sm" href="/stat_rank_uatype?rankGubn=1&dealYear=2021&sigunguCode=11&uaType=UA02">서울</a>
            <a class="btn btn-outline-success btn-sm" href="/stat_rank_uatype?rankGubn=1&dealYear=2021&sigunguCode=41&uaType=UA02">경기</a>
            <a class="btn btn-outline-success btn-sm" href="/stat_rank_uatype?rankGubn=1&dealYear=2021&sigunguCode=28&uaType=UA02">인천</a>
        </p>
        </br>
<!--        <p>2021-2022 평균매매가 TOP 20</p>-->
<!--        <p>-->
<!--            <a>국평&nbsp</a>-->
<!--            <a class="btn btn-info btn-sm" href="/stat_rank_ua/seoul/0/0/84">서울</a>-->
<!--            <a class="btn btn-outline-info btn-sm" href="/stat_rank_ua/gyunggi/0/0/84">경기</a>-->
<!--            <a class="btn btn-outline-info btn-sm" href="/stat_rank_ua/incheon/0/0/84">인천</a>-->
<!--        </p>-->
<!--        <p>-->
<!--            <a>전용59&nbsp</a>-->
<!--            <a class="btn btn-dark btn-sm" href="/stat_rank_ua/seoul/0/0/59">서울</a>-->
<!--            <a class="btn btn-outline-dark btn-sm" href="/stat_rank_ua/gyunggi/0/0/59">경기</a>-->
<!--            <a class="btn btn-outline-dark btn-sm" href="/stat_rank_ua/incheon/0/0/59">인천</a>-->
<!--        </p>-->
    </div>

    <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->
<script>
</script>
</body>
</html>