<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div class="container">

    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div>
        <h6>기타</h6>
        <p>
            <a class="btn btn-outline-info btn-sm" href="/stat_etc/population/10">인구통계</a>
            <a class="btn btn-outline-info btn-sm" href="/stat_etc/income">소득통계</a>
            <a class="btn btn-outline-info btn-sm" href="/stat_etc/creditCardUse/11">신용카드</a>
        </p>
    </div>

    <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->
<script>
</script>
</body>
</html>