<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div class="container">

    <div th:replace="fragments/bodyHeader :: bodyHeader" />

<!--    <div class="jumbotron">-->
    <div>
<!--        <h1></h1>-->
        <h6>아파트 정보 검색</h6>
        <p>
            <a class="btn btn-dark btn-sm" href="/apts">아파트 검색</a>
        </p>
        <div>
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-jcQR8RwkXK2z2xvE"
                 data-ad-width   = "320"
                 data-ad-height  = "100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
        <h6>수도권 매매 가격 통계</h6>
        <p>
            <a class="btn btn-primary btn-sm" href="/stat_trade/11/3">서울</a>
            <a class="btn btn-primary btn-sm" href="/stat_trade/seoul/0/6">구별</a>
            <a class="btn btn-primary btn-sm" href="/stat_trade/useareaType/11/UA03/1">중소형</a>
            <a class="btn btn-primary btn-sm" href="/stat_trade/useareaType/11/UA07/1">국평</a>
            <a class="btn btn-primary btn-sm" href="/stat_trade/useareaType/11/UA04/1">중형</a>
            <a class="btn btn-primary btn-sm" href="/stat_trade/useareaType/11/UA05/1">중대형</a>
            <a class="btn btn-primary btn-sm" href="/stat_trade/useareaType/11/UA06/1">대형</a>
            </br>
            </br>
            <a class="btn btn-info btn-sm" href="/stat_trade/41/3">경기</a>
<!--            <a class="btn btn-info btn-sm" href="/stat_trade/gyunggiByCity/0/6">시별</a>-->
<!--            <a class="btn btn-info btn-sm" href="/stat_trade/gyunggiBySigungu/0/6">구별</a>-->
            <a class="btn btn-info btn-sm" href="/stat_trade/useareaType/41/UA01/1">구별</a>
            <a class="btn btn-info btn-sm" href="/stat_trade/useareaType/41/UA03/1">중소형</a>
            <a class="btn btn-info btn-sm" href="/stat_trade/useareaType/41/UA07/1">국평</a>
            <a class="btn btn-info btn-sm" href="/stat_trade/useareaType/41/UA04/1">중형</a>
            <a class="btn btn-info btn-sm" href="/stat_trade/useareaType/41/UA05/1">중대형</a>
            <a class="btn btn-info btn-sm" href="/stat_trade/useareaType/41/UA06/1">대형</a>
            </br>
            </br>
            <a class="btn btn-secondary btn-sm" href="/stat_trade/28/3">인천</a>
            <a class="btn btn-secondary btn-sm" href="/stat_trade/incheonBySigungu/0/6">구별</a>
            <a class="btn btn-secondary btn-sm" href="/stat_trade/useareaType/28/UA03/1">중소형</a>
            <a class="btn btn-secondary btn-sm" href="/stat_trade/useareaType/28/UA07/1">국평</a>
            <a class="btn btn-secondary btn-sm" href="/stat_trade/useareaType/28/UA04/1">중형</a>
            <a class="btn btn-secondary btn-sm" href="/stat_trade/useareaType/28/UA05/1">중대형</a>
            <a class="btn btn-secondary btn-sm" href="/stat_trade/useareaType/28/UA06/1">대형</a>
        </p>
        <h6>2022 신고가</h6>
        <p>
            <a class="btn btn-outline-info btn-sm" href="/newHighestList/11/0">서울</a>
            <a class="btn btn-outline-info btn-sm" href="/newHighestList/41/0">경기</a>
            <a class="btn btn-outline-info btn-sm" href="/newHighestList/28/0">인천</a>
        </p>
        <h6>매매가 최근 100</h6>
        <p>
            <a class="btn btn-info btn-sm" href="/tradelist/11/0/0">서울</a>
            <a class="btn btn-info btn-sm" href="/tradelist/41/0/0">경기</a>
            <a class="btn btn-info btn-sm" href="/tradelist/28/0/0">인천</a>
        </p>
        <h6>2020 - 2022 매매가 TOP 100</h6>
        <p>
            <a class="btn btn-danger btn-sm" href="/stat_trade/seoul/top/2022/0">서울</a>
            <a class="btn btn-danger btn-sm" href="/stat_trade/gyunggi/top/2022/0">경기</a>
            <a class="btn btn-danger btn-sm" href="/stat_trade/incheon/top/2022/0">인천</a>
        </p>
<!--        <p>기타</p>-->
<!--        <p>-->
<!--            <a class="btn btn-outline-info" href="/stat_etc/population/10">인구통계</a>-->
<!--            <a class="btn btn-outline-info" href="/stat_etc/income">소득통계</a>-->
<!--        </p>-->
    </div>

    <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->
<script>
</script>
</body>
</html>