<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <!--    <a th:text="${year}"></a>-->
    <div>
        <p>
            <h6 align="center" th:text="|[ ${title} ]|"></h6>
            <h6 align="center" th:text="|( 기간: ${termStr} )|"></h6>
        </p>
        <div>
            <canvas id="myChart"></canvas>
        </div>
        <div>
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-jcQR8RwkXK2z2xvE"
                 data-ad-width   = "320"
                 data-ad-height  = "100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
        <a style="font-size: 20px">[기간설정]&nbsp</a>
        <a style="font-size: 20px" th:href="@{/tradelist/ByName/{regncode}/{aptName}/{ua}/0?landDong={landDong} (regncode=${regncode}, aptName=${aptName}, ua=${ua}, landDong=${landDong})}">올해&nbsp</a>
        <b>/&nbsp</b>
        <a style="font-size: 20px" th:href="@{/tradelist/ByName/{regncode}/{aptName}/{ua}/2?landDong={landDong} (regncode=${regncode}, aptName=${aptName}, ua=${ua}, landDong=${landDong})}">2년&nbsp</a>
        <b>/&nbsp</b>
        <a style="font-size: 20px" th:href="@{/tradelist/ByName/{regncode}/{aptName}/{ua}/3?landDong={landDong} (regncode=${regncode}, aptName=${aptName}, ua=${ua}, landDong=${landDong})}">3년&nbsp</a>
        <b>/&nbsp</b>
        <a style="font-size: 20px" th:href="@{/tradelist/ByName/{regncode}/{aptName}/{ua}/4?landDong={landDong} (regncode=${regncode}, aptName=${aptName}, ua=${ua}, landDong=${landDong})}">4년&nbsp</a>
        <b>/&nbsp</b>
        <a style="font-size: 20px" th:href="@{/tradelist/ByName/{regncode}/{aptName}/{ua}/5?landDong={landDong} (regncode=${regncode}, aptName=${aptName}, ua=${ua}, landDong=${landDong})}">5년&nbsp</a>

        <table class="table table-striped">
            <thead class="table-dark">
                <tr style="font-size:12px;" align="center">
                    <th>계약일자</th>
<!--                    <th>취소일자</th>-->
<!--                    <th>법정동</th>-->
<!--                    <th>아파트명</th>-->
                    <th>전용면적(m2)</th>
                    <th>거래금액</th>
                    <th>층수</th>
                    <th>신고가</th>
                    <th>거래유형</th>
                </tr>
            </thead>
            <tbody>
                <tr style="font-size:12px;" th:each="list : ${list}">
                    <td align="center" th:text="${list.dealDate}"></td>
<!--                    <td align="center" th:text="${list.cnclDealDate}"></td>-->
<!--                    <td align="center" th:text="${list.landDong}"></td>-->
<!--                    <td align="left" th:text="${list.aptName}"></td>-->
                    <td align="right" th:text="${#numbers.formatDecimal(list.useArea,1,2,'POINT')}"></td>
<!--                    <td align="right" th:text="${list.useAreaStr}"></td>-->
<!--                    <td align="right" th:text="${#numbers.formatInteger(list.dealAmt,1,'COMMA')}"></td>-->
                    <td align="right" style="font-weight: bolder" th:text="${list.dealAmtStr}"></td>
                    <td align="right" th:text="${list.floor}"></td>
                    <td align="center" th:text="${list.newHighest}"></td>
                    <td align="center" th:text="${list.dealType}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type = "text/javascript" th:inline="javascript">
  const labels =  /*[[ ${dates.toArray()} ]]*/;
  const dealAmts =  /*[[ ${dealAmts.toArray()} ]]*/;

  const data = {
    labels: labels,
    datasets: [{
      type: 'line',
      label: '매매가',
      yAxisID: 'y-line',
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      pointRadius:1,
      data: dealAmts
      }
    ]
  };

  const config = {
    data: data,
    options: {
        scales:{
            'y-line':{
                position: 'left',
<!--                suggestedMin: 0,-->
                ticks:{
				    color: 'rgb(255, 99, 132)'
				},
                title: {
                    display: true,
                    text: '매매가'
                }
            }
        }
    }
  };
</script>
<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>
</html>