<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <!--    <a th:text="${year}"></a>-->
    <div>
        <div>
            <a href="/tradelist/cancelDeal/11680">강남구&nbsp</a>
            <a href="/tradelist/cancelDeal/11740">&nbsp강동구&nbsp</a>
            <a href="/tradelist/cancelDeal/11305">&nbsp강북구&nbsp</a>
            <a href="/tradelist/cancelDeal/11500">&nbsp강서구&nbsp</a>
            <a href="/tradelist/cancelDeal/11620">&nbsp관악구&nbsp</a>
            <a href="/tradelist/cancelDeal/11215">&nbsp광진구&nbsp</a>
            <a href="/tradelist/cancelDeal/11530">&nbsp구로구</a>
        </div>
        <div>
            <a href="/tradelist/cancelDeal/11545">금천구&nbsp</a>
            <a href="/tradelist/cancelDeal/11350">&nbsp노원구&nbsp</a>
            <a href="/tradelist/cancelDeal/11320">&nbsp도봉구&nbsp</a>
            <a href="/tradelist/cancelDeal/11230">&nbsp동대문&nbsp</a>
            <a href="/tradelist/cancelDeal/11590">&nbsp동작구&nbsp</a>
            <a href="/tradelist/cancelDeal/11440">&nbsp마포구&nbsp</a>
            <a href="/tradelist/cancelDeal/11410">&nbsp서대문</a>
        </div>
        <div>
            <a href="/tradelist/cancelDeal/11650">서초구&nbsp</a>
            <a href="/tradelist/cancelDeal/11200">&nbsp성동구&nbsp</a>
            <a href="/tradelist/cancelDeal/11290">&nbsp성북구&nbsp</a>
            <a href="/tradelist/cancelDeal/11710">&nbsp송파구&nbsp</a>
            <a href="/tradelist/cancelDeal/11470">&nbsp양천구&nbsp</a>
            <a href="/tradelist/cancelDeal/11560">&nbsp영등포&nbsp</a>
            <a href="/tradelist/cancelDeal/11170">&nbsp용산구</a>
        </div>
        <div>
            <a href="/tradelist/cancelDeal/11380">은평구&nbsp</a>
            <a href="/tradelist/cancelDeal/11110">&nbsp종로구&nbsp</a>
            <a href="/tradelist/cancelDeal/11260">&nbsp중랑구&nbsp</a>
            <a href="/tradelist/cancelDeal/11140">&nbsp중구</a>
        </div>

        <div>
            <a>성남&nbsp</a>
            <a href="/tradelist/cancelDeal/41131">수정&nbsp</a>
            <a href="/tradelist/cancelDeal/41133">중원&nbsp</a>
            <a href="/tradelist/cancelDeal/41135">분당</a>
            <b>/&nbsp</b>
            <a>고양&nbsp</a>
            <a href="/tradelist/cancelDeal/41281">덕양&nbsp</a>
            <a href="/tradelist/cancelDeal/41285">일산동&nbsp</a>
            <a href="/tradelist/cancelDeal/41287">일산서</a>
        </div>
        <div>
            <a>용인&nbsp</a>
            <a href="/tradelist/cancelDeal/41461">처인&nbsp</a>
            <a href="/tradelist/cancelDeal/41463">기흥&nbsp</a>
            <a href="/tradelist/cancelDeal/41465">수지</a>
            <b>/&nbsp</b>
            <a>수원&nbsp</a>
            <a href="/tradelist/cancelDeal/41111">장안&nbsp</a>
            <a href="/tradelist/cancelDeal/41113">권선&nbsp</a>
            <a href="/tradelist/cancelDeal/41115">팔달&nbsp</a>
            <a href="/tradelist/cancelDeal/41117">영통</a>
        </div>
        <div>
            <a>안산&nbsp</a>
            <a href="/tradelist/cancelDeal/41271">상록&nbsp</a>
            <a href="/tradelist/cancelDeal/41273">단원</a>
            <b>/&nbsp</b>
            <a>안양&nbsp</a>
            <a href="/tradelist/cancelDeal/41171">만안&nbsp</a>
            <a href="/tradelist/cancelDeal/41173">동안</a>
        </div>
        <div>
            <a href="/tradelist/cancelDeal/4182">가평군&nbsp</a>
            <a href="/tradelist/cancelDeal/4129">&nbsp과천시&nbsp</a>
            <a href="/tradelist/cancelDeal/4121">&nbsp광명시&nbsp</a>
            <a href="/tradelist/cancelDeal/4161">&nbsp광주시&nbsp</a>
            <a href="/tradelist/cancelDeal/4131">&nbsp구리시&nbsp</a>
            <a href="/tradelist/cancelDeal/4141">&nbsp군포시&nbsp</a>
            <a href="/tradelist/cancelDeal/4157">&nbsp김포시</a>
        </div>
        <div>
            <a href="/tradelist/cancelDeal/4136">남양주&nbsp</a>
            <a href="/tradelist/cancelDeal/4125">&nbsp동두천&nbsp</a>
            <a href="/tradelist/cancelDeal/4119">&nbsp부천시&nbsp</a>
            <a href="/tradelist/cancelDeal/4139">&nbsp시흥시&nbsp</a>
            <a href="/tradelist/cancelDeal/4155">&nbsp안성시&nbsp</a>
            <a href="/tradelist/cancelDeal/4163">&nbsp양주시&nbsp</a>
            <a href="/tradelist/cancelDeal/4183">&nbsp양평군</a>
        </div>
        <div>
            <a href="/tradelist/cancelDeal/4167">여주시&nbsp</a>
            <a href="/tradelist/cancelDeal/4180">&nbsp연천군&nbsp</a>
            <a href="/tradelist/cancelDeal/4137">&nbsp오산시&nbsp</a>
            <a href="/tradelist/cancelDeal/4143">&nbsp의왕시&nbsp</a>
            <a href="/tradelist/cancelDeal/4115">&nbsp의정부&nbsp</a>
            <a href="/tradelist/cancelDeal/4150">&nbsp이천시&nbsp</a>
            <a href="/tradelist/cancelDeal/4148">&nbsp파주시</a>
        </div>

        <div>
            <a href="/tradelist/cancelDeal/4122">평택시&nbsp</a>
            <a href="/tradelist/cancelDeal/4165">&nbsp포천시&nbsp</a>
            <a href="/tradelist/cancelDeal/4145">&nbsp하남시&nbsp</a>
            <a href="/tradelist/cancelDeal/4159">&nbsp화성시</a>
        </div>

        <div>
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3199694479750381"
                    crossorigin="anonymous"></script>
        </div>
        <p>
            <h4 align="center" th:text="${title}"></h4>
        </p>
        <table class="table table-striped">
            <thead class="table-dark">
                <tr style="font-size:12px;" align="center">
                    <th>계약일자</th>
                    <th>취소일자</th>
                    <th>법정동</th>
                    <th>아파트명</th>
                    <th>전용면적(m2)</th>
                    <th>거래금액</th>
                    <th>신고가</th>
                    <th>거래유형</th>
                </tr>
            </thead>
            <tbody>
                <tr style="font-size:12px;" th:each="list : ${list}">
                    <td align="center" th:text="${list.dealDate}"></td>
                    <td style="font-weight: bolder"  align="center" th:text="${list.cnclDealDate}"></td>
                    <td align="center" th:text="${list.landDong}"></td>
                    <td align="left" th:text="${list.aptName}"></td>
                    <td align="right" th:text="${#numbers.formatDecimal(list.useArea,1,2,'POINT')}"></td>
                    <td align="right" th:text="${#numbers.formatInteger(list.dealAmt,1,'COMMA')}"></td>
                    <td align="center" th:text="${list.newHighest}"></td>
                    <td align="center" th:text="${list.dealType}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>