<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <!--    <a th:text="${year}"></a>-->
    <div>
        <div>
            <a href="/tradelist/cancelDeal?sigunguCode=11680">강남구&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=11740">&nbsp강동구&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=11305">&nbsp강북구&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=11500">&nbsp강서구&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=11620">&nbsp관악구&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=11215">&nbsp광진구&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=11530">&nbsp구로구</a>
        </div>
        <div>
            <a href="/tradelist/cancelDeal?sigunguCode=11545">금천구&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=11350">&nbsp노원구&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=11320">&nbsp도봉구&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=11230">&nbsp동대문&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=11590">&nbsp동작구&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=11440">&nbsp마포구&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=11410">&nbsp서대문</a>
        </div>
        <div>
            <a href="/tradelist/cancelDeal?sigunguCode=11650">서초구&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=11200">&nbsp성동구&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=11290">&nbsp성북구&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=11710">&nbsp송파구&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=11470">&nbsp양천구&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=11560">&nbsp영등포&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=11170">&nbsp용산구</a>
        </div>
        <div>
            <a href="/tradelist/cancelDeal?sigunguCode=11380">은평구&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=11110">&nbsp종로구&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=11260">&nbsp중랑구&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=11140">&nbsp중구</a>
        </div>

        <div>
            <a>성남&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=41131">수정&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=41133">중원&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=41135">분당</a>
            <b>/&nbsp</b>
            <a>고양&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=41281">덕양&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=41285">일산동&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=41287">일산서</a>
        </div>
        <div>
            <a>용인&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=41461">처인&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=41463">기흥&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=41465">수지</a>
            <b>/&nbsp</b>
            <a>수원&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=41111">장안&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=41113">권선&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=41115">팔달&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=41117">영통</a>
        </div>
        <div>
            <a>안산&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=41271">상록&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=41273">단원</a>
            <b>/&nbsp</b>
            <a>안양&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=41171">만안&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=41173">동안</a>
        </div>
        <div>
            <a href="/tradelist/cancelDeal?sigunguCode=41820">가평군&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=41290">&nbsp과천시&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=41210">&nbsp광명시&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=41610">&nbsp광주시&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=41310">&nbsp구리시&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=41410">&nbsp군포시&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=41570">&nbsp김포시</a>
        </div>
        <div>
            <a href="/tradelist/cancelDeal?sigunguCode=41360">남양주&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=41250">&nbsp동두천&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=41190">&nbsp부천시&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=41390">&nbsp시흥시&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=41630">&nbsp양주시&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=41830">&nbsp양평군</a>
        </div>
        <div>
            <a href="/tradelist/cancelDeal?sigunguCode=41670">여주시&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=41800">&nbsp연천군&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=41370">&nbsp오산시&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=41430">&nbsp의왕시&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=41150">&nbsp의정부&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=41500">&nbsp이천시&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=41480">&nbsp파주시</a>
        </div>

        <div>
            <a href="/tradelist/cancelDeal?sigunguCode=41220">평택시&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=41650">&nbsp포천시&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=41450">&nbsp하남시&nbsp</a>
            <a href="/tradelist/cancelDeal?sigunguCode=41590">&nbsp화성시</a>
        </div>
        <p>
            <h4 align="center" th:text="${title}"></h4>
        </p>
        <div>
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-jcQR8RwkXK2z2xvE"
                 data-ad-width   = "320"
                 data-ad-height  = "100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
        <table class="table table-striped">
            <thead class="table-dark">
                <tr style="font-size:12px;" align="center">
                    <th>취소일자</br>계약일자</th>
                    <th>아파트</th>
                    <th>전용</br>(m<sup>2</sup>)</th>
                    <th>금액</br>신고가</th>
                    <th>거래</br>유형</th>
                </tr>
            </thead>
            <tbody>
                <tr style="font-size:12px;" th:each="list : ${list}">
                    <td align="center">
                        <div>
                            <a style="font-weight: bolder"  align="center" th:text="${list.cnclDealDate}"></a></br>
                            <a th:text="${list.dealDate}"></a>
                        </div>
                    </td>
                    <td align="left">
                        <div>
                            <a th:text="${list.landDong}"></a></br>
                            <a style="font-weight: bolder" th:text="${list.aptName}"></a></br>
                            <a th:text="|[${list.buildYear}] ${list.floor}층|"></a>
                        </div>
                    </td>
                    <td align="right" th:text="${#numbers.formatDecimal(list.useArea,1,2,'POINT')}"></td>
                    <td align="right">
                        <div>
                            <a style="font-weight: bolder" th:text="${list.dealAmtStr}"></a></br>
                            <a th:text="${list.newHighest}"></a>
                        </div>
                    </td>
                    <td align="center" th:text="${list.dealType}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>