<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <!--    <a th:text="${year}"></a>-->
    <div>
        <p>
            <h5 align="center" th:text="${title}"></h5>
            <h6 align="center" th:text="|* ${uaStr}|"></h6>
        </p>
<!--        <div>-->
<!--            <select>-->
<!--                <option value="">동 선택</option>-->
<!--                <option th:each="dongList : ${dongList}" th:text="${dongList.landDong}" th:href="@{/tradelist?sigunguCode={sigunguCode}&uaType=UA01&landDong={landDong} (sigunguCode=${sigunguCode}, landDong=${dongList.landDong})}"></option>-->
<!--            </select>-->
<!--        </div>-->
        <p>
            <div class="d-flex gap-2 justify-content-center">
                <div class="dropdown d-block position-static pt-0 mx-0 rounded-1 shadow overflow-hidden w-180px">
                    <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        지역선택
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/tradelist?sigunguCode=47111&uaType={uaType} (uaType=${uaType})}">포항 남구</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist?sigunguCode=47113&uaType={uaType} (uaType=${uaType})}">포항 북구</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist?sigunguCode=47130&uaType={uaType} (uaType=${uaType})}">경주시</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist?sigunguCode=47150&uaType={uaType} (uaType=${uaType})}">김천시</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist?sigunguCode=47170&uaType={uaType} (uaType=${uaType})}">안동시</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist?sigunguCode=47190&uaType={uaType} (uaType=${uaType})}">구미시</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist?sigunguCode=47210&uaType={uaType} (uaType=${uaType})}">영주시</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist?sigunguCode=47230&uaType={uaType} (uaType=${uaType})}">영천시</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist?sigunguCode=47250&uaType={uaType} (uaType=${uaType})}">상주시</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist?sigunguCode=47280&uaType={uaType} (uaType=${uaType})}">문경시</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist?sigunguCode=47290&uaType={uaType} (uaType=${uaType})}">경산시</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist?sigunguCode=47720&uaType={uaType} (uaType=${uaType})}">군위군</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist?sigunguCode=47730&uaType={uaType} (uaType=${uaType})}">의성군</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist?sigunguCode=47750&uaType={uaType} (uaType=${uaType})}">청송군</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist?sigunguCode=47760&uaType={uaType} (uaType=${uaType})}">양양군</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist?sigunguCode=47770&uaType={uaType} (uaType=${uaType})}">영덕군</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist?sigunguCode=47820&uaType={uaType} (uaType=${uaType})}">청도군</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist?sigunguCode=47830&uaType={uaType} (uaType=${uaType})}">고령군</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist?sigunguCode=47840&uaType={uaType} (uaType=${uaType})}">성주군</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist?sigunguCode=47850&uaType={uaType} (uaType=${uaType})}">칠곡군</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist?sigunguCode=47900&uaType={uaType} (uaType=${uaType})}">예천군</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist?sigunguCode=47920&uaType={uaType} (uaType=${uaType})}">봉화군</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist?sigunguCode=47930&uaType={uaType} (uaType=${uaType})}">울진군</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist?sigunguCode=47940&uaType={uaType} (uaType=${uaType})}">울릉군</a></li>
                    </ul>
                </div>
                <div class="dropdown d-block position-static pt-0 mx-0 rounded-1 shadow overflow-hidden w-180px">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        동 선택
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/tradelist?sigunguCode={sigunguCode}&uaType={uaType} (sigunguCode=${sigunguCode}, uaType=${uaType})}">전체</a></li>
                        <li><a class="dropdown-item" th:each="dongList : ${dongList}" th:text="${dongList.landDong}" th:href="@{/tradelist?sigunguCode={sigunguCode}&uaType={uaType}&landDong={landDong} (sigunguCode=${sigunguCode}, uaType=${uaType}, landDong=${dongList.landDong})}"></a></li>
                    </ul>
                </div>

                <div class="dropdown d-block position-static pt-0 mx-0 rounded-1 shadow overflow-hidden w-180px">
                    <button type="button" class="btn btn-danger btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        평형
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/tradelist?sigunguCode={sigunguCode}&uaType=UA01&landDong={landDong} (sigunguCode=${sigunguCode}, landDong=${landDong})}">전체</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist?sigunguCode={sigunguCode}&uaType=UA02&landDong={landDong} (sigunguCode=${sigunguCode}, landDong=${landDong})}">소형</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist?sigunguCode={sigunguCode}&uaType=UA08&landDong={landDong} (sigunguCode=${sigunguCode}, landDong=${landDong})}">전용59</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist?sigunguCode={sigunguCode}&uaType=UA03&landDong={landDong} (sigunguCode=${sigunguCode}, landDong=${landDong})}">중소형</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist?sigunguCode={sigunguCode}&uaType=UA07&landDong={landDong} (sigunguCode=${sigunguCode}, landDong=${landDong})}">국평</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist?sigunguCode={sigunguCode}&uaType=UA04&landDong={landDong} (sigunguCode=${sigunguCode}, landDong=${landDong})}">중형</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist?sigunguCode={sigunguCode}&uaType=UA05&landDong={landDong} (sigunguCode=${sigunguCode}, landDong=${landDong})}">중대형</a></li>
                        <li><a class="dropdown-item" th:href="@{/tradelist?sigunguCode={sigunguCode}&uaType=UA06&landDong={landDong} (sigunguCode=${sigunguCode}, landDong=${landDong})}">대형</a></li>
                    </ul>
                </div>
            </div>
        </p>
        <div>
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-jcQR8RwkXK2z2xvE"
                 data-ad-width   = "320"
                 data-ad-height  = "100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
        <table class="table table-striped">
            <thead class="table-dark">
                <tr style="font-size:12px;" align="center">
<!--                    <th>일자</th>-->
<!--                    <th>아파트</th>-->
                    <th>일자</br>아파트</th>
                    <th>전용</br>(m<sup>2</sup>)</th>
                    <th>거래가</br>직전거래가</br>(역대최고가)</br>직전전세가</th>
                    <th>신고가</br>직/중개</br>중개소재지</th>
                </tr>
            </thead>
            <tbody>
                <tr style="font-size:12px;" th:each="list : ${list}">
<!--                    <td align="center" th:text="${list.dealDate}"></td>-->
                    <td align="left">
                        <div>
                            <a th:text="${list.dealDate}"></a></br>
                            <a th:text="${list.landDong}"></a></br>
                            <a style="font-weight: bolder;" th:text="${list.aptName}" th:href="@{/tradelist/ByName?sigunguCode={sigunguCode}&aptName={aptname}&ua={uatrunc}&term=1&landDong={landDong} (sigunguCode=${list.sigunguCode}, aptname=${list.aptName}, uatrunc=${list.useAreaTrunc}, landDong=${list.landDong})}"></a></br>
                            <a th:text="|[${list.buildYear}] ${list.floor}층|"></a>
                        </div>
                    </td>
                    <td align="right" th:text="${#numbers.formatDecimal(list.useArea,1,2,'POINT')}"></td>
                    <td align="right">
                        <div>
                            <a style="font-size:14px; font-weight: bolder; color:#FF6384" th:text="${list.dealAmtStr}"></a></br>
                            <a th:text="${list.prevDealAmtStr}"></a></br>
                            <a style="color:#0000ff" th:text="|(${list.mostHighestAmtStr})|"></a></br>
<!--                            <a th:text="${list.mostLowestAmtStr}"></a></br>-->
                            <a style="color:#008000" th:text="${list.prevLeaseAmtStr}"></a>
                        </div>
                    </td>
                    <td align="center">
                        <div>
                            <a th:text="${list.newHighest}"></a></br>
                            <a th:text="${list.dealType}"></a></br>
                            <a th:text="${list.dealLoc}"></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>