<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <!--    <a th:text="${year}"></a>-->
    <div>
<!--        <p>-->
<!--            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">-->
<!--                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>-->
<!--                <a class="btn btn-outline-primary" for="btnradio1" href="/tradelist/incheon/28710">강화군</a>-->

<!--                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">-->
<!--                <a class="btn btn-outline-primary" for="btnradio2" href="/tradelist/incheon/28245">계양구</a>-->

<!--                <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">-->
<!--                <a class="btn btn-outline-primary" for="btnradio3" href="/tradelist/incheon/28200">남동구</a>-->
<!--            </div>-->
<!--        </p>-->
        <div>
            <a href="/tradelist/incheon/28710">강화군&nbsp</a>
            <a href="/tradelist/incheon/28245">&nbsp계양구&nbsp</a>
            <a href="/tradelist/incheon/28200">&nbsp남동구&nbsp</a>
            <a href="/tradelist/incheon/28140">&nbsp동구&nbsp</a>
            <a href="/tradelist/incheon/28177">&nbsp미추홀구&nbsp</a>
            <a href="/tradelist/incheon/28237">&nbsp부평구&nbsp</a>
            <a href="/tradelist/incheon/28260">&nbsp서구&nbsp</a>
            <a href="/tradelist/incheon/28185">&nbsp연수구&nbsp</a>
            <a href="/tradelist/incheon/28720">&nbsp옹진군&nbsp</a>
            <a href="/tradelist/incheon/28110">중구</a>
        </div>
        <p>
            <h4 align="center" th:text="${title}"></h4>
        </p>
        <table class="table table-striped">
            <thead class="table-dark">
                <tr style="font-size:12px;" align="center">
                    <th>계약일자</th>
                    <th>법정동</th>
                    <th>아파트명</th>
                    <th>건축년도</th>
                    <th>전용면적(m2)</th>
                    <th>거래금액</th>
                    <th>층수</th>
                    <th>신고가</th>
                    <th>거래유형</th>
                </tr>
            </thead>
            <tbody>
                <tr style="font-size:12px;" th:each="list : ${list}">
                    <td align="center" th:text="${list.dealDate}"></td>
                    <td align="center" th:text="${list.landDong}"></td>
                    <td align="left" th:text="${list.aptName}"></td>
                    <td align="center" th:text="${list.buildYear}"></td>
                    <td align="right" th:text="${#numbers.formatDecimal(list.useArea,1,2,'POINT')}"></td>
                    <td align="right" th:text="${#numbers.formatInteger(list.dealAmt,1,'COMMA')}"></td>
                    <td align="right" th:text="${list.floor}"></td>
                    <td align="center" th:text="${list.newHighest}"></td>
                    <td align="center" th:text="${list.dealType}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>