<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <!--    <a th:text="${year}"></a>-->
    <div>
        <div>
            <a href="/tradelist/seoul/11680">강남구&nbsp</a>
            <a href="/tradelist/seoul/11740">&nbsp강동구&nbsp</a>
            <a href="/tradelist/seoul/11305">&nbsp강북구&nbsp</a>
            <a href="/tradelist/seoul/11500">&nbsp강서구&nbsp</a>
            <a href="/tradelist/seoul/11620">&nbsp관악구&nbsp</a>
            <a href="/tradelist/seoul/11215">&nbsp광진구&nbsp</a>
            <a href="/tradelist/seoul/11530">&nbsp구로구</a>
        </div>
        <div>
            <a href="/tradelist/seoul/11545">금천구&nbsp</a>
            <a href="/tradelist/seoul/11350">&nbsp노원구&nbsp</a>
            <a href="/tradelist/seoul/11320">&nbsp도봉구&nbsp</a>
            <a href="/tradelist/seoul/11230">&nbsp동대문&nbsp</a>
            <a href="/tradelist/seoul/11590">&nbsp동작구&nbsp</a>
            <a href="/tradelist/seoul/11440">&nbsp마포구&nbsp</a>
            <a href="/tradelist/seoul/11410">&nbsp서대문</a>
        </div>
        <div>
            <a href="/tradelist/seoul/11650">서초구&nbsp</a>
            <a href="/tradelist/seoul/11200">&nbsp성동구&nbsp</a>
            <a href="/tradelist/seoul/11290">&nbsp성북구&nbsp</a>
            <a href="/tradelist/seoul/11710">&nbsp송파구&nbsp</a>
            <a href="/tradelist/seoul/11470">&nbsp양천구&nbsp</a>
            <a href="/tradelist/seoul/11560">&nbsp영등포&nbsp</a>
            <a href="/tradelist/seoul/11170">&nbsp용산구</a>
        </div>
        <div>
            <a href="/tradelist/seoul/11380">은평구&nbsp</a>
            <a href="/tradelist/seoul/11110">&nbsp종로구&nbsp</a>
            <a href="/tradelist/seoul/11260">&nbsp중랑구&nbsp</a>
            <a href="/tradelist/seoul/11140">&nbsp중구</a>
        </div>
        <div>
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3199694479750381"
                    crossorigin="anonymous"></script>
        </div>
        <p>
            <h4 align="center" th:text="${title}"></h4>
        </p>
        <table class="table table-striped">
            <thead class="table-dark">
                <tr style="font-size:12px;" align="center">
                    <th>계약일자</th>
                    <th>법정동</th>
                    <th>아파트명</th>
                    <th>건축년도</th>
                    <th>전용면적(m2)</th>
                    <th>거래금액</th>
                    <th>층수</th>
                    <th>신고가</th>
                    <th>거래유형</th>
                </tr>
            </thead>
            <tbody>
                <tr style="font-size:12px;" th:each="list : ${list}">
                    <td align="center" th:text="${list.dealDate}"></td>
                    <td align="center" th:text="${list.landDong}"></td>
                    <td align="left" th:text="${list.aptName}"></td>
                    <td align="center" th:text="${list.buildYear}"></td>
                    <td align="right" th:text="${#numbers.formatDecimal(list.useArea,1,2,'POINT')}"></td>
                    <td align="right" th:text="${#numbers.formatInteger(list.dealAmt,1,'COMMA')}"></td>
                    <td align="right" th:text="${list.floor}"></td>
                    <td align="center" th:text="${list.newHighest}"></td>
                    <td align="center" th:text="${list.dealType}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>