<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
<!--        <div>-->
<!--            <a th:href="@{/stat_trade/ByDealType?sigunguCode=41&uaType={uaType} (uaType=${uaType})}">경기 전체&nbsp</a>-->
<!--        </div>-->
        <div>
            <a>성남&nbsp</a>
            <a th:href="@{/stat_trade/ByDealType?sigunguCode=41131&uaType={uaType} (uaType=${uaType})}">수정&nbsp</a>
            <a th:href="@{/stat_trade/ByDealType?sigunguCode=41133&uaType={uaType} (uaType=${uaType})}">중원&nbsp</a>
            <a th:href="@{/stat_trade/ByDealType?sigunguCode=41135&uaType={uaType} (uaType=${uaType})}">분당</a>
            <b>/&nbsp</b>
            <a>고양&nbsp</a>
            <a th:href="@{/stat_trade/ByDealType?sigunguCode=41281&uaType={uaType} (uaType=${uaType})}">덕양&nbsp</a>
            <a th:href="@{/stat_trade/ByDealType?sigunguCode=41285&uaType={uaType} (uaType=${uaType})}">일산동&nbsp</a>
            <a th:href="@{/stat_trade/ByDealType?sigunguCode=41287&uaType={uaType} (uaType=${uaType})}">일산서</a>
        </div>
        <div>
            <a>용인&nbsp</a>
            <a th:href="@{/stat_trade/ByDealType?sigunguCode=41461&uaType={uaType} (uaType=${uaType})}">처인&nbsp</a>
            <a th:href="@{/stat_trade/ByDealType?sigunguCode=41463&uaType={uaType} (uaType=${uaType})}">기흥&nbsp</a>
            <a th:href="@{/stat_trade/ByDealType?sigunguCode=41465&uaType={uaType} (uaType=${uaType})}">수지</a>
            <b>/&nbsp</b>
            <a>수원&nbsp</a>
            <a th:href="@{/stat_trade/ByDealType?sigunguCode=41111&uaType={uaType} (uaType=${uaType})}">장안&nbsp</a>
            <a th:href="@{/stat_trade/ByDealType?sigunguCode=41113&uaType={uaType} (uaType=${uaType})}">권선&nbsp</a>
            <a th:href="@{/stat_trade/ByDealType?sigunguCode=41115&uaType={uaType} (uaType=${uaType})}">팔달&nbsp</a>
            <a th:href="@{/stat_trade/ByDealType?sigunguCode=41117&uaType={uaType} (uaType=${uaType})}">영통</a>
        </div>
        <div>
            <a>안산&nbsp</a>
            <a th:href="@{/stat_trade/ByDealType?sigunguCode=41271&uaType={uaType} (uaType=${uaType})}">상록&nbsp</a>
            <a th:href="@{/stat_trade/ByDealType?sigunguCode=41273&uaType={uaType} (uaType=${uaType})}">단원</a>
            <b>/&nbsp</b>
            <a>안양&nbsp</a>
            <a th:href="@{/stat_trade/ByDealType?sigunguCode=41171&uaType={uaType} (uaType=${uaType})}">만안&nbsp</a>
            <a th:href="@{/stat_trade/ByDealType?sigunguCode=41173&uaType={uaType} (uaType=${uaType})}">동안</a>
        </div>
        <div>
            <a th:href="@{/stat_trade/ByDealType?sigunguCode=41820&uaType={uaType} (uaType=${uaType})}">가평군&nbsp</a>
            <a th:href="@{/stat_trade/ByDealType?sigunguCode=41290&uaType={uaType} (uaType=${uaType})}">&nbsp과천시&nbsp</a>
            <a th:href="@{/stat_trade/ByDealType?sigunguCode=41210&uaType={uaType} (uaType=${uaType})}">&nbsp광명시&nbsp</a>
            <a th:href="@{/stat_trade/ByDealType?sigunguCode=41610&uaType={uaType} (uaType=${uaType})}">&nbsp광주시&nbsp</a>
            <a th:href="@{/stat_trade/ByDealType?sigunguCode=41310&uaType={uaType} (uaType=${uaType})}">&nbsp구리시&nbsp</a>
            <a th:href="@{/stat_trade/ByDealType?sigunguCode=41410&uaType={uaType} (uaType=${uaType})}">&nbsp군포시&nbsp</a>
            <a th:href="@{/stat_trade/ByDealType?sigunguCode=41570&uaType={uaType} (uaType=${uaType})}">&nbsp김포시</a>
        </div>
        <div>
            <a th:href="@{/stat_trade/ByDealType?sigunguCode=41360&uaType={uaType} (uaType=${uaType})}">남양주&nbsp</a>
            <a th:href="@{/stat_trade/ByDealType?sigunguCode=41250&uaType={uaType} (uaType=${uaType})}">&nbsp동두천&nbsp</a>
            <a th:href="@{/stat_trade/ByDealType?sigunguCode=41190&uaType={uaType} (uaType=${uaType})}">&nbsp부천시&nbsp</a>
            <a th:href="@{/stat_trade/ByDealType?sigunguCode=41390&uaType={uaType} (uaType=${uaType})}">&nbsp시흥시&nbsp</a>
            <a th:href="@{/stat_trade/ByDealType?sigunguCode=41550&uaType={uaType} (uaType=${uaType})}">&nbsp안성시&nbsp</a>
            <a th:href="@{/stat_trade/ByDealType?sigunguCode=41630&uaType={uaType} (uaType=${uaType})}">&nbsp양주시&nbsp</a>
            <a th:href="@{/stat_trade/ByDealType?sigunguCode=41830&uaType={uaType} (uaType=${uaType})}">&nbsp양평군</a>
        </div>
        <div>
            <a th:href="@{/stat_trade/ByDealType?sigunguCode=41670&uaType={uaType} (uaType=${uaType})}">여주시&nbsp</a>
            <a th:href="@{/stat_trade/ByDealType?sigunguCode=41800&uaType={uaType} (uaType=${uaType})}">&nbsp연천군&nbsp</a>
            <a th:href="@{/stat_trade/ByDealType?sigunguCode=41370&uaType={uaType} (uaType=${uaType})}">&nbsp오산시&nbsp</a>
            <a th:href="@{/stat_trade/ByDealType?sigunguCode=41430&uaType={uaType} (uaType=${uaType})}">&nbsp의왕시&nbsp</a>
            <a th:href="@{/stat_trade/ByDealType?sigunguCode=41150&uaType={uaType} (uaType=${uaType})}">&nbsp의정부&nbsp</a>
            <a th:href="@{/stat_trade/ByDealType?sigunguCode=41500&uaType={uaType} (uaType=${uaType})}">&nbsp이천시&nbsp</a>
            <a th:href="@{/stat_trade/ByDealType?sigunguCode=41480&uaType={uaType} (uaType=${uaType})}">&nbsp파주시</a>
        </div>

        <div>
            <a th:href="@{/stat_trade/ByDealType?sigunguCode=41220&uaType={uaType} (uaType=${uaType})}">평택시&nbsp</a>
            <a th:href="@{/stat_trade/ByDealType?sigunguCode=41650&uaType={uaType} (uaType=${uaType})}">&nbsp포천시&nbsp</a>
            <a th:href="@{/stat_trade/ByDealType?sigunguCode=41450&uaType={uaType} (uaType=${uaType})}">&nbsp하남시&nbsp</a>
            <a th:href="@{/stat_trade/ByDealType?sigunguCode=41590&uaType={uaType} (uaType=${uaType})}">&nbsp화성시</a>
        </div>
        <p>
            <a style="font-size: 20px">[평형]&nbsp</a>
            <a style="font-size: 20px" th:href="@{/stat_trade/ByDealType?sigunguCode={sigungucode}&uaType=UA01 (sigungucode=${sigungucode})}">전체&nbsp</a>
            <a style="font-size: 20px" th:href="@{/stat_trade/ByDealType?sigunguCode={sigungucode}&uaType=UA08 (sigungucode=${sigungucode})}">전용59&nbsp</a>
            <a style="font-size: 20px" th:href="@{/stat_trade/ByDealType?sigunguCode={sigungucode}&uaType=UA07 (sigungucode=${sigungucode})}">국평&nbsp</a>
            <a style="font-size: 20px" th:href="@{/stat_trade/ByDealType?sigunguCode={sigungucode}&uaType=UA04 (sigungucode=${sigungucode})}">중형&nbsp</a>
            <a style="font-size: 20px" th:href="@{/stat_trade/ByDealType?sigunguCode={sigungucode}&uaType=UA05 (sigungucode=${sigungucode})}">중대형&nbsp</a>
            <a style="font-size: 20px" th:href="@{/stat_trade/ByDealType?sigunguCode={sigungucode}&uaType=UA06 (sigungucode=${sigungucode})}">대형&nbsp</a>
        </p>
        <p>
            <h5 align="center" th:text="|[ ${title} 거래유형별 ]|"></h5>
            <h6 align="center" th:text="|* ${uaStr}|"></h6>
        </p>
        <div>
            <canvas id="myChart"></canvas>
        </div>
        <div>
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-jcQR8RwkXK2z2xvE"
                 data-ad-width   = "320"
                 data-ad-height  = "100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
        <table class="table table-striped">
            <thead class="table-dark">
                <tr style="font-size:12px;" align="center">
                    <th>년-월</th>
                    <th>전체거래<br/>평균매매가</br>건수<br/>신고가율</th>
                    <th>중개거래<br/>평균매매가</br>건수<br/>신고가율</th>
                    <th>직거래<br/>평균매매가</br>건수<br/>신고가율</th>
                </tr>
            </thead>
            <tbody>
                <tr style="font-size:12px;" th:each="list : ${list}">
                    <td align="center" th:text="${list.date}"></td>
                    <td align="center">
                        <div>
                            <a style="font-weight: bolder" th:text="|${list.avgPrice} 억|"></a></br>
                            <a th:text="|${#numbers.formatInteger(list.cnt,1,'COMMA')} 건|"></a></br>
                            <a th:text="|${#numbers.formatDecimal(list.highestRate,1,1,'POINT')} %|"></a></br>
                        </div>
                    </td>
                    <td align="center">
                        <div>
                            <a style="font-weight: bolder" th:text="|${list.avgPrice0} 억|"></a></br>
                            <a th:text="|${#numbers.formatInteger(list.cnt0,1,'COMMA')} 건|"></a></br>
                            <a th:text="|${#numbers.formatDecimal(list.highestRate0,1,1,'POINT')} %|"></a></br>
                        </div>
                    </td>

                    <td align="center">
                        <div>
                            <a style="font-weight: bolder" th:text="|${list.avgPrice1} 억|"></a></br>
                            <a th:text="|${#numbers.formatInteger(list.cnt1,1,'COMMA')} 건|"></a></br>
                            <a th:text="|${#numbers.formatDecimal(list.highestRate1,1,1,'POINT')} %|"></a></br>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type = "text/javascript" th:inline="javascript">
  const labels =  /*[[ ${dates.toArray()} ]]*/;
  const avgPrices =  /*[[ ${avgprc.toArray()} ]]*/;
  const avgPrices0 =  /*[[ ${avgprc0.toArray()} ]]*/;
  const avgPrices1 =  /*[[ ${avgprc1.toArray()} ]]*/;

  const data = {
    labels: labels,
    datasets: [{
      type: 'line',
      label: '전체거래',
      yAxisID: 'y-line',
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      pointRadius:1,
      data: avgPrices
      },{
        type: 'line',
        label: '중개거래',
        yAxisID: 'y-line0',
        backgroundColor: 'rgb(54, 162, 235)',
        borderColor: 'rgb(54, 162, 235)',
        pointRadius:1,
        data: avgPrices0
      },{
        type: 'line',
        label: '직거래',
        yAxisID: 'y-line1',
        backgroundColor: 'rgb(95,67,175)',
        borderColor: 'rgb(95,67,175)',
        pointRadius:1,
        data: avgPrices1
      }
    ]
  };
  const config = {
    data: data,
    options: {
        scales:{
            'y-line':{
                position: 'left',
                suggestedMin: 0,
                suggestedMax: 30,
                grid:{
                    display: true
                },
                ticks:{
				    color: 'rgb(0, 0, 0)'
				},
                title: {
                    display: true,
                    text: '평균매매가(억)'
                }
            },
            'y-line0':{
                position: 'left',
                suggestedMin: 0,
                suggestedMax: 30,
                display: false,
                ticks:{
                    display: false
                }
            },
            'y-line1':{
                position: 'left',
                suggestedMin: 0,
                suggestedMax: 30,
                display: false,
                ticks:{
                    display: false
                }
            }
        }
    }
  };
</script>
<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>

</html>