<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <div>
            <a href="/stat_trade/gyunggiByCity/4182/6">가평군&nbsp</a>
            <a href="/stat_trade/gyunggiByCity/4128/6">&nbsp고양시&nbsp</a>
            <a href="/stat_trade/gyunggiByCity/4129/6">&nbsp과천시&nbsp</a>
            <a href="/stat_trade/gyunggiByCity/4121/6">&nbsp광명시&nbsp</a>
            <a href="/stat_trade/gyunggiByCity/4161/6">&nbsp광주시&nbsp</a>
            <a href="/stat_trade/gyunggiByCity/4131/6">&nbsp구리시&nbsp</a>
            <a href="/stat_trade/gyunggiByCity/4141/6">&nbsp군포시</a>
        </div>
        <div>
            <a href="/stat_trade/gyunggiByCity/4157/6">김포시&nbsp</a>
            <a href="/stat_trade/gyunggiByCity/4136/6">&nbsp남양주&nbsp</a>
            <a href="/stat_trade/gyunggiByCity/4125/6">&nbsp동두천&nbsp</a>
            <a href="/stat_trade/gyunggiByCity/4119/6">&nbsp부천시&nbsp</a>
            <a href="/stat_trade/gyunggiByCity/4113/6">&nbsp성남시&nbsp</a>
            <a href="/stat_trade/gyunggiByCity/4111/6">&nbsp수원시&nbsp</a>
            <a href="/stat_trade/gyunggiByCity/4139/6">&nbsp시흥시</a>
        </div>
        <div>
            <a href="/stat_trade/gyunggiByCity/4127/6">안산시&nbsp</a>
            <a href="/stat_trade/gyunggiByCity/4155/6">&nbsp안성시&nbsp</a>
            <a href="/stat_trade/gyunggiByCity/4117/6">&nbsp안양시&nbsp</a>
            <a href="/stat_trade/gyunggiByCity/4163/6">&nbsp양주시&nbsp</a>
            <a href="/stat_trade/gyunggiByCity/4183/6">&nbsp양평군&nbsp</a>
            <a href="/stat_trade/gyunggiByCity/4167/6">&nbsp여주시&nbsp</a>
            <a href="/stat_trade/gyunggiByCity/4180/6">&nbsp연천군</a>
        </div>
        <div>
            <a href="/stat_trade/gyunggiByCity/4137/6">오산시&nbsp</a>
            <a href="/stat_trade/gyunggiByCity/4146/6">&nbsp용인시&nbsp</a>
            <a href="/stat_trade/gyunggiByCity/4143/6">&nbsp의왕시&nbsp</a>
            <a href="/stat_trade/gyunggiByCity/4115/6">&nbsp의정부&nbsp</a>
            <a href="/stat_trade/gyunggiByCity/4150/6">&nbsp이천시&nbsp</a>
            <a href="/stat_trade/gyunggiByCity/4148/6">&nbsp파주시&nbsp</a>
            <a href="/stat_trade/gyunggiByCity/4122/6">&nbsp평택시</a>
        </div>
        <div>
            <a href="/stat_trade/gyunggiByCity/4165/6">포천시&nbsp</a>
            <a href="/stat_trade/gyunggiByCity/4145/6">&nbsp하남시&nbsp</a>
            <a href="/stat_trade/gyunggiByCity/4159/6">&nbsp화성시</a>
        </div>
        <p>
            <h4 align="center" th:text="${title}"></h4>
        </p>
        <div>
            <canvas id="myChart"></canvas>
        </div>
        <div>
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-jcQR8RwkXK2z2xvE"
                 data-ad-width   = "320"
                 data-ad-height  = "100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
        <table class="table table-striped">
            <thead class="table-dark">
                <tr style="font-size:12px;" align="center">
<!--                    <th>지역</th>-->
                    <th>년-월</th>
                    <th>최저<br/>매매가</th>
                    <th>평균<br/>매매가</th>
                    <th>최고<br/>매매가</th>
                    <th>거래건수</th>
                    <th>신고가율</th>
                </tr>
            </thead>
            <tbody>
                <tr style="font-size:12px;" th:each="list : ${list}">
<!--                    <td align="center" th:text="${list.name}"></td>-->
                    <td align="center" th:text="${list.dealYYMM}"></td>
                    <td align="right" th:text="${#numbers.formatInteger(list.minPrice,1,'COMMA')}"></td>
                    <td align="right" style="font-weight: bolder" th:text="${#numbers.formatInteger(list.avgPrice,1,'COMMA')}"></td>
                    <td align="right" th:text="${#numbers.formatInteger(list.maxPrice,1,'COMMA')}"></td>
                    <td align="right" th:text="${#numbers.formatInteger(list.cnt,1,'COMMA')}"></td>
                    <td align="right" th:text="${#numbers.formatDecimal(list.highestRate,1,1,'POINT')}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type = "text/javascript" th:inline="javascript">
  const labels =  /*[[ ${dates.toArray()} ]]*/;
  const avgPrices =  /*[[ ${avgprc.toArray()} ]]*/;
  const tradcnt =  /*[[ ${tradcnt.toArray()} ]]*/;
  const interestRates =  /*[[ ${interestRates.toArray()} ]]*/;

  const data = {
    labels: labels,
    datasets: [{
      type: 'line',
      label: '평균 매매가',
      yAxisID: 'y-line',
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      pointRadius:1,
      data: avgPrices
      },{
        type: 'line',
        label: '기준금리',
        yAxisID: 'y-line2',
        backgroundColor: 'rgb(64, 64, 64)',
        borderColor: 'rgb(64, 64, 64)',
        pointRadius:1,
        data: interestRates
      },{
        type: 'bar',
        label: '거래건수',
        yAxisID: 'y-bar',
        backgroundColor: 'rgb(54, 162, 235)',
        borderColor: 'rgb(54, 162, 235)',
        data: tradcnt
      }
    ]
  };

  const config = {
    data: data,
    options: {
        scales:{
            'y-line':{
                position: 'left',
                suggestedMin: 0,
                ticks:{
				    color: 'rgb(255, 99, 132)'
				},
                title: {
                    display: true,
                    text: '평균매매가'
                }
            },
            'y-line2':{
                position: 'left',
                suggestedMin: 0,
                suggestedMax: 7,
                ticks:{
				    color: 'rgb(64, 64, 64)'
				},
				grid:{
                    display: false
                },
                title: {
                    display: true,
                    text: '한국은행 기준금리'
                }
            },
            'y-bar':{
                position: 'right',
                suggestedMin: 0,
                ticks:{
				    color: 'rgb(54, 162, 235)'
				},
                title: {
                    display: true,
                    text: '거래건수'
                }
            }
        }
    }
  };
</script>
<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>
</html>