<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <div>
            <a th:href="@{/stat_trade/gyunggiByCity/4182/{term} (term=${term})}">가평군&nbsp</a>
            <a th:href="@{/stat_trade/gyunggiByCity/4128/{term} (term=${term})}">&nbsp고양시&nbsp</a>
            <a th:href="@{/stat_trade/gyunggiByCity/4129/{term} (term=${term})}">&nbsp과천시&nbsp</a>
            <a th:href="@{/stat_trade/gyunggiByCity/4121/{term} (term=${term})}">&nbsp광명시&nbsp</a>
            <a th:href="@{/stat_trade/gyunggiByCity/4161/{term} (term=${term})}">&nbsp광주시&nbsp</a>
            <a th:href="@{/stat_trade/gyunggiByCity/4131/{term} (term=${term})}">&nbsp구리시&nbsp</a>
            <a th:href="@{/stat_trade/gyunggiByCity/4141/{term} (term=${term})}">&nbsp군포시</a>
        </div>
        <div>
            <a th:href="@{/stat_trade/gyunggiByCity/4157/{term} (term=${term})}">김포시&nbsp</a>
            <a th:href="@{/stat_trade/gyunggiByCity/4136/{term} (term=${term})}">&nbsp남양주&nbsp</a>
            <a th:href="@{/stat_trade/gyunggiByCity/4125/{term} (term=${term})}">&nbsp동두천&nbsp</a>
            <a th:href="@{/stat_trade/gyunggiByCity/4119/{term} (term=${term})}">&nbsp부천시&nbsp</a>
            <a th:href="@{/stat_trade/gyunggiByCity/4113/{term} (term=${term})}">&nbsp성남시&nbsp</a>
            <a th:href="@{/stat_trade/gyunggiByCity/4111/{term} (term=${term})}">&nbsp수원시&nbsp</a>
            <a th:href="@{/stat_trade/gyunggiByCity/4139/{term} (term=${term})}">&nbsp시흥시</a>
        </div>
        <div>
            <a th:href="@{/stat_trade/gyunggiByCity/4127/{term} (term=${term})}">안산시&nbsp</a>
            <a th:href="@{/stat_trade/gyunggiByCity/4155/{term} (term=${term})}">&nbsp안성시&nbsp</a>
            <a th:href="@{/stat_trade/gyunggiByCity/4117/{term} (term=${term})}">&nbsp안양시&nbsp</a>
            <a th:href="@{/stat_trade/gyunggiByCity/4163/{term} (term=${term})}">&nbsp양주시&nbsp</a>
            <a th:href="@{/stat_trade/gyunggiByCity/4183/{term} (term=${term})}">&nbsp양평군&nbsp</a>
            <a th:href="@{/stat_trade/gyunggiByCity/4167/{term} (term=${term})}">&nbsp여주시&nbsp</a>
            <a th:href="@{/stat_trade/gyunggiByCity/4180/{term} (term=${term})}">&nbsp연천군</a>
        </div>
        <div>
            <a th:href="@{/stat_trade/gyunggiByCity/4137/{term} (term=${term})}">오산시&nbsp</a>
            <a th:href="@{/stat_trade/gyunggiByCity/4146/{term} (term=${term})}">&nbsp용인시&nbsp</a>
            <a th:href="@{/stat_trade/gyunggiByCity/4143/{term} (term=${term})}">&nbsp의왕시&nbsp</a>
            <a th:href="@{/stat_trade/gyunggiByCity/4115/{term} (term=${term})}">&nbsp의정부&nbsp</a>
            <a th:href="@{/stat_trade/gyunggiByCity/4150/{term} (term=${term})}">&nbsp이천시&nbsp</a>
            <a th:href="@{/stat_trade/gyunggiByCity/4148/{term} (term=${term})}">&nbsp파주시&nbsp</a>
            <a th:href="@{/stat_trade/gyunggiByCity/4122/{term} (term=${term})}">&nbsp평택시</a>
        </div>
        <div>
            <a th:href="@{/stat_trade/gyunggiByCity/4165/{term} (term=${term})}">포천시&nbsp</a>
            <a th:href="@{/stat_trade/gyunggiByCity/4145/{term} (term=${term})}">&nbsp하남시&nbsp</a>
            <a th:href="@{/stat_trade/gyunggiByCity/4159/{term} (term=${term})}">&nbsp화성시</a>
        </div>
        <p>
            <h6 align="center" th:text="|[ ${title} ${termStr} ]|"></h6>
        </p>
        <div>
            <canvas id="myChart"></canvas>
        </div>
        <div>
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-jcQR8RwkXK2z2xvE"
                 data-ad-width   = "320"
                 data-ad-height  = "100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
        <a>[기간]&nbsp</a>
        <a th:href="@{/stat_trade/gyunggiByCity/{sidocode}/0 (sidocode=${sidocode})}">올해</a>
        <b>&nbsp/&nbsp</b>
        <a th:href="@{/stat_trade/gyunggiByCity/{sidocode}/1 (sidocode=${sidocode})}">2년</a>
        <b>&nbsp/&nbsp</b>
        <a th:href="@{/stat_trade/gyunggiByCity/{sidocode}/4 (sidocode=${sidocode})}">5년</a>
        <b>&nbsp/&nbsp</b>
        <a th:href="@{/stat_trade/gyunggiByCity/{sidocode}/6 (sidocode=${sidocode})}">7년</a>
        <b>&nbsp/&nbsp</b>
        <a th:href="@{/stat_trade/gyunggiByCity/{sidocode}/9 (sidocode=${sidocode})}">10년</a>
        <b>&nbsp/&nbsp</b>
        <a th:href="@{/stat_trade/gyunggiByCity/{sidocode}/16 (sidocode=${sidocode})}">전체</a>
        <table class="table table-striped">
            <thead class="table-dark">
                <tr style="font-size:12px;" align="center">
<!--                    <th>지역</th>-->
                    <th>년-월</th>
                    <th>최저<br/>매매가</th>
                    <th>평균<br/>매매가</th>
                    <th>최고<br/>매매가</th>
                    <th>거래건수</th>
                    <th>신고가율</th>
                </tr>
            </thead>
            <tbody>
                <tr style="font-size:12px;" th:each="list : ${list}">
<!--                    <td align="center" th:text="${list.name}"></td>-->
                    <td align="center" th:text="${list.dealYYMM}"></td>
                    <td align="right" th:text="${#numbers.formatInteger(list.minPrice,1,'COMMA')}"></td>
                    <td align="right" style="font-weight: bolder" th:text="${#numbers.formatInteger(list.avgPrice,1,'COMMA')}"></td>
                    <td align="right" th:text="${#numbers.formatInteger(list.maxPrice,1,'COMMA')}"></td>
                    <td align="right" th:text="${#numbers.formatInteger(list.cnt,1,'COMMA')}"></td>
                    <td align="right" th:text="${#numbers.formatDecimal(list.highestRate,1,1,'POINT')}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type = "text/javascript" th:inline="javascript">
  const labels =  /*[[ ${dates.toArray()} ]]*/;
  const avgPrices =  /*[[ ${avgprc.toArray()} ]]*/;
  const tradcnt =  /*[[ ${tradcnt.toArray()} ]]*/;
  const interestRates =  /*[[ ${interestRates.toArray()} ]]*/;

  const data = {
    labels: labels,
    datasets: [{
      type: 'line',
      label: '평균 매매가',
      yAxisID: 'y-line',
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      pointRadius:1,
      data: avgPrices
      },{
        type: 'line',
        label: '기준금리',
        yAxisID: 'y-line2',
        backgroundColor: 'rgb(64, 64, 64)',
        borderColor: 'rgb(64, 64, 64)',
        pointRadius:1,
        data: interestRates
      },{
        type: 'bar',
        label: '거래건수',
        yAxisID: 'y-bar',
        backgroundColor: 'rgb(54, 162, 235)',
        borderColor: 'rgb(54, 162, 235)',
        data: tradcnt
      }
    ]
  };

  const config = {
    data: data,
    options: {
        scales:{
            'y-line':{
                position: 'left',
                suggestedMin: 0,
                ticks:{
				    color: 'rgb(255, 99, 132)'
				},
                title: {
                    display: true,
                    text: '평균매매가'
                }
            },
            'y-line2':{
                position: 'left',
                suggestedMin: 0,
                suggestedMax: 7,
                ticks:{
				    color: 'rgb(64, 64, 64)'
				},
				grid:{
                    display: false
                },
                title: {
                    display: true,
                    text: '한국은행 기준금리'
                }
            },
            'y-bar':{
                position: 'right',
                suggestedMin: 0,
                ticks:{
				    color: 'rgb(54, 162, 235)'
				},
                title: {
                    display: true,
                    text: '거래건수'
                }
            }
        }
    }
  };
</script>
<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>
</html>