<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <div>
            <a>성남&nbsp</a>
            <a th:href="@{/stat_trade/gyunggiBySigungu/41131/{term} (term=${term})}">수정구&nbsp</a>
            <a th:href="@{/stat_trade/gyunggiBySigungu/41133/{term} (term=${term})}">&nbsp중원구&nbsp</a>
            <a th:href="@{/stat_trade/gyunggiBySigungu/41135/{term} (term=${term})}">&nbsp분당구</a>
        </div>
        <div>
            <a>고양&nbsp</a>
            <a th:href="@{/stat_trade/gyunggiBySigungu/41281/{term} (term=${term})}">덕양구&nbsp</a>
            <a th:href="@{/stat_trade/gyunggiBySigungu/41285/{term} (term=${term})}">&nbsp일산동구&nbsp</a>
            <a th:href="@{/stat_trade/gyunggiBySigungu/41287/{term} (term=${term})}">&nbsp일산서구</a>
        </div>
        <div>
            <a>수원&nbsp</a>
            <a th:href="@{/stat_trade/gyunggiBySigungu/41111/{term} (term=${term})}">장안구&nbsp</a>
            <a th:href="@{/stat_trade/gyunggiBySigungu/41113/{term} (term=${term})}">&nbsp권선구&nbsp</a>
            <a th:href="@{/stat_trade/gyunggiBySigungu/41115/{term} (term=${term})}">&nbsp팔달구&nbsp</a>
            <a th:href="@{/stat_trade/gyunggiBySigungu/41117/{term} (term=${term})}">&nbsp영통구</a>
        </div>
        <div>
            <a>용인&nbsp</a>
            <a th:href="@{/stat_trade/gyunggiBySigungu/41461/{term} (term=${term})}">처인구&nbsp</a>
            <a th:href="@{/stat_trade/gyunggiBySigungu/41463/{term} (term=${term})}">&nbsp기흥구&nbsp</a>
            <a th:href="@{/stat_trade/gyunggiBySigungu/41465/{term} (term=${term})}">&nbsp수지구</a>
        </div>
        <div>
            <a>안산&nbsp</a>
            <a th:href="@{/stat_trade/gyunggiBySigungu/41271/{term} (term=${term})}">상록구&nbsp</a>
            <a th:href="@{/stat_trade/gyunggiBySigungu/41273/{term} (term=${term})}">&nbsp단원구</a>
            <b>/&nbsp</b>
            <a>안양&nbsp</a>
            <a th:href="@{/stat_trade/gyunggiBySigungu/41171/{term} (term=${term})}">만안구&nbsp</a>
            <a th:href="@{/stat_trade/gyunggiBySigungu/41173/{term} (term=${term})}">&nbsp동안구</a>
        </div>
        <p>
            <h6 align="center" th:text="|[ ${title} ${termStr} ]|"></h6>
        </p>
        <div>
            <canvas id="myChart"></canvas>
        </div>
        <div>
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-jcQR8RwkXK2z2xvE"
                 data-ad-width   = "320"
                 data-ad-height  = "100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
        <a style="font-size: 20px">[기간]&nbsp</a>
        <a style="font-size: 20px" th:href="@{/stat_trade/gyunggiBySigungu/{sigungucode}/0 (sigungucode=${sigungucode})}">올해</a>
        <b>&nbsp/&nbsp</b>
        <a style="font-size: 20px" th:href="@{/stat_trade/gyunggiBySigungu/{sigungucode}/5 (sigungucode=${sigungucode})}">5년</a>
        <b>&nbsp/&nbsp</b>
        <a style="font-size: 20px" th:href="@{/stat_trade/gyunggiBySigungu/{sigungucode}/10 (sigungucode=${sigungucode})}">10년</a>
        <b>&nbsp/&nbsp</b>
        <a style="font-size: 20px" th:href="@{/stat_trade/gyunggiBySigungu/{sigungucode}/15 (sigungucode=${sigungucode})}">15년</a>
        <table class="table table-striped">
            <thead class="table-dark">
                <tr style="font-size:12px;" align="center">
<!--                    <th>지역</th>-->
                    <th>년-월</th>
                    <th>최저</th>
                    <th>평균</th>
                    <th>최고</th>
                    <th>거래<br/>건수</th>
                    <th>신고<br/>가율</th>
                    <th>평균<br/>전용<br/>면적(m<sup>2</sup>)</th>
                </tr>
            </thead>
            <tbody>
                <tr style="font-size:12px;" th:each="list : ${list}">
<!--                    <td align="center" th:text="${list.name}"></td>-->
                    <td align="center" th:text="${list.dealYYMM}"></td>
                    <td align="right" th:text="${list.minPriceStr}"></td>
                    <td align="right" th:text="${list.avgPriceStr}"></td>
                    <td align="right" th:text="${list.maxPriceStr}"></td>
<!--                    <td align="right" th:text="${#numbers.formatInteger(list.minPrice,1,'COMMA')}"></td>-->
<!--                    <td align="right" style="font-weight: bolder" th:text="${#numbers.formatInteger(list.avgPrice,1,'COMMA')}"></td>-->
<!--                    <td align="right" th:text="${#numbers.formatInteger(list.maxPrice,1,'COMMA')}"></td>-->
                    <td align="right" th:text="${#numbers.formatInteger(list.cnt,1,'COMMA')}"></td>
                    <td align="right" th:text="${#numbers.formatDecimal(list.highestRate,1,1,'POINT')}"></td>
                    <td align="right" th:text="${#numbers.formatDecimal(list.avgUseArea,1,1,'POINT')}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type = "text/javascript" th:inline="javascript">
  const labels =  /*[[ ${dates.toArray()} ]]*/;
  const avgPrices =  /*[[ ${avgprc.toArray()} ]]*/;
  const tradcnt =  /*[[ ${tradcnt.toArray()} ]]*/;
  const maxCnt =  /*[[ ${maxCnt} ]]*/;
  const interestRates =  /*[[ ${interestRates.toArray()} ]]*/;

  const data = {
    labels: labels,
    datasets: [{
      type: 'line',
      label: '평균 매매가',
      yAxisID: 'y-line',
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      pointRadius:1,
      data: avgPrices
      },{
        type: 'line',
        label: '기준금리',
        yAxisID: 'y-line2',
        backgroundColor: 'rgb(64, 64, 64)',
        borderColor: 'rgb(64, 64, 64)',
        pointRadius:1,
        data: interestRates
      },{
        type: 'bar',
        label: '거래건수',
        yAxisID: 'y-bar',
        backgroundColor: 'rgb(54, 162, 235)',
        borderColor: 'rgb(54, 162, 235)',
        data: tradcnt
      }
    ]
  };

  const config = {
    data: data,
    options: {
        scales:{
            'y-line':{
                position: 'left',
                suggestedMin: 0,
                ticks:{
				    color: 'rgb(255, 99, 132)'
				},
                title: {
                    display: true,
                    color: 'rgb(255, 99, 132)',
                    text: '평균매매가(억)'
                }
            },
            'y-line2':{
                position: 'left',
                suggestedMin: 0,
                suggestedMax: 7,
                ticks:{
				    color: 'rgb(64, 64, 64)'
				},
				grid:{
                    display: false
                },
                title: {
                    display: true,
                    color: 'rgb(64, 64, 64)',
                    text: '한국은행 기준금리'
                }
            },
            'y-bar':{
                position: 'right',
                suggestedMin: 0,
                suggestedMax: maxCnt,
                grid:{
                    display: false
                },
                ticks:{
				    color: 'rgb(54, 162, 235)'
				},
                title: {
                    display: true,
                    color: 'rgb(54, 162, 235)',
                    text: '거래건수'
                }
            }
        }
    }
  };
</script>
<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>
</html>