<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <div>
            <a>성남&nbsp</a>
            <a th:href="@{/stat_trade/gyunggi/top/{year}/41131?ua={ua} (year=${year}, ua=${ua})}">수정&nbsp</a>
            <a th:href="@{/stat_trade/gyunggi/top/{year}/41133?ua={ua} (year=${year}, ua=${ua})}">중원&nbsp</a>
            <a th:href="@{/stat_trade/gyunggi/top/{year}/41135?ua={ua} (year=${year}, ua=${ua})}">분당</a>
            <b>/&nbsp</b>
            <a>고양&nbsp</a>
            <a th:href="@{/stat_trade/gyunggi/top/{year}/41281?ua={ua} (year=${year}, ua=${ua})}">덕양&nbsp</a>
            <a th:href="@{/stat_trade/gyunggi/top/{year}/41285?ua={ua} (year=${year}, ua=${ua})}">일산동&nbsp</a>
            <a th:href="@{/stat_trade/gyunggi/top/{year}/41287?ua={ua} (year=${year}, ua=${ua})}">일산서</a>
        </div>
        <div>
            <a>용인&nbsp</a>
            <a th:href="@{/stat_trade/gyunggi/top/{year}/41461?ua={ua} (year=${year}, ua=${ua})}">처인&nbsp</a>
            <a th:href="@{/stat_trade/gyunggi/top/{year}/41463?ua={ua} (year=${year}, ua=${ua})}">기흥&nbsp</a>
            <a th:href="@{/stat_trade/gyunggi/top/{year}/41465?ua={ua} (year=${year}, ua=${ua})}">수지</a>
            <b>/&nbsp</b>
            <a>수원&nbsp</a>
            <a th:href="@{/stat_trade/gyunggi/top/{year}/41111?ua={ua} (year=${year}, ua=${ua})}">장안&nbsp</a>
            <a th:href="@{/stat_trade/gyunggi/top/{year}/41113?ua={ua} (year=${year}, ua=${ua})}">권선&nbsp</a>
            <a th:href="@{/stat_trade/gyunggi/top/{year}/41115?ua={ua} (year=${year}, ua=${ua})}">팔달&nbsp</a>
            <a th:href="@{/stat_trade/gyunggi/top/{year}/41117?ua={ua} (year=${year}, ua=${ua})}">영통</a>
        </div>
        <div>
            <a>안산&nbsp</a>
            <a th:href="@{/stat_trade/gyunggi/top/{year}/41271?ua={ua} (year=${year}, ua=${ua})}">상록&nbsp</a>
            <a th:href="@{/stat_trade/gyunggi/top/{year}/41273?ua={ua} (year=${year}, ua=${ua})}">단원</a>
            <b>/&nbsp</b>
            <a>안양&nbsp</a>
            <a th:href="@{/stat_trade/gyunggi/top/{year}/41171?ua={ua} (year=${year}, ua=${ua})}">만안&nbsp</a>
            <a th:href="@{/stat_trade/gyunggi/top/{year}/41173?ua={ua} (year=${year}, ua=${ua})}">동안</a>
        </div>
        <div>
            <a th:href="@{/stat_trade/gyunggi/top/{year}/41820?ua={ua} (year=${year}, ua=${ua})}">가평군&nbsp</a>
            <a th:href="@{/stat_trade/gyunggi/top/{year}/41290?ua={ua} (year=${year}, ua=${ua})}">&nbsp과천시&nbsp</a>
            <a th:href="@{/stat_trade/gyunggi/top/{year}/41210?ua={ua} (year=${year}, ua=${ua})}">&nbsp광명시&nbsp</a>
            <a th:href="@{/stat_trade/gyunggi/top/{year}/41610?ua={ua} (year=${year}, ua=${ua})}">&nbsp광주시&nbsp</a>
            <a th:href="@{/stat_trade/gyunggi/top/{year}/41310?ua={ua} (year=${year}, ua=${ua})}">&nbsp구리시&nbsp</a>
            <a th:href="@{/stat_trade/gyunggi/top/{year}/41410?ua={ua} (year=${year}, ua=${ua})}">&nbsp군포시&nbsp</a>
            <a th:href="@{/stat_trade/gyunggi/top/{year}/41570?ua={ua} (year=${year}, ua=${ua})}">&nbsp김포시</a>
        </div>
        <div>
            <a th:href="@{/stat_trade/gyunggi/top/{year}/41360?ua={ua} (year=${year}, ua=${ua})}">남양주&nbsp</a>
            <a th:href="@{/stat_trade/gyunggi/top/{year}/41250?ua={ua} (year=${year}, ua=${ua})}">&nbsp동두천&nbsp</a>
            <a th:href="@{/stat_trade/gyunggi/top/{year}/41190?ua={ua} (year=${year}, ua=${ua})}">&nbsp부천시&nbsp</a>
            <a th:href="@{/stat_trade/gyunggi/top/{year}/41390?ua={ua} (year=${year}, ua=${ua})}">&nbsp시흥시&nbsp</a>
            <a th:href="@{/stat_trade/gyunggi/top/{year}/41550?ua={ua} (year=${year}, ua=${ua})}">&nbsp안성시&nbsp</a>
            <a th:href="@{/stat_trade/gyunggi/top/{year}/41630?ua={ua} (year=${year}, ua=${ua})}">&nbsp양주시&nbsp</a>
            <a th:href="@{/stat_trade/gyunggi/top/{year}/41830?ua={ua} (year=${year}, ua=${ua})}">&nbsp양평군</a>
        </div>
        <div>
            <a th:href="@{/stat_trade/gyunggi/top/{year}/41670?ua={ua} (year=${year}, ua=${ua})}">여주시&nbsp</a>
            <a th:href="@{/stat_trade/gyunggi/top/{year}/41800?ua={ua} (year=${year}, ua=${ua})}">&nbsp연천군&nbsp</a>
            <a th:href="@{/stat_trade/gyunggi/top/{year}/41370?ua={ua} (year=${year}, ua=${ua})}">&nbsp오산시&nbsp</a>
            <a th:href="@{/stat_trade/gyunggi/top/{year}/41430?ua={ua} (year=${year}, ua=${ua})}">&nbsp의왕시&nbsp</a>
            <a th:href="@{/stat_trade/gyunggi/top/{year}/41150?ua={ua} (year=${year}, ua=${ua})}">&nbsp의정부&nbsp</a>
            <a th:href="@{/stat_trade/gyunggi/top/{year}/41500?ua={ua} (year=${year}, ua=${ua})}">&nbsp이천시&nbsp</a>
            <a th:href="@{/stat_trade/gyunggi/top/{year}/41480?ua={ua} (year=${year}, ua=${ua})}">&nbsp파주시</a>
        </div>

        <div>
            <a th:href="@{/stat_trade/gyunggi/top/{year}/41220?ua={ua} (year=${year}, ua=${ua})}">평택시&nbsp</a>
            <a th:href="@{/stat_trade/gyunggi/top/{year}/41650?ua={ua} (year=${year}, ua=${ua})}">&nbsp포천시&nbsp</a>
            <a th:href="@{/stat_trade/gyunggi/top/{year}/41450?ua={ua} (year=${year}, ua=${ua})}">&nbsp하남시&nbsp</a>
            <a th:href="@{/stat_trade/gyunggi/top/{year}/41590?ua={ua} (year=${year}, ua=${ua})}">&nbsp화성시</a>
        </div>
        <p>
            <h5 align="center" th:text="|[ ${year} ${title} TOP 100 ]|"></h5>
            <h6 align="center" th:text="|* ${uaStr} |"></h6>
        </p>
        <div>
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-jcQR8RwkXK2z2xvE"
                 data-ad-width   = "320"
                 data-ad-height  = "100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
<!--        <a>[년도]&nbsp</a>-->
<!--        <a th:href="@{/stat_trade/gyunggi/top/2022/{sidocode} (sidocode=${sidocode})}">2022&nbsp</a>-->
<!--        <a th:href="@{/stat_trade/gyunggi/top/2021/{sidocode} (sidocode=${sidocode})}">2021&nbsp</a>-->
<!--        <a th:href="@{/stat_trade/gyunggi/top/2020/{sidocode} (sidocode=${sidocode})}">2020</a>-->
        <a style="font-size: 20px">[평형]&nbsp</a>
        <a style="font-size: 20px" th:href="@{/stat_trade/gyunggi/top/2022/{sigungucode}?ua=UA01 (sigungucode=${sigungucode})}">전체&nbsp</a>
        <a style="font-size: 20px" th:href="@{/stat_trade/gyunggi/top/2022/{sigungucode}?ua=UA08 (sigungucode=${sigungucode})}">전용59&nbsp</a>
        <a style="font-size: 20px" th:href="@{/stat_trade/gyunggi/top/2022/{sigungucode}?ua=UA07 (sigungucode=${sigungucode})}">국평&nbsp</a>
        <a style="font-size: 20px" th:href="@{/stat_trade/gyunggi/top/2022/{sigungucode}?ua=UA04 (sigungucode=${sigungucode})}">중형&nbsp</a>
        <a style="font-size: 20px" th:href="@{/stat_trade/gyunggi/top/2022/{sigungucode}?ua=UA05 (sigungucode=${sigungucode})}">중대형&nbsp</a>
        <a style="font-size: 20px" th:href="@{/stat_trade/gyunggi/top/2022/{sigungucode}?ua=UA06 (sigungucode=${sigungucode})}">대형&nbsp</a>
        <table class="table table-striped">
            <thead class="table-dark">
                <tr style="font-size:12px;" align="center">
                    <th>일자</th>
<!--                    <th>법정동</th>-->
                    <th>아파트명</th>
<!--                    <th>건축년도</th>-->
                    <th>전용</br>면적(m<sup>2</sup>)</th>
                    <th>금액</th>
<!--                    <th>층수</th>-->
                    <th>신고가</th>
                    <th>거래</br>유형</th>
                </tr>
            </thead>
            <tbody>
                <tr style="font-size:12px;" th:each="list : ${list}">
                    <td align="center" th:text="${list.dealDate}"></td>
                    <td align="left" width="200px">
                        <div>
                            <a th:text="${list.landDong}"></a></br>
                            <a th:text="${list.aptName}" th:href="@{/tradelist/ByName?regncode={sigungucode}&aptname={aptname}&ua={uatrunc}&term=1&landDong={landDong} (sigungucode=${list.gubnCode}, aptname=${list.aptName}, uatrunc=${list.useAreaTrunc}, landDong=${list.landDong})}"></a></br>
                            <a th:text="|[${list.buildYear}] ${list.floor}층|"></a>
                        </div>
                    </td>
<!--                    <td align="center" th:text="${list.landDong}"></td>-->
<!--                    <td align="left"><a th:text="${list.aptName}" th:href="@{/tradelist/ByName/{sigungucode}/{aptname}/{uatrunc}/1?landDong={landDong} (sigungucode=${list.gubnCode}, aptname=${list.aptName}, uatrunc=${list.useAreaTrunc}, landDong=${list.landDong})}"></a></td>-->
<!--                    <td align="center" th:text="${list.buildYear}"></td>-->
                    <td align="right" th:text="${#numbers.formatDecimal(list.useArea,1,2,'POINT')}"></td>
                    <td align="right" th:text="${list.dealAmtStr}"></td>
<!--                    <td align="right" th:text="${list.floor}"></td>-->
                    <td align="center" th:text="${list.newHighest}"></td>
                    <td align="center" th:text="${list.dealType}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>