<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
<!--    <a th:text="${year}"></a>-->
    <div>
        <div>
            <a href="/stat_trade/incheon/top/2022/28710">강화군&nbsp</a>
            <a href="/stat_trade/incheon/top/2022/28245">&nbsp계양구&nbsp</a>
            <a href="/stat_trade/incheon/top/2022/28200">&nbsp남동구&nbsp</a>
            <a href="/stat_trade/incheon/top/2022/28140">&nbsp동구&nbsp</a>
            <a href="/stat_trade/incheon/top/2022/28177">&nbsp미추홀구</a>
        </div>
        <div>
            <a href="/stat_trade/incheon/top/2022/28237">부평구&nbsp</a>
            <a href="/stat_trade/incheon/top/2022/28260">&nbsp서구&nbsp</a>
            <a href="/stat_trade/incheon/top/2022/28185">&nbsp연수구&nbsp</a>
            <a href="/stat_trade/incheon/top/2022/28720">&nbsp옹진군&nbsp</a>
            <a href="/stat_trade/incheon/top/2022/28110">&nbsp중구</a>
        </div>
        <p>
            <h5 align="center" th:text="${title}"></h5>
        </p>
        <div>
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-jcQR8RwkXK2z2xvE"
                 data-ad-width   = "320"
                 data-ad-height  = "100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
        <table class="table table-striped">
            <thead class="table-dark">
                <tr style="font-size:12px;" align="center">
                    <th>계약일자</th>
                    <th>법정동</th>
                    <th>아파트명</th>
                    <th>건축년도</th>
                    <th>전용면적(m2)</th>
                    <th>거래금액</th>
                    <th>층수</th>
                    <th>신고가</th>
                    <th>거래유형</th>
                </tr>
            </thead>
            <tbody>
                <tr style="font-size:12px;" th:each="list : ${list}">
                    <td align="center" th:text="${list.dealDate}"></td>
                    <td align="center" th:text="${list.landDong}"></td>
                    <td align="left" th:text="${list.aptName}"></td>
                    <td align="center" th:text="${list.buildYear}"></td>
                    <td align="right" th:text="${#numbers.formatDecimal(list.useArea,1,1,'POINT')}"></td>
                    <td align="right" th:text="${#numbers.formatInteger(list.dealAmt,1,'COMMA')}"></td>
                    <td align="right" th:text="${list.floor}"></td>
                    <td align="center" th:text="${list.newHighest}"></td>
                    <td align="center" th:text="${list.dealType}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>