<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <div>
            <a th:href="@{/stat_trade/incheon/top/2022/28710?ua={ua} (ua=${ua})}">강화군&nbsp</a>
            <a th:href="@{/stat_trade/incheon/top/2022/28245?ua={ua} (ua=${ua})}">&nbsp계양구&nbsp</a>
            <a th:href="@{/stat_trade/incheon/top/2022/28200?ua={ua} (ua=${ua})}">&nbsp남동구&nbsp</a>
            <a th:href="@{/stat_trade/incheon/top/2022/28140?ua={ua} (ua=${ua})}">&nbsp동구&nbsp</a>
            <a th:href="@{/stat_trade/incheon/top/2022/28177?ua={ua} (ua=${ua})}">&nbsp미추홀구</a>
        </div>
        <div>
            <a th:href="@{/stat_trade/incheon/top/2022/28237?ua={ua} (ua=${ua})}">부평구&nbsp</a>
            <a th:href="@{/stat_trade/incheon/top/2022/28260?ua={ua} (ua=${ua})}">&nbsp서구&nbsp</a>
            <a th:href="@{/stat_trade/incheon/top/2022/28185?ua={ua} (ua=${ua})}">&nbsp연수구&nbsp</a>
            <a th:href="@{/stat_trade/incheon/top/2022/28720?ua={ua} (ua=${ua})}">&nbsp옹진군&nbsp</a>
            <a th:href="@{/stat_trade/incheon/top/2022/28110?ua={ua} (ua=${ua})}">&nbsp중구</a>
        </div>
        <p>
            <h5 align="center" th:text="${title}"></h5>
            <h6 align="center" th:text="|* ${uaStr} |"></h6>
        </p>
        <div>
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-jcQR8RwkXK2z2xvE"
                 data-ad-width   = "320"
                 data-ad-height  = "100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
        <div>
            <h7>※ 단지명을 클릭하면 거래내역으로 넘어갑니다.</h7>
        </div>
        <a style="font-size: 20px">[평형]&nbsp</a>
        <a style="font-size: 20px" th:href="@{/stat_trade/incheon/top/2022/{sigungucode}?ua=UA01 (sigungucode=${sigungucode})}">전체&nbsp</a>
        <a style="font-size: 20px" th:href="@{/stat_trade/incheon/top/2022/{sigungucode}?ua=UA08 (sigungucode=${sigungucode})}">전용59&nbsp</a>
        <a style="font-size: 20px" th:href="@{/stat_trade/incheon/top/2022/{sigungucode}?ua=UA07 (sigungucode=${sigungucode})}">국평&nbsp</a>
        <a style="font-size: 20px" th:href="@{/stat_trade/incheon/top/2022/{sigungucode}?ua=UA04 (sigungucode=${sigungucode})}">중형&nbsp</a>
        <a style="font-size: 20px" th:href="@{/stat_trade/incheon/top/2022/{sigungucode}?ua=UA05 (sigungucode=${sigungucode})}">중대형&nbsp</a>
        <a style="font-size: 20px" th:href="@{/stat_trade/incheon/top/2022/{sigungucode}?ua=UA06 (sigungucode=${sigungucode})}">대형&nbsp</a>
        <table class="table table-striped">
            <thead class="table-dark">
                <tr style="font-size:12px;" align="center">
                    <th>일자</th>
<!--                    <th>법정동</th>-->
                    <th>아파트</th>
<!--                    <th>건축년도</th>-->
                    <th>전용</br>면적(m<sup>2</sup>)</th>
                    <th>금액</th>
<!--                    <th>층수</th>-->
                    <th>신고가</th>
                    <th>거래</br>유형</th>
                </tr>
            </thead>
            <tbody>
                <tr style="font-size:12px;" th:each="list : ${list}">
                    <td align="center" th:text="${list.dealDate}"></td>
                    <td align="left">
                        <div>
                            <a th:text="${list.landDong}"></a></br>
                            <a th:text="${list.aptName}" th:href="@{/tradelist/ByName/{sigungucode}/{aptname}/{uatrunc}/1?landDong={landDong} (sigungucode=${list.gubnCode}, aptname=${list.aptName}, uatrunc=${list.useAreaTrunc}, landDong=${list.landDong})}"></a></br>
                            <a th:text="|[${list.buildYear}] ${list.floor}층|"></a>
                        </div>
                    </td>
<!--                    <td align="center" th:text="${list.landDong}"></td>-->
<!--                    <td align="left"><a th:text="${list.aptName}" th:href="@{/tradelist/ByName/{sigungucode}/{aptname}/{uatrunc}/1?landDong={landDong} (sigungucode=${list.gubnCode}, aptname=${list.aptName}, uatrunc=${list.useAreaTrunc}, landDong=${list.landDong})}"></a></td>-->
<!--                    <td align="center" th:text="${list.buildYear}"></td>-->
                    <td align="right" th:text="${#numbers.formatDecimal(list.useArea,1,2,'POINT')}"></td>
<!--                    <td align="right" th:text="${#numbers.formatInteger(list.dealAmt,1,'COMMA')}"></td>-->
                    <td align="right" th:text="${list.dealAmtStr}"></td>
<!--                    <td align="right" th:text="${list.floor}"></td>-->
                    <td align="center" th:text="${list.newHighest}"></td>
                    <td align="center" th:text="${list.dealType}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>