<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <!--    <a th:text="${year}"></a>-->
    <div>
        <div>
            <a href="/stat_trade/newHighestAndTradeCntByCity/11">서울</a>
            <a href="/stat_trade/newHighestAndTradeCntByCity/28">인천</a>
        </div>
        <div>
            <a href="/stat_trade/newHighestAndTradeCntByCity/4182">가평군&nbsp</a>
            <a href="/stat_trade/newHighestAndTradeCntByCity/4128">&nbsp고양시&nbsp</a>
            <a href="/stat_trade/newHighestAndTradeCntByCity/4129">&nbsp과천시&nbsp</a>
            <a href="/stat_trade/newHighestAndTradeCntByCity/4121">&nbsp광명시&nbsp</a>
            <a href="/stat_trade/newHighestAndTradeCntByCity/4161">&nbsp광주시&nbsp</a>
            <a href="/stat_trade/newHighestAndTradeCntByCity/4131">&nbsp구리시&nbsp</a>
            <a href="/stat_trade/newHighestAndTradeCntByCity/4141">&nbsp군포시</a>
        </div>
        <div>
            <a href="/stat_trade/newHighestAndTradeCntByCity/4157">김포시&nbsp</a>
            <a href="/stat_trade/newHighestAndTradeCntByCity/4136">&nbsp남양주&nbsp</a>
            <a href="/stat_trade/newHighestAndTradeCntByCity/4125">&nbsp동두천&nbsp</a>
            <a href="/stat_trade/newHighestAndTradeCntByCity/4119">&nbsp부천시&nbsp</a>
            <a href="/stat_trade/newHighestAndTradeCntByCity/4113">&nbsp성남시&nbsp</a>
            <a href="/stat_trade/newHighestAndTradeCntByCity/4111">&nbsp수원시&nbsp</a>
            <a href="/stat_trade/newHighestAndTradeCntByCity/4139">&nbsp시흥시</a>
        </div>
        <div>
            <a href="/stat_trade/newHighestAndTradeCntByCity/4127">안산시&nbsp</a>
            <a href="/stat_trade/newHighestAndTradeCntByCity/4155">&nbsp안성시&nbsp</a>
            <a href="/stat_trade/newHighestAndTradeCntByCity/4117">&nbsp안양시&nbsp</a>
            <a href="/stat_trade/newHighestAndTradeCntByCity/4163">&nbsp양주시&nbsp</a>
            <a href="/stat_trade/newHighestAndTradeCntByCity/4183">&nbsp양평군&nbsp</a>
            <a href="/stat_trade/newHighestAndTradeCntByCity/4167">&nbsp여주시&nbsp</a>
            <a href="/stat_trade/newHighestAndTradeCntByCity/4180">&nbsp연천군</a>
        </div>
        <div>
            <a href="/stat_trade/newHighestAndTradeCntByCity/4137">오산시&nbsp</a>
            <a href="/stat_trade/newHighestAndTradeCntByCity/4146">&nbsp용인시&nbsp</a>
            <a href="/stat_trade/newHighestAndTradeCntByCity/4143">&nbsp의왕시&nbsp</a>
            <a href="/stat_trade/newHighestAndTradeCntByCity/4115">&nbsp의정부&nbsp</a>
            <a href="/stat_trade/newHighestAndTradeCntByCity/4150">&nbsp이천시&nbsp</a>
            <a href="/stat_trade/newHighestAndTradeCntByCity/4148">&nbsp파주시&nbsp</a>
            <a href="/stat_trade/newHighestAndTradeCntByCity/4122">&nbsp평택시</a>
        </div>
        <div>
            <a href="/stat_trade/newHighestAndTradeCntByCity/4165">포천시&nbsp</a>
            <a href="/stat_trade/newHighestAndTradeCntByCity/4145">&nbsp하남시&nbsp</a>
            <a href="/stat_trade/newHighestAndTradeCntByCity/4159">&nbsp화성시</a>
        </div>
        <p>
            <h4 align="center" th:text="${title}"></h4>
        </p>
        <p>
            <canvas id="myChart"></canvas>
        </p>
        <p>
            <canvas id="myChart2"></canvas>
        </p>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type = "text/javascript" th:inline="javascript">
  const labels =  /*[[ ${dates.toArray()} ]]*/;
  const newHighests =  /*[[ ${newHighests.toArray()} ]]*/;
  const avgPrices =  /*[[ ${avgPrices.toArray()} ]]*/;
  const tradcnt =  /*[[ ${tradcnt.toArray()} ]]*/;

  const data = {
    labels: labels,
    datasets: [{
      type: 'line',
      label: '거래량',
      yAxisID: 'y-line',
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      data: tradcnt
      },{
        type: 'bar',
        label: '신고가율',
        yAxisID: 'y-bar',
        backgroundColor: 'rgb(54, 162, 235)',
        borderColor: 'rgb(54, 162, 235)',
        data: newHighests
      }
    ]
  };

  const data2 = {
    labels: labels,
    datasets: [{
      type: 'line',
      label: '평균매매가',
      yAxisID: 'y-line2',
      backgroundColor: 'rgb(255, 205, 86)',
      borderColor: 'rgb(255, 205, 86)',
      data: avgPrices
      },{
        type: 'bar',
        label: '신고가율',
        yAxisID: 'y-bar2',
        backgroundColor: 'rgb(54, 162, 235)',
        borderColor: 'rgb(54, 162, 235)',
        data: newHighests
      }
    ]
  };

  const config = {
    data: data,
    options: {
        scales:{
            'y-line':{
                position: 'left',
                suggestedMin: 0,
                ticks:{
				    color: 'rgb(255, 99, 132)'
				},
                title: {
                    display: true,
                    text: '거래량'
                }
            },
            'y-bar':{
                position: 'right',
                suggestedMin: 0,
                suggestedMax: 100,
                ticks:{
				    color: 'rgb(54, 162, 235)'
				},
                title: {
                    display: true,
                    text: '신고가율'
                }
            }
        }
    }
  };

  const config2 = {
    data: data2,
    options: {
        scales:{
            'y-line2':{
                position: 'left',
                suggestedMin: 0,
                ticks:{
				    color: 'rgb(255, 205, 86)'
				},
                title: {
                    display: true,
                    text: '평균매매가'
                }
            },
            'y-bar2':{
                position: 'right',
                suggestedMin: 0,
                suggestedMax: 100,
                ticks:{
				    color: 'rgb(54, 162, 235)'
				},
                title: {
                    display: true,
                    text: '신고가율'
                }
            }
        }
    }
  };
</script>
<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );

  const myChart2 = new Chart(
    document.getElementById('myChart2'),
    config2
  );
</script>
</html>