<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
<!--    <a th:text="${year}"></a>-->
    <div>
        <div>
            <a th:href="@{/stat_trade/seoul/top/{year}/11680 (year=${year})}">강남구&nbsp</a>
            <a th:href="@{/stat_trade/seoul/top/{year}/11740 (year=${year})}">&nbsp강동구&nbsp</a>
            <a th:href="@{/stat_trade/seoul/top/{year}/11305 (year=${year})}">&nbsp강북구&nbsp</a>
            <a th:href="@{/stat_trade/seoul/top/{year}/11500 (year=${year})}">&nbsp강서구&nbsp</a>
            <a th:href="@{/stat_trade/seoul/top/{year}/11620 (year=${year})}">&nbsp관악구&nbsp</a>
            <a th:href="@{/stat_trade/seoul/top/{year}/11215 (year=${year})}">&nbsp광진구&nbsp</a>
            <a th:href="@{/stat_trade/seoul/top/{year}/11530 (year=${year})}">&nbsp구로구</a>
        </div>
        <div>
            <a th:href="@{/stat_trade/seoul/top/{year}/11545 (year=${year})}">금천구&nbsp</a>
            <a th:href="@{/stat_trade/seoul/top/{year}/11350 (year=${year})}">&nbsp노원구&nbsp</a>
            <a th:href="@{/stat_trade/seoul/top/{year}/11320 (year=${year})}">&nbsp도봉구&nbsp</a>
            <a th:href="@{/stat_trade/seoul/top/{year}/11230 (year=${year})}">&nbsp동대문&nbsp</a>
            <a th:href="@{/stat_trade/seoul/top/{year}/11590 (year=${year})}">&nbsp동작구&nbsp</a>
            <a th:href="@{/stat_trade/seoul/top/{year}/11440 (year=${year})}">&nbsp마포구&nbsp</a>
            <a th:href="@{/stat_trade/seoul/top/{year}/11410 (year=${year})}">&nbsp서대문</a>
        </div>
        <div>
            <a th:href="@{/stat_trade/seoul/top/{year}/11650 (year=${year})}">서초구&nbsp</a>
            <a th:href="@{/stat_trade/seoul/top/{year}/11200 (year=${year})}">&nbsp성동구&nbsp</a>
            <a th:href="@{/stat_trade/seoul/top/{year}/11290 (year=${year})}">&nbsp성북구&nbsp</a>
            <a th:href="@{/stat_trade/seoul/top/{year}/11710 (year=${year})}">&nbsp송파구&nbsp</a>
            <a th:href="@{/stat_trade/seoul/top/{year}/11470 (year=${year})}">&nbsp양천구&nbsp</a>
            <a th:href="@{/stat_trade/seoul/top/{year}/11560 (year=${year})}">&nbsp영등포&nbsp</a>
            <a th:href="@{/stat_trade/seoul/top/{year}/11170 (year=${year})}">&nbsp용산구</a>
        </div>
        <div>
            <a th:href="@{/stat_trade/seoul/top/{year}/11380 (year=${year})}">은평구&nbsp</a>
            <a th:href="@{/stat_trade/seoul/top/{year}/11110 (year=${year})}">&nbsp종로구&nbsp</a>
            <a th:href="@{/stat_trade/seoul/top/{year}/11260 (year=${year})}">&nbsp중랑구&nbsp</a>
            <a th:href="@{/stat_trade/seoul/top/{year}/11140 (year=${year})}">&nbsp중구</a>
        </div>
        <p>
            <h5 align="center" th:text="|[ ${year} ${title} TOP 100 ]|"></h5>
        </p>
        <div>
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-jcQR8RwkXK2z2xvE"
                 data-ad-width   = "320"
                 data-ad-height  = "100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
        <a>[년도]&nbsp</a>
        <a th:href="@{/stat_trade/seoul/top/2022/{sigungucode} (sigungucode=${sigungucode})}">2022&nbsp</a>
        <a th:href="@{/stat_trade/seoul/top/2021/{sigungucode} (sigungucode=${sigungucode})}">2021&nbsp</a>
        <a th:href="@{/stat_trade/seoul/top/2020/{sigungucode} (sigungucode=${sigungucode})}">2020</a>
        <table class="table table-striped">
            <thead class="table-dark">
                <tr style="font-size:12px;" align="center">
                    <th>계약일자</th>
                    <th>법정동</th>
                    <th>아파트명</th>
                    <th>건축년도</th>
                    <th>전용면적(m2)</th>
                    <th>거래금액</th>
                    <th>층수</th>
                    <th>신고가</th>
                    <th>거래유형</th>
<!--                    <th>내역</th>-->
                </tr>
            </thead>
            <tbody>
                <tr style="font-size:12px;" th:each="list : ${list}">
                    <td align="center" th:text="${list.dealDate}"></td>
                    <td align="center" th:text="${list.landDong}"></td>
                    <td align="left"><a th:text="${list.aptName}" th:href="@{/tradelist/ByName/{sigungucode}/{aptname}/{uatrunc}/1 (sigungucode=${list.gubnCode}, aptname=${list.aptName}, uatrunc=${list.useAreaTrunc})}"></a></td>
                    <td align="center" th:text="${list.buildYear}"></td>
                    <td align="right" th:text="${#numbers.formatDecimal(list.useArea,1,2,'POINT')}"></td>
<!--                    <td align="right" th:text="${#numbers.formatInteger(list.dealAmt,1,'COMMA')}"></td>-->
                    <td align="right" th:text="${list.dealAmtStr}"></td>
                    <td align="right" th:text="${list.floor}"></td>
                    <td align="center" th:text="${list.newHighest}"></td>
                    <td align="center" th:text="${list.dealType}"></td>
<!--                    <td align="center"><a th:text="${list.aptName}" th:href="@{/tradelist/ByName/{sigungucode}/{aptname}/{uatrunc}/1 (sigungucode=${list.gubnCode}, aptname=${list.aptName}, uatrunc=${list.useAreaTrunc})}"></a></td>-->
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
<script>
    function findSeoulYear(year){
        var form = document.createElement("form");
            form.setAttribute("method", "get");
            form.setAttribute("action", "/statistics/seoul/" + year);
            document.body.appendChild(form);
            form.submit();
    }
</script>
</html>