<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
<!--    <a th:text="${year}"></a>-->
    <div>
        <div>
            <a th:href="@{/stat_trade/seoul/top/{year}/11680?ua={ua} (year=${year}, ua=${ua})}">강남구&nbsp</a>
            <a th:href="@{/stat_trade/seoul/top/{year}/11740?ua={ua} (year=${year}, ua=${ua})}">&nbsp강동구&nbsp</a>
            <a th:href="@{/stat_trade/seoul/top/{year}/11305?ua={ua} (year=${year}, ua=${ua})}">&nbsp강북구&nbsp</a>
            <a th:href="@{/stat_trade/seoul/top/{year}/11500?ua={ua} (year=${year}, ua=${ua})}">&nbsp강서구&nbsp</a>
            <a th:href="@{/stat_trade/seoul/top/{year}/11620?ua={ua} (year=${year}, ua=${ua})}">&nbsp관악구&nbsp</a>
            <a th:href="@{/stat_trade/seoul/top/{year}/11215?ua={ua} (year=${year}, ua=${ua})}">&nbsp광진구&nbsp</a>
            <a th:href="@{/stat_trade/seoul/top/{year}/11530?ua={ua} (year=${year}, ua=${ua})}">&nbsp구로구</a>
        </div>
        <div>
            <a th:href="@{/stat_trade/seoul/top/{year}/11545?ua={ua} (year=${year}, ua=${ua})}">금천구&nbsp</a>
            <a th:href="@{/stat_trade/seoul/top/{year}/11350?ua={ua} (year=${year}, ua=${ua})}">&nbsp노원구&nbsp</a>
            <a th:href="@{/stat_trade/seoul/top/{year}/11320?ua={ua} (year=${year}, ua=${ua})}">&nbsp도봉구&nbsp</a>
            <a th:href="@{/stat_trade/seoul/top/{year}/11230?ua={ua} (year=${year}, ua=${ua})}">&nbsp동대문&nbsp</a>
            <a th:href="@{/stat_trade/seoul/top/{year}/11590?ua={ua} (year=${year}, ua=${ua})}">&nbsp동작구&nbsp</a>
            <a th:href="@{/stat_trade/seoul/top/{year}/11440?ua={ua} (year=${year}, ua=${ua})}">&nbsp마포구&nbsp</a>
            <a th:href="@{/stat_trade/seoul/top/{year}/11410?ua={ua} (year=${year}, ua=${ua})}">&nbsp서대문</a>
        </div>
        <div>
            <a th:href="@{/stat_trade/seoul/top/{year}/11650?ua={ua} (year=${year}, ua=${ua})}">서초구&nbsp</a>
            <a th:href="@{/stat_trade/seoul/top/{year}/11200?ua={ua} (year=${year}, ua=${ua})}">&nbsp성동구&nbsp</a>
            <a th:href="@{/stat_trade/seoul/top/{year}/11290?ua={ua} (year=${year}, ua=${ua})}">&nbsp성북구&nbsp</a>
            <a th:href="@{/stat_trade/seoul/top/{year}/11710?ua={ua} (year=${year}, ua=${ua})}">&nbsp송파구&nbsp</a>
            <a th:href="@{/stat_trade/seoul/top/{year}/11470?ua={ua} (year=${year}, ua=${ua})}">&nbsp양천구&nbsp</a>
            <a th:href="@{/stat_trade/seoul/top/{year}/11560?ua={ua} (year=${year}, ua=${ua})}">&nbsp영등포&nbsp</a>
            <a th:href="@{/stat_trade/seoul/top/{year}/11170?ua={ua} (year=${year}, ua=${ua})}">&nbsp용산구</a>
        </div>
        <div>
            <a th:href="@{/stat_trade/seoul/top/{year}/11380?ua={ua} (year=${year}, ua=${ua})}">은평구&nbsp</a>
            <a th:href="@{/stat_trade/seoul/top/{year}/11110?ua={ua} (year=${year}, ua=${ua})}">&nbsp종로구&nbsp</a>
            <a th:href="@{/stat_trade/seoul/top/{year}/11260?ua={ua} (year=${year}, ua=${ua})}">&nbsp중랑구&nbsp</a>
            <a th:href="@{/stat_trade/seoul/top/{year}/11140?ua={ua} (year=${year}, ua=${ua})}">&nbsp중구</a>
        </div>
        <p>
            <h5 align="center" th:text="|[ ${year} ${title} TOP 100 ]|"></h5>
            <h6 align="center" th:text="|* ${uaStr} |"></h6>
        </p>
        <div>
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-jcQR8RwkXK2z2xvE"
                 data-ad-width   = "320"
                 data-ad-height  = "100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
        <div>
            <h7>※ 단지명을 클릭하면 거래내역으로 넘어갑니다.</h7>
        </div>
        <a style="font-size: 20px">[평형]&nbsp</a>
        <a style="font-size: 20px" th:href="@{/stat_trade/seoul/top/2022/{sigungucode}?ua=UA01 (sigungucode=${sigungucode})}">전체&nbsp</a>
        <a style="font-size: 20px" th:href="@{/stat_trade/seoul/top/2022/{sigungucode}?ua=UA08 (sigungucode=${sigungucode})}">전용59&nbsp</a>
        <a style="font-size: 20px" th:href="@{/stat_trade/seoul/top/2022/{sigungucode}?ua=UA07 (sigungucode=${sigungucode})}">국평&nbsp</a>
        <a style="font-size: 20px" th:href="@{/stat_trade/seoul/top/2022/{sigungucode}?ua=UA04 (sigungucode=${sigungucode})}">중형&nbsp</a>
        <a style="font-size: 20px" th:href="@{/stat_trade/seoul/top/2022/{sigungucode}?ua=UA05 (sigungucode=${sigungucode})}">중대형&nbsp</a>
        <a style="font-size: 20px" th:href="@{/stat_trade/seoul/top/2022/{sigungucode}?ua=UA06 (sigungucode=${sigungucode})}">대형&nbsp</a>
<!--        <a th:href="@{/stat_trade/seoul/top/2021/{sigungucode} (sigungucode=${sigungucode})}">2021&nbsp</a>-->
<!--        <a th:href="@{/stat_trade/seoul/top/2020/{sigungucode} (sigungucode=${sigungucode})}">2020</a>-->
        <table class="table table-striped">
            <thead class="table-dark">
                <tr style="font-size:12px;" align="center">
                    <th>일자</th>
<!--                    <th>동</th>-->
                    <th>아파트</th>
<!--                    <th>건축</br>년도</th>-->
                    <th>전용</br>(m<sup>2</sup>)</th>
                    <th>금액</th>
<!--                    <th>층수</th>-->
                    <th>신고가</th>
                    <th>거래</br>유형</th>
<!--                    <th>내역</th>-->
                </tr>
            </thead>
            <tbody>
                <tr style="font-size:12px;" th:each="list : ${list}">
                    <td align="center" th:text="${list.dealDate}"></td>
<!--                    <td align="center" th:text="${list.landDong}"></td>-->
                    <td align="left">
                        <div>
                            <a th:text="${list.landDong}"></a></br>
                            <a th:text="${list.aptName}" th:href="@{/tradelist/ByName?regncode={sigungucode}&aptname={aptname}&ua={uatrunc}&term=1&landDong={landDong} (sigungucode=${list.gubnCode}, aptname=${list.aptName}, uatrunc=${list.useAreaTrunc}, landDong=${list.landDong})}"></a></br>
                            <a th:text="|[${list.buildYear}] ${list.floor}층|"></a>
                        </div>
                    </td>
<!--                    <td align="center" th:text="${list.buildYear}"></td>-->
                    <td align="right" th:text="${#numbers.formatDecimal(list.useArea,1,2,'POINT')}"></td>
<!--                    <td align="right" th:text="${#numbers.formatInteger(list.dealAmt,1,'COMMA')}"></td>-->
                    <td align="right" th:text="${list.dealAmtStr}"></td>
<!--                    <td align="right" th:text="${list.floor}"></td>-->
                    <td align="center" th:text="${list.newHighest}"></td>
                    <td align="center" th:text="${list.dealType}"></td>
<!--                    <td align="center"><a th:text="${list.aptName}" th:href="@{/tradelist/ByName/{sigungucode}/{aptname}/{uatrunc}/1 (sigungucode=${list.gubnCode}, aptname=${list.aptName}, uatrunc=${list.useAreaTrunc})}"></a></td>-->
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
<script>
    function findSeoulYear(year){
        var form = document.createElement("form");
            form.setAttribute("method", "get");
            form.setAttribute("action", "/statistics/seoul/" + year);
            document.body.appendChild(form);
            form.submit();
    }
</script>
</html>