<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <div>
            <a href="/stat_trade/seoul/11680/6">강남구&nbsp</a>
            <a href="/stat_trade/seoul/11740/6">&nbsp강동구&nbsp</a>
            <a href="/stat_trade/seoul/11305/6">&nbsp강북구&nbsp</a>
            <a href="/stat_trade/seoul/11500/6">&nbsp강서구&nbsp</a>
            <a href="/stat_trade/seoul/11620/6">&nbsp관악구&nbsp</a>
            <a href="/stat_trade/seoul/11215/6">&nbsp광진구&nbsp</a>
            <a href="/stat_trade/seoul/11530/6">&nbsp구로구</a>
        </div>
        <div>
            <a href="/stat_trade/seoul/11545/6">금천구&nbsp</a>
            <a href="/stat_trade/seoul/11350/6">&nbsp노원구&nbsp</a>
            <a href="/stat_trade/seoul/11320/6">&nbsp도봉구&nbsp</a>
            <a href="/stat_trade/seoul/11230/6">&nbsp동대문&nbsp</a>
            <a href="/stat_trade/seoul/11590/6">&nbsp동작구&nbsp</a>
            <a href="/stat_trade/seoul/11440/6">&nbsp마포구&nbsp</a>
            <a href="/stat_trade/seoul/11410/6">&nbsp서대문</a>
        </div>
        <div>
            <a href="/stat_trade/seoul/11650/6">서초구&nbsp</a>
            <a href="/stat_trade/seoul/11200/6">&nbsp성동구&nbsp</a>
            <a href="/stat_trade/seoul/11290/6">&nbsp성북구&nbsp</a>
            <a href="/stat_trade/seoul/11710/6">&nbsp송파구&nbsp</a>
            <a href="/stat_trade/seoul/11470/6">&nbsp양천구&nbsp</a>
            <a href="/stat_trade/seoul/11560/6">&nbsp영등포&nbsp</a>
            <a href="/stat_trade/seoul/11170/6">&nbsp용산구</a>
        </div>
        <div>
            <a href="/stat_trade/seoul/11380/6">은평구&nbsp</a>
            <a href="/stat_trade/seoul/11110/6">&nbsp종로구&nbsp</a>
            <a href="/stat_trade/seoul/11260/6">&nbsp중랑구&nbsp</a>
            <a href="/stat_trade/seoul/11140/6">&nbsp중구</a>
        </div>
        <p>
            <h5 align="center" th:text="${title}"></h5>
        </p>
        <div>
            <canvas id="myChart"></canvas>
        </div>
        <div>
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-jcQR8RwkXK2z2xvE"
                 data-ad-width   = "320"
                 data-ad-height  = "100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>

        <table class="table table-striped">
            <thead class="table-dark">
                <tr style="font-size:12px;" align="center">
                    <th>년-월</th>
                    <th>최저<br/>매매가</th>
                    <th>평균<br/>매매가</th>
                    <th>최고<br/>매매가</th>
                    <th>거래건수</th>
                    <th>신고가율</th>
                </tr>
            </thead>
            <tbody>
                <tr style="font-size:12px;" th:each="list : ${list}">
                    <td align="center" th:text="${list.dealYYMM}"></td>
                    <td align="right" th:text="${#numbers.formatInteger(list.minPrice,1,'COMMA')}"></td>
                    <td align="right" style="font-weight: bolder" th:text="${#numbers.formatInteger(list.avgPrice,1,'COMMA')}"></td>
                    <td align="right" th:text="${#numbers.formatInteger(list.maxPrice,1,'COMMA')}"></td>
                    <td align="right" th:text="${#numbers.formatInteger(list.cnt,1,'COMMA')}"></td>
                    <td align="right" th:text="${#numbers.formatDecimal(list.highestRate,1,1,'POINT')}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type = "text/javascript" th:inline="javascript">
  const labels =  /*[[ ${dates.toArray()} ]]*/;
  const avgPrices =  /*[[ ${avgprc.toArray()} ]]*/;
  const tradcnt =  /*[[ ${tradcnt.toArray()} ]]*/;
  const interestRates =  /*[[ ${interestRates.toArray()} ]]*/;

  const data = {
    labels: labels,
    datasets: [{
      type: 'line',
      label: '평균 매매가',
      yAxisID: 'y-line',
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      pointRadius:1,
      data: avgPrices
      },{
        type: 'line',
        label: '기준금리',
        yAxisID: 'y-line2',
        backgroundColor: 'rgb(64, 64, 64)',
        borderColor: 'rgb(64, 64, 64)',
        pointRadius:1,
        data: interestRates
      },{
        type: 'bar',
        label: '거래건수',
        yAxisID: 'y-bar',
        backgroundColor: 'rgb(54, 162, 235)',
        borderColor: 'rgb(54, 162, 235)',
        data: tradcnt
      }
    ]
  };

  const config = {
    data: data,
    options: {
        scales:{
            'y-line':{
                position: 'left',
                suggestedMin: 0,
                ticks:{
				    color: 'rgb(255, 99, 132)'
				},
                title: {
                    display: true,
                    text: '평균매매가'
                }
            },
            'y-line2':{
                position: 'left',
                suggestedMin: 0,
                suggestedMax: 7,
                ticks:{
				    color: 'rgb(64, 64, 64)'
				},
				grid:{
                    display: false
                },
                title: {
                    display: true,
                    text: '한국은행 기준금리'
                }
            },
            'y-bar':{
                position: 'right',
                suggestedMin: 0,
                grid:{
                    display: false
                },
                ticks:{
				    color: 'rgb(54, 162, 235)'
				},
                title: {
                    display: true,
                    text: '거래건수'
                }
            }
        }
    }
  };
</script>
<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>

</html>