<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <!--    <a th:text="${year}"></a>-->
    <div>
        <div>
            <a href="/stat_trade/ByBuildYear/11/2">서울 전체</a>
        </div>
        <div>
            <a href="/stat_trade/ByBuildYear/11680/2">강남구&nbsp</a>
            <a href="/stat_trade/ByBuildYear/11740/2">&nbsp강동구&nbsp</a>
            <a href="/stat_trade/ByBuildYear/11305/2">&nbsp강북구&nbsp</a>
            <a href="/stat_trade/ByBuildYear/11500/2">&nbsp강서구&nbsp</a>
            <a href="/stat_trade/ByBuildYear/11620/2">&nbsp관악구&nbsp</a>
            <a href="/stat_trade/ByBuildYear/11215/2">&nbsp광진구&nbsp</a>
            <a href="/stat_trade/ByBuildYear/11530/2">&nbsp구로구</a>
        </div>
        <div>
            <a href="/stat_trade/ByBuildYear/11545/2">금천구&nbsp</a>
            <a href="/stat_trade/ByBuildYear/11350/2">&nbsp노원구&nbsp</a>
            <a href="/stat_trade/ByBuildYear/11320/2">&nbsp도봉구&nbsp</a>
            <a href="/stat_trade/ByBuildYear/11230/2">&nbsp동대문&nbsp</a>
            <a href="/stat_trade/ByBuildYear/11590/2">&nbsp동작구&nbsp</a>
            <a href="/stat_trade/ByBuildYear/11440/2">&nbsp마포구&nbsp</a>
            <a href="/stat_trade/ByBuildYear/11410/2">&nbsp서대문</a>
        </div>
        <div>
            <a href="/stat_trade/ByBuildYear/11650/2">서초구&nbsp</a>
            <a href="/stat_trade/ByBuildYear/11200/2">&nbsp성동구&nbsp</a>
            <a href="/stat_trade/ByBuildYear/11290/2">&nbsp성북구&nbsp</a>
            <a href="/stat_trade/ByBuildYear/11710/2">&nbsp송파구&nbsp</a>
            <a href="/stat_trade/ByBuildYear/11470/2">&nbsp양천구&nbsp</a>
            <a href="/stat_trade/ByBuildYear/11560/2">&nbsp영등포&nbsp</a>
            <a href="/stat_trade/ByBuildYear/11170/2">&nbsp용산구</a>
        </div>
        <div>
            <a href="/stat_trade/ByBuildYear/11380/2">은평구&nbsp</a>
            <a href="/stat_trade/ByBuildYear/11110/2">&nbsp종로구&nbsp</a>
            <a href="/stat_trade/ByBuildYear/11260/2">&nbsp중랑구&nbsp</a>
            <a href="/stat_trade/ByBuildYear/11140/2">&nbsp중구</a>
        </div>
        <p>
            <h4 align="center" th:text="${title}"></h4>
        </p>
        <div>
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3199694479750381"
                    crossorigin="anonymous"></script>
        </div>
        <p>
            <canvas id="myChart"></canvas>
        </p>
        <p>
            <canvas id="myChart2"></canvas>
        </p>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type = "text/javascript" th:inline="javascript">
  const labels =  /*[[ ${dates.toArray()} ]]*/;
  const avgprc1970 =  /*[[ ${avgprc1970.toArray()} ]]*/;
  const avgprc1980 =  /*[[ ${avgprc1980.toArray()} ]]*/;
  const avgprc1990 =  /*[[ ${avgprc1990.toArray()} ]]*/;
  const avgprc2000 =  /*[[ ${avgprc2000.toArray()} ]]*/;
  const avgprc2010 =  /*[[ ${avgprc2010.toArray()} ]]*/;
  const avgprc2020 =  /*[[ ${avgprc2020.toArray()} ]]*/;

  const tradCnt1970 =  /*[[ ${tradCnt1970.toArray()} ]]*/;
  const tradCnt1980 =  /*[[ ${tradCnt1980.toArray()} ]]*/;
  const tradCnt1990 =  /*[[ ${tradCnt1990.toArray()} ]]*/;
  const tradCnt2000 =  /*[[ ${tradCnt2000.toArray()} ]]*/;
  const tradCnt2010 =  /*[[ ${tradCnt2010.toArray()} ]]*/;
  const tradCnt2020 =  /*[[ ${tradCnt2020.toArray()} ]]*/;

  const data = {
    labels: labels,
    datasets: [{
            type: 'line', // 차트의 형태
            label: '1970',
            yAxisID: 'y-line1970',
            fill: false,
            data: avgprc1970,
            backgroundColor: 'rgb(54, 162, 235)',
            borderColor: 'rgb(54, 162, 235)',
            borderWidth: 1 //경계선 굵기
        },{
            type: 'line', // 차트의 형태
            label: '1980',
            yAxisID: 'y-line1980',
            fill: false,
            data: avgprc1980,
            backgroundColor: 'rgb(95,67,175)',
            borderColor: 'rgb(95,67,175)',
            borderWidth: 1 //경계선 굵기
        },{
            type: 'line', // 차트의 형태
            label: '1990',
            yAxisID: 'y-line1990',
            fill: false,
            data: avgprc1990,
            backgroundColor: 'rgb(167,215,113)',
            borderColor: 'rgb(167,215,113)',
            borderWidth: 1 //경계선 굵기
        },{
            type: 'line', // 차트의 형태
            label: '2000',
            yAxisID: 'y-line2000',
            fill: false,
            data: avgprc2000,
            backgroundColor: 'rgb(255,195,0)',
            borderColor: 'rgb(255,195,0)',
            borderWidth: 1 //경계선 굵기
        },{
            type: 'line', // 차트의 형태
            label: '2010',
            yAxisID: 'y-line2010',
            fill: false,
            data: avgprc2010,
            backgroundColor: 'rgb(190,79,176)',
            borderColor: 'rgb(190,79,176)',
            borderWidth: 1 //경계선 굵기
        },{ //데이터
            type: 'line', // 차트의 형태
            label: '2020', //차트 제목
            yAxisID: 'y-line2020',
            fill: false, // line 형태일 때, 선 안쪽을 채우는지 안채우는지
            data: avgprc2020,
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            borderWidth: 1 //경계선 굵기
        }
    ]
  };
  const data2 = {
    labels: labels,
    datasets: [{
            type: 'line', // 차트의 형태
            label: '1970',
            yAxisID: 'y-line1970_2',
            fill: false,
            data: tradCnt1970,
            backgroundColor: 'rgb(54, 162, 235)',
            borderColor: 'rgb(54, 162, 235)',
            borderWidth: 1 //경계선 굵기
        },{
            type: 'line', // 차트의 형태
            label: '1980',
            yAxisID: 'y-line1980_2',
            fill: false,
            data: tradCnt1980,
            backgroundColor: 'rgb(95,67,175)',
            borderColor: 'rgb(95,67,175)',
            borderWidth: 1 //경계선 굵기
        },{
            type: 'line', // 차트의 형태
            label: '1990',
            yAxisID: 'y-line1990_2',
            fill: false,
            data: tradCnt1990,
            backgroundColor: 'rgb(167,215,113)',
            borderColor: 'rgb(167,215,113)',
            borderWidth: 1 //경계선 굵기
        },{
            type: 'line', // 차트의 형태
            label: '2000',
            yAxisID: 'y-line2000_2',
            fill: false,
            data: tradCnt2000,
            backgroundColor: 'rgb(255,195,0)',
            borderColor: 'rgb(255,195,0)',
            borderWidth: 1 //경계선 굵기
        },{
            type: 'line', // 차트의 형태
            label: '2010',
            yAxisID: 'y-line2010_2',
            fill: false,
            data: tradCnt2010,
            backgroundColor: 'rgb(190,79,176)',
            borderColor: 'rgb(190,79,176)',
            borderWidth: 1 //경계선 굵기
        },{ //데이터
            type: 'line', // 차트의 형태
            label: '2020', //차트 제목
            yAxisID: 'y-line2020_2',
            fill: false, // line 형태일 때, 선 안쪽을 채우는지 안채우는지
            data: tradCnt2020,
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            borderWidth: 1 //경계선 굵기
        }
    ]
  };

  const config = {
    data: data,
    options: {
        scales:{
            'y-line2020':{
                position: 'left',
                display: false,
                ticks:{
                    display: false
                },
                suggestedMin: 0,
                suggestedMax: 300000,
            },
            'y-line1970':{
                position: 'left',
                suggestedMin: 0,
                suggestedMax: 300000,
                grid:{
                    display: true
                },
                ticks:{
                    color: 'rgb(0,0,0)'
                },
                title: {
                    display: true,
                    text: '평균매매가'
                }
            },
            'y-line1980':{
                position: 'left',
                display: false,
                ticks:{
                    display: false
                },
                suggestedMin: 0,
                suggestedMax: 300000
            },
            'y-line1990':{
                position: 'left',
                display: false,
                ticks:{
                    display: false
                },
                suggestedMin: 0,
                suggestedMax: 300000
            },
            'y-line2000':{
                position: 'left',
                display: false,
                ticks:{
                    display: false
                },
                suggestedMin: 0,
                suggestedMax: 300000
            },
            'y-line2010':{
                position: 'left',
                display: false,
                ticks:{
                    display: false
                },
                suggestedMin: 0,
                suggestedMax: 300000
            }
        }
    }
  };

  const config2 = {
    data: data2,
    options: {
        scales:{
            'y-line2020_2':{
                position: 'left',
                display: false,
                ticks:{
                    display: false
                },
                suggestedMin: 0,
                suggestedMax: 10000,
            },
            'y-line1970_2':{
                position: 'left',
                suggestedMin: 0,
                suggestedMax: 10000,
                grid:{
                    display: true
                },
                ticks:{
                    color: 'rgb(0,0,0)'
                },
                title: {
                    display: true,
                    text: '거래건수'
                }
            },
            'y-line1980_2':{
                position: 'left',
                display: false,
                ticks:{
                    display: false
                },
                suggestedMin: 0,
                suggestedMax: 10000
            },
            'y-line1990_2':{
                position: 'left',
                display: false,
                ticks:{
                    display: false
                },
                suggestedMin: 0,
                suggestedMax: 10000
            },
            'y-line2000_2':{
                position: 'left',
                display: false,
                ticks:{
                    display: false
                },
                suggestedMin: 0,
                suggestedMax: 10000
            },
            'y-line2010_2':{
                position: 'left',
                display: false,
                ticks:{
                    display: false
                },
                suggestedMin: 0,
                suggestedMax: 10000
            }
        }
    }
  };
</script>
<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );

  const myChart2 = new Chart(
    document.getElementById('myChart2'),
    config2
  );
</script>
</html>