<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <!--    <a th:text="${year}"></a>-->
    <div>
        <div>
            <a>[기간설정]&nbsp</a>
            <a href="/stat_trade/theme03/11/14">서울&nbsp</a>
            <b>/&nbsp</b>
            <a href="/stat_trade/theme03/41/14">경기&nbsp</a>
            <b>/&nbsp</b>
            <a href="/stat_trade/theme03/28/14">인천&nbsp</a>
        </div>
        <p>
            <h4 align="center" th:text="${title}"></h4>
        </p>

        <p>
            <canvas id="myChart"></canvas>
        </p>
        <div>
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-jcQR8RwkXK2z2xvE"
                 data-ad-width   = "320"
                 data-ad-height  = "100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
        <p>
            <h6 align="center" th:text="${subtitle}"></h6>
        </p>
        <table class="table table-striped">
            <thead class="table-dark">
                <tr style="font-size:12px;" align="center">
                    <th>년월</th>
                    <th>구분</th>
                    <th>금액</th>
                    <th>단위</th>
                </tr>
            </thead>
            <tbody>
                <tr style="font-size:12px;" th:each="list : ${list}">
                    <td align="center" th:text="${list.date}"></td>
                    <td align="center" th:text="${list.itemName1}"></td>
                    <td align="right" th:text="${list.dataValue}"></td>
                    <td align="center" th:text="${list.unitName}"></td>
                </tr>
            </tbody>
        </table>
        <div>
            <h7>※ 대출관련 데이터출처: 한국은행 경제통계시스템 (ecos.bok.or.kr)</h7>
        </div>
<!--        <p>-->
<!--            <canvas id="myChart2"></canvas>-->
<!--        </p>-->
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type = "text/javascript" th:inline="javascript">
  const labels =  /*[[ ${dates.toArray()} ]]*/;
  const avgprc =  /*[[ ${avgprc.toArray()} ]]*/;
  const etcDebts =  /*[[ ${etcDebts.toArray()} ]]*/;
  const houseDebts =  /*[[ ${houseDebts.toArray()} ]]*/;

  const data = {
    labels: labels,
    datasets: [{
      type: 'line',
      label: '평균매매가',
      yAxisID: 'y-line01',
      backgroundColor: 'rgb(54, 162, 235)',
      borderColor: 'rgb(54, 162, 235)',
      pointRadius:1,
      data: avgprc
      },{
      type: 'line',
      label: '주담대 대출',
      yAxisID: 'y-line02',
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      pointRadius:1,
      data: houseDebts
      },{
      type: 'line',
      label: '기타 대출',
      yAxisID: 'y-line03',
      backgroundColor: 'rgb(95,67,175)',
      borderColor: 'rgb(95,67,175)',
      pointRadius:1,
      data: etcDebts
      }
    ]
  };

  const config = {
    data: data,
    options: {
        scales:{
            'y-line01':{
                position: 'left',
                suggestedMin: 0,
<!--                suggestedMax: 300000,-->
                grid:{
                    display: true
                },
                ticks:{
                    color: 'rgb(54, 162, 235)'
                },
                title: {
                    display: true,
                    text: '평균매매가 (단위: 만)'
                }
            },
            'y-line02':{
                position: 'right',
                display: true,
                grid:{
                    display: false
                },
                title: {
                    display: true,
                    text: '주담대, 기타대출 (단위: 조)'
                },
                suggestedMin: 0,
                suggestedMax: 300
            },
            'y-line03':{
                position: 'right',
                display: true,
                grid:{
                    display: false
                },
                ticks:{
                    display: false
                },
                suggestedMin: 0,
                suggestedMax: 300
            }
        }
    }
  };
</script>
<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>
</html>