<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <!--    <a th:text="${year}"></a>-->
    <div>
        <div>
            <a>[기간설정]&nbsp</a>
            <a href="/stat_trade/theme02/1">1년&nbsp</a>
            <b>/&nbsp</b>
            <a href="/stat_trade/theme02/3">3년&nbsp</a>
            <b>/&nbsp</b>
            <a href="/stat_trade/theme02/5">5년&nbsp</a>
            <b>/&nbsp</b>
            <a href="/stat_trade/theme02/10">10년&nbsp</a>
            <b>/&nbsp</b>
            <a href="/stat_trade/theme02/20">전체&nbsp</a>
        </div>
        <p>
            <h5 align="center" th:text="${title}"></h5>
        </p>
        <p>
            <canvas id="myChart"></canvas>
        </p>
        <div>
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-jcQR8RwkXK2z2xvE"
                 data-ad-width   = "320"
                 data-ad-height  = "100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
        <p>
            <canvas id="myChart2"></canvas>
        </p>
    </div>

    <div>
        <table class="table table-striped">
            <thead class="table-dark">
            <tr style="font-size:12px;" align="center">
                <th>년-월</th>
                <th>강남3구</th>
                <th>마용성</th>
                <th>노도강</th>
                <th>금관구</th>
            </tr>
            </thead>
            <tbody>
            <tr style="font-size:12px;" th:each="list : ${list}">
                <td align="center" th:text="${list.date}"></td>
                <td align="right" th:text="${#numbers.formatInteger(list.item1,1,'COMMA')}"></td>
                <td align="right" th:text="${#numbers.formatInteger(list.item2,1,'COMMA')}"></td>
                <td align="right" th:text="${#numbers.formatInteger(list.item3,1,'COMMA')}"></td>
                <td align="right" th:text="${#numbers.formatInteger(list.item4,1,'COMMA')}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type = "text/javascript" th:inline="javascript">
  const labels =  /*[[ ${dates.toArray()} ]]*/;
  const avgPrices002 =  /*[[ ${avgPrices002.toArray()} ]]*/;
  const avgPrices003 =  /*[[ ${avgPrices003.toArray()} ]]*/;
  const avgPrices004 =  /*[[ ${avgPrices004.toArray()} ]]*/;
  const avgPrices005 =  /*[[ ${avgPrices005.toArray()} ]]*/;

  const tradcnt002 =  /*[[ ${tradcnt002.toArray()} ]]*/;
  const tradcnt003 =  /*[[ ${tradcnt003.toArray()} ]]*/;
  const tradcnt004 =  /*[[ ${tradcnt004.toArray()} ]]*/;
  const tradcnt005 =  /*[[ ${tradcnt005.toArray()} ]]*/;

  const newHighests002 =  /*[[ ${newHighests002.toArray()} ]]*/;
  const newHighests003 =  /*[[ ${newHighests003.toArray()} ]]*/;
  const newHighests004 =  /*[[ ${newHighests004.toArray()} ]]*/;
  const newHighests005 =  /*[[ ${newHighests005.toArray()} ]]*/;

  const data = {
    labels: labels,
    datasets: [{
      type: 'line',
      label: '강남3구',
      yAxisID: 'y-line002',
      backgroundColor: 'rgb(54, 162, 235)',
      borderColor: 'rgb(54, 162, 235)',
      pointRadius:1,
      data: avgPrices002
      },{
      type: 'line',
      label: '마용성',
      yAxisID: 'y-line003',
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      pointRadius:1,
      data: avgPrices003
      },{
      type: 'line',
      label: '노도강',
      yAxisID: 'y-line004',
      backgroundColor: 'rgb(95,67,175)',
      borderColor: 'rgb(95,67,175)',
      pointRadius:1,
      data: avgPrices004
      },{
      type: 'line',
      label: '금관구',
      yAxisID: 'y-line005',
      backgroundColor: 'rgb(167,215,113)',
      borderColor: 'rgb(167,215,113)',
      pointRadius:1,
      data: avgPrices005
      }
    ]
  };

  const data2 = {
    labels: labels,
    datasets: [{
      type: 'line',
      label: '강남3구',
      yAxisID: 'y-line002_2',
      backgroundColor: 'rgb(54, 162, 235)',
      borderColor: 'rgb(54, 162, 235)',
      pointRadius:1,
      data: newHighests002
      },{
      type: 'line',
      label: '마용성',
      yAxisID: 'y-line003_2',
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      pointRadius:1,
      data: newHighests003
      },{
      type: 'line',
      label: '노도강',
      yAxisID: 'y-line004_2',
      backgroundColor: 'rgb(95,67,175)',
      borderColor: 'rgb(95,67,175)',
      pointRadius:1,
      data: newHighests004
      },{
      type: 'line',
      label: '금관구',
      yAxisID: 'y-line005_2',
      backgroundColor: 'rgb(167,215,113)',
      borderColor: 'rgb(167,215,113)',
      pointRadius:1,
      data: newHighests005
      }
    ]
  };

  const config = {
    data: data,
    options: {
        scales:{
            'y-line002':{
                position: 'left',
                suggestedMin: 0,
                suggestedMax: 300000,
                grid:{
                    display: true
                },
                ticks:{
                    color: 'rgb(0,0,0)'
                },
                title: {
                    display: true,
                    text: '평균매매가'
                }
            },
            'y-line003':{
                position: 'left',
                display: false,
                ticks:{
                    display: false
                },
                suggestedMin: 0,
                suggestedMax: 300000,
            },
            'y-line004':{
                position: 'left',
                display: false,
                ticks:{
                    display: false
                },
                suggestedMin: 0,
                suggestedMax: 300000,
            },
            'y-line005':{
                position: 'left',
                display: false,
                ticks:{
                    display: false
                },
                suggestedMin: 0,
                suggestedMax: 300000,
            }

        }
    }
  };
  const config2 = {
    data: data2,
    options: {
        scales:{
            'y-line002_2':{
                position: 'left',
                suggestedMin: 0,
                suggestedMax: 100,
                grid:{
                    display: true
                },
                ticks:{
                    color: 'rgb(0,0,0)'
                },
                title: {
                    display: true,
                    text: '신고가율'
                }
            },
            'y-line003_2':{
                position: 'left',
                display: false,
                ticks:{
                    display: false
                },
                suggestedMin: 0,
                suggestedMax: 100,
            },
            'y-line004_2':{
                position: 'left',
                display: false,
                ticks:{
                    display: false
                },
                suggestedMin: 0,
                suggestedMax: 100,
            },
            'y-line005_2':{
                position: 'left',
                display: false,
                ticks:{
                    display: false
                },
                suggestedMin: 0,
                suggestedMax: 100,
            }

        }
    }
  };
</script>
<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );

  const myChart2 = new Chart(
    document.getElementById('myChart2'),
    config2
  );
</script>
</html>