<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <div>
            <a th:href="@{/stat_trade/useareaType/11680/UA07/{term} (term=${term})}">강남구&nbsp</a>
            <a th:href="@{/stat_trade/useareaType/11740/UA07/{term} (term=${term})}">&nbsp강동구&nbsp</a>
            <a th:href="@{/stat_trade/useareaType/11305/UA07/{term} (term=${term})}">&nbsp강북구&nbsp</a>
            <a th:href="@{/stat_trade/useareaType/11500/UA07/{term} (term=${term})}">&nbsp강서구&nbsp</a>
            <a th:href="@{/stat_trade/useareaType/11620/UA07/{term} (term=${term})}">&nbsp관악구&nbsp</a>
            <a th:href="@{/stat_trade/useareaType/11215/UA07/{term} (term=${term})}">&nbsp광진구&nbsp</a>
            <a th:href="@{/stat_trade/useareaType/11530/UA07/{term} (term=${term})}">&nbsp구로구</a>
        </div>
        <div>
            <a th:href="@{/stat_trade/useareaType/11545/UA07/{term} (term=${term})}">금천구&nbsp</a>
            <a th:href="@{/stat_trade/useareaType/11350/UA07/{term} (term=${term})}">&nbsp노원구&nbsp</a>
            <a th:href="@{/stat_trade/useareaType/11320/UA07/{term} (term=${term})}">&nbsp도봉구&nbsp</a>
            <a th:href="@{/stat_trade/useareaType/11230/UA07/{term} (term=${term})}">&nbsp동대문&nbsp</a>
            <a th:href="@{/stat_trade/useareaType/11590/UA07/{term} (term=${term})}">&nbsp동작구&nbsp</a>
            <a th:href="@{/stat_trade/useareaType/11440/UA07/{term} (term=${term})}">&nbsp마포구&nbsp</a>
            <a th:href="@{/stat_trade/useareaType/11410/UA07/{term} (term=${term})}">&nbsp서대문</a>
        </div>
        <div>
            <a th:href="@{/stat_trade/useareaType/11650/UA07/{term} (term=${term})}">서초구&nbsp</a>
            <a th:href="@{/stat_trade/useareaType/11200/UA07/{term} (term=${term})}">&nbsp성동구&nbsp</a>
            <a th:href="@{/stat_trade/useareaType/11290/UA07/{term} (term=${term})}">&nbsp성북구&nbsp</a>
            <a th:href="@{/stat_trade/useareaType/11710/UA07/{term} (term=${term})}">&nbsp송파구&nbsp</a>
            <a th:href="@{/stat_trade/useareaType/11470/UA07/{term} (term=${term})}">&nbsp양천구&nbsp</a>
            <a th:href="@{/stat_trade/useareaType/11560/UA07/{term} (term=${term})}">&nbsp영등포&nbsp</a>
            <a th:href="@{/stat_trade/useareaType/11170/UA07/{term} (term=${term})}">&nbsp용산구</a>
        </div>
        <div>
            <a th:href="@{/stat_trade/useareaType/11380/UA07/{term} (term=${term})}">은평구&nbsp</a>
            <a th:href="@{/stat_trade/useareaType/11110/UA07/{term} (term=${term})}">&nbsp종로구&nbsp</a>
            <a th:href="@{/stat_trade/useareaType/11260/UA07/{term} (term=${term})}">&nbsp중랑구&nbsp</a>
            <a th:href="@{/stat_trade/useareaType/11140/UA07/{term} (term=${term})}">&nbsp중구</a>
        </div>
        <p>
            <h6 align="center" th:text="|[ ${title} ${termStr} ]|"></h6>
<!--            <h5 align="center" th:text="${title}"></h5>-->
        </p>
        <div>
            <canvas id="myChart"></canvas>
        </div>
        <div>
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-jcQR8RwkXK2z2xvE"
                 data-ad-width   = "320"
                 data-ad-height  = "100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
        <a>[기간]&nbsp</a>
        <a th:href="@{/stat_trade/useareaType/{sigungucode}/UA07/0 (sigungucode=${sigungucode})}">올해</a>
        <b>&nbsp/&nbsp</b>
        <a th:href="@{/stat_trade/useareaType/{sigungucode}/UA07/1 (sigungucode=${sigungucode})}">2년</a>
        <b>&nbsp/&nbsp</b>
        <a th:href="@{/stat_trade/useareaType/{sigungucode}/UA07/4 (sigungucode=${sigungucode})}">5년</a>
        <b>&nbsp/&nbsp</b>
        <a th:href="@{/stat_trade/useareaType/{sigungucode}/UA07/6 (sigungucode=${sigungucode})}">7년</a>
        <b>&nbsp/&nbsp</b>
        <a th:href="@{/stat_trade/useareaType/{sigungucode}/UA07/9 (sigungucode=${sigungucode})}">10년</a>
        <b>&nbsp/&nbsp</b>
        <a th:href="@{/stat_trade/useareaType/{sigungucode}/UA07/20 (sigungucode=${sigungucode})}">전체</a>
        <table class="table table-striped">
            <thead class="table-dark">
                <tr style="font-size:12px;" align="center">
                    <th>년-월</th>
                    <th>최저<br/>매매가</th>
                    <th>평균<br/>매매가</th>
                    <th>최고<br/>매매가</th>
                    <th>거래건수</th>
                    <th>신고가율</th>
                </tr>
            </thead>
            <tbody>
                <tr style="font-size:12px;" th:each="list : ${list}">
                    <td align="center" th:text="${list.dealYYMM}"></td>
                    <td align="right" th:text="${#numbers.formatInteger(list.minPrice,1,'COMMA')}"></td>
                    <td align="right" style="font-weight: bolder" th:text="${#numbers.formatInteger(list.avgPrice,1,'COMMA')}"></td>
                    <td align="right" th:text="${#numbers.formatInteger(list.maxPrice,1,'COMMA')}"></td>
                    <td align="right" th:text="${#numbers.formatInteger(list.cnt,1,'COMMA')}"></td>
                    <td align="right" th:text="${#numbers.formatDecimal(list.highestRate,1,1,'POINT')}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type = "text/javascript" th:inline="javascript">
  const labels =  /*[[ ${dates.toArray()} ]]*/;
  const avgPrices =  /*[[ ${avgprc.toArray()} ]]*/;
  const tradcnt =  /*[[ ${tradcnt.toArray()} ]]*/;
  const interestRates =  /*[[ ${interestRates.toArray()} ]]*/;

  const data = {
    labels: labels,
    datasets: [{
      type: 'line',
      label: '평균 매매가',
      yAxisID: 'y-line',
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      pointRadius:1,
      data: avgPrices
      },{
        type: 'line',
        label: '기준금리',
        yAxisID: 'y-line2',
        backgroundColor: 'rgb(64, 64, 64)',
        borderColor: 'rgb(64, 64, 64)',
        pointRadius:1,
        data: interestRates
      },{
        type: 'bar',
        label: '거래건수',
        yAxisID: 'y-bar',
        backgroundColor: 'rgb(54, 162, 235)',
        borderColor: 'rgb(54, 162, 235)',
        data: tradcnt
      }
    ]
  };

  const config = {
    data: data,
    options: {
        scales:{
            'y-line':{
                position: 'left',
                suggestedMin: 0,
                ticks:{
				    color: 'rgb(255, 99, 132)'
				},
                title: {
                    display: true,
                    text: '평균매매가'
                }
            },
            'y-line2':{
                position: 'left',
                suggestedMin: 0,
                suggestedMax: 7,
                ticks:{
				    color: 'rgb(64, 64, 64)'
				},
				grid:{
                    display: false
                },
                title: {
                    display: true,
                    text: '한국은행 기준금리'
                }
            },
            'y-bar':{
                position: 'right',
                suggestedMin: 0,
                grid:{
                    display: false
                },
                ticks:{
				    color: 'rgb(54, 162, 235)'
				},
                title: {
                    display: true,
                    text: '거래건수'
                }
            }
        }
    }
  };
</script>
<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>

</html>