<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <div>
            <form th:object="${aptSearch}" class="row g-2">
                <div class="col">
                    <input type="text" th:field="*{aptName}" class="form-control" placeholder="아파트명"/>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary">검색</button>
                </div>
            </form>
            <label style="font-size:10px;">* 서울,경기 아파트만 조회됩니다.</label>
            <label style="font-size:11px;">* 지역명없이 아파트명으로 검색 ( ex 반포 래미안퍼스티지(x) 래미안퍼스티지(o) )</label>
        </div>
        <div>
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-jcQR8RwkXK2z2xvE"
                 data-ad-width   = "320"
                 data-ad-height  = "100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
        <label style="font-size:12px;">* 아파트명 동기화 작업중이라 매매내역이 조회되지 않는 아파트가 있을수 있습니다. </label>
        <table class="table table-striped">
            <thead>
            <tr class="table-dark" style="font-size:12px;"  align="center">
                <th>아파트명</th>
                <th>지역</th>
                <th>입주년도</th>
                <th>세대수</th>
                <th>세대당<br/>주차수</th>
                <th>국평초과<br/>비율(%)</th>
                <th>2021~<br/>매매내역</th>
<!--                <th>시공사</th>-->
<!--                <th>지하철역</th>-->
<!--                <th>지하철역 거리</th>-->
            </tr>
            </thead>
            <tbody>
            <tr style="font-size:12px;" th:each="apts : ${apts}">
                <td th:text="${apts.aptName}"></td>
                <td th:text="${#strings.concat(apts.as1, ' ', apts.as2, ' ', apts.as3)}"></td>
                <td align="center" th:text="${apts.useAplyYear}"></td>
<!--                <td th:text="${apts.as1}"></td>-->
<!--                <td th:text="${apts.as2}"></td>-->
<!--                <td th:text="${apts.as3}"></td>-->
                <td align="right" th:text="${#numbers.formatInteger(apts.daCnt,3,'COMMA')}"></td>
                <td align="right" th:text="${apts.parkRate}"></td>
                <td align="right" th:text="${apts.bigMpRate}"></td>
                <td><a th:href="@{https://www.earlmazip.co.kr/{add}(add=${apts.tradeUrl})}"><button>보기</button></a> </td>
<!--                <td align="center" th:href="@{${apts.tradeUrl}}">내역</td>-->
<!--                <td align="center" onclick="location.href='https://'" style="cursor:pointer">내역</td>-->
<!--                <td th:text="${apts.bComp}"></td>-->
<!--                <td th:text="${apts.subName}"></td>-->
<!--                <td th:text="${apts.subDist}"></td>-->
<!--                <td th:text="${apts.address?.zipcode}"></td>-->
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body> </html>