<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <div>
            <form th:object="${aptSearch}" class="row g-2">
                <div class="col">
                    <input type="text" th:field="*{aptName}" class="form-control" placeholder="아파트명"/>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary">검색</button>
                </div>
            </form>
            <label style="font-size:10px;">* 수도권 아파트만 조회됩니다.</label>
            <label style="font-size:11px;">* 지역명없이 아파트명으로 검색 ( ex 반포 래미안퍼스티지(x) 래미안퍼스티지(o) )</label>
        </div>
        <div>
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-jcQR8RwkXK2z2xvE"
                 data-ad-width   = "320"
                 data-ad-height  = "100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
        <table class="table table-striped">
            <thead>
            <tr class="table-dark" style="font-size:12px;"  align="center">
                <th>지역</br>아파트</th>
                <th>세대수<br/>주차수</br>국평초과</th>
                <th>시공사<br/>시행사</th>
            </tr>
            </thead>
            <tbody>
            <tr style="font-size:12px;" th:each="apts : ${apts}">
                <td align="left">
                    <a th:text="${#strings.concat(apts.as2, ' ', apts.as3)}"></a></br>
                    <a th:text="${apts.aptName}"></a></br>
                    <a th:text="|[ ${apts.useAplyYear} ]|"></a>
                </td>
                <td align="right">
                    <a th:text="|${#numbers.formatInteger(apts.daCnt,3,'COMMA')} 세대|"></a></br>
                    <a th:text="|${apts.parkRate} 대|"></a></br>
                    <a th:text="|${apts.bigMpRate} %|"></a>
                </td>
                <td align="left">
                    <a th:text="${apts.bComp}"></a></br>
                    <a th:text="${apts.aComp}"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body> </html>