<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <p>
            <h5 align="center" th:text="|[ ${title} ${termStr} ]|"></h5>
            <h6 align="center" th:text="|* ${uaStr} |"></h6>
        </p>
        <p>
        <div class="d-flex gap-4 justify-content-center">
            <div class="dropdown d-block position-static pt-0 mx-0 rounded-1 shadow overflow-hidden w-180px">
                <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    강북
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" th:href="@{/stat_trade/newHighestAmt?sigunguCode=11&uaType={uaType}&term={term} (term=${term}, uaType=${uaType})}">서울전체</a></li>
                    <li><a class="dropdown-item" th:href="@{/stat_trade/newHighestAmt?sigunguCode=11305&uaType={uaType}&term={term} (term=${term}, uaType=${uaType})}">강북구</a></li>
                    <li><a class="dropdown-item" th:href="@{/stat_trade/newHighestAmt?sigunguCode=11215&uaType={uaType}&term={term} (term=${term}, uaType=${uaType})}">광진구</a></li>
                    <li><a class="dropdown-item" th:href="@{/stat_trade/newHighestAmt?sigunguCode=11350&uaType={uaType}&term={term} (term=${term}, uaType=${uaType})}">노원구</a></li>
                    <li><a class="dropdown-item" th:href="@{/stat_trade/newHighestAmt?sigunguCode=11320&uaType={uaType}&term={term} (term=${term}, uaType=${uaType})}">도봉구</a></li>
                    <li><a class="dropdown-item" th:href="@{/stat_trade/newHighestAmt?sigunguCode=11230&uaType={uaType}&term={term} (term=${term}, uaType=${uaType})}">동대문</a></li>
                    <li><a class="dropdown-item" th:href="@{/stat_trade/newHighestAmt?sigunguCode=11440&uaType={uaType}&term={term} (term=${term}, uaType=${uaType})}">마포구</a></li>
                    <li><a class="dropdown-item" th:href="@{/stat_trade/newHighestAmt?sigunguCode=11410&uaType={uaType}&term={term} (term=${term}, uaType=${uaType})}">서대문</a></li>
                    <li><a class="dropdown-item" th:href="@{/stat_trade/newHighestAmt?sigunguCode=11200&uaType={uaType}&term={term} (term=${term}, uaType=${uaType})}">성동구</a></li>
                    <li><a class="dropdown-item" th:href="@{/stat_trade/newHighestAmt?sigunguCode=11290&uaType={uaType}&term={term} (term=${term}, uaType=${uaType})}">성북구</a></li>
                    <li><a class="dropdown-item" th:href="@{/stat_trade/newHighestAmt?sigunguCode=11470&uaType={uaType}&term={term} (term=${term}, uaType=${uaType})}">양천구</a></li>
                    <li><a class="dropdown-item" th:href="@{/stat_trade/newHighestAmt?sigunguCode=11170&uaType={uaType}&term={term} (term=${term}, uaType=${uaType})}">용산구</a></li>
                    <li><a class="dropdown-item" th:href="@{/stat_trade/newHighestAmt?sigunguCode=11380&uaType={uaType}&term={term} (term=${term}, uaType=${uaType})}">은평구</a></li>
                    <li><a class="dropdown-item" th:href="@{/stat_trade/newHighestAmt?sigunguCode=11110&uaType={uaType}&term={term} (term=${term}, uaType=${uaType})}">종로구</a></li>
                    <li><a class="dropdown-item" th:href="@{/stat_trade/newHighestAmt?sigunguCode=11260&uaType={uaType}&term={term} (term=${term}, uaType=${uaType})}">중랑구</a></li>
                    <li><a class="dropdown-item" th:href="@{/stat_trade/newHighestAmt?sigunguCode=11140&uaType={uaType}&term={term} (term=${term}, uaType=${uaType})}">중 구</a></li>
                </ul>
            </div>
            <div class="dropdown d-block position-static pt-0 mx-0 rounded-1 shadow overflow-hidden w-180px">
                <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    강남
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" th:href="@{/stat_trade/newHighestAmt?sigunguCode=11&uaType={uaType}&term={term} (term=${term}, uaType=${uaType})}">서울전체</a></li>
                    <li><a class="dropdown-item" th:href="@{/stat_trade/newHighestAmt?sigunguCode=11680&uaType={uaType}&term={term} (term=${term}, uaType=${uaType})}">강남구</a></li>
                    <li><a class="dropdown-item" th:href="@{/stat_trade/newHighestAmt?sigunguCode=11740&uaType={uaType}&term={term} (term=${term}, uaType=${uaType})}">강동구</a></li>
                    <li><a class="dropdown-item" th:href="@{/stat_trade/newHighestAmt?sigunguCode=11500&uaType={uaType}&term={term} (term=${term}, uaType=${uaType})}">강서구</a></li>
                    <li><a class="dropdown-item" th:href="@{/stat_trade/newHighestAmt?sigunguCode=11620&uaType={uaType}&term={term} (term=${term}, uaType=${uaType})}">관악구</a></li>
                    <li><a class="dropdown-item" th:href="@{/stat_trade/newHighestAmt?sigunguCode=11530&uaType={uaType}&term={term} (term=${term}, uaType=${uaType})}">구로구</a></li>
                    <li><a class="dropdown-item" th:href="@{/stat_trade/newHighestAmt?sigunguCode=11545&uaType={uaType}&term={term} (term=${term}, uaType=${uaType})}">금천구</a></li>
                    <li><a class="dropdown-item" th:href="@{/stat_trade/newHighestAmt?sigunguCode=11590&uaType={uaType}&term={term} (term=${term}, uaType=${uaType})}">동작구</a></li>
                    <li><a class="dropdown-item" th:href="@{/stat_trade/newHighestAmt?sigunguCode=11650&uaType={uaType}&term={term} (term=${term}, uaType=${uaType})}">서초구</a></li>
                    <li><a class="dropdown-item" th:href="@{/stat_trade/newHighestAmt?sigunguCode=11710&uaType={uaType}&term={term} (term=${term}, uaType=${uaType})}">송파구</a></li>
                    <li><a class="dropdown-item" th:href="@{/stat_trade/newHighestAmt?sigunguCode=11470&uaType={uaType}&term={term} (term=${term}, uaType=${uaType})}">양천구</a></li>
                    <li><a class="dropdown-item" th:href="@{/stat_trade/newHighestAmt?sigunguCode=11560&uaType={uaType}&term={term} (term=${term}, uaType=${uaType})}">영등포</a></li>
                </ul>
            </div>
            <div class="dropdown d-block position-static pt-0 mx-0 rounded-1 shadow overflow-hidden w-180px">
                <button type="button" class="btn btn-danger btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    평형
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" th:href="@{/stat_trade/newHighestAmt?sigunguCode={sigunguCode}&uaType=UA01&term={term} (sigunguCode=${sigunguCode}, term=${term})}">전체</a></li>
                    <li><a class="dropdown-item" th:href="@{/stat_trade/newHighestAmt?sigunguCode={sigunguCode}&uaType=UA02&term={term} (sigunguCode=${sigunguCode}, term=${term})}">소형</a></li>
                    <li><a class="dropdown-item" th:href="@{/stat_trade/newHighestAmt?sigunguCode={sigunguCode}&uaType=UA08&term={term} (sigunguCode=${sigunguCode}, term=${term})}">전용59</a></li>
                    <li><a class="dropdown-item" th:href="@{/stat_trade/newHighestAmt?sigunguCode={sigunguCode}&uaType=UA03&term={term} (sigunguCode=${sigunguCode}, term=${term})}">중소형</a></li>
                    <li><a class="dropdown-item" th:href="@{/stat_trade/newHighestAmt?sigunguCode={sigunguCode}&uaType=UA07&term={term} (sigunguCode=${sigunguCode}, term=${term})}">국평</a></li>
                    <li><a class="dropdown-item" th:href="@{/stat_trade/newHighestAmt?sigunguCode={sigunguCode}&uaType=UA04&term={term} (sigunguCode=${sigunguCode}, term=${term})}">중형</a></li>
                    <li><a class="dropdown-item" th:href="@{/stat_trade/newHighestAmt?sigunguCode={sigunguCode}&uaType=UA05&term={term} (sigunguCode=${sigunguCode}, term=${term})}">중대형</a></li>
                    <li><a class="dropdown-item" th:href="@{/stat_trade/newHighestAmt?sigunguCode={sigunguCode}&uaType=UA06&term={term} (sigunguCode=${sigunguCode}, term=${term})}">대형</a></li>
                </ul>
            </div>

            <div class="dropdown d-block position-static pt-0 mx-0 rounded-1 shadow overflow-hidden w-180px">
                <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    기간
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" th:href="@{/stat_trade/newHighestAmt?sigunguCode={sigunguCode}&uaType={uaType}&term=0 (sigunguCode=${sigunguCode}, uaType=${uaType})}">올해</a></li>
                    <li><a class="dropdown-item" th:href="@{/stat_trade/newHighestAmt?sigunguCode={sigunguCode}&uaType={uaType}&term=5 (sigunguCode=${sigunguCode}, uaType=${uaType})}">5년</a></li>
                    <li><a class="dropdown-item" th:href="@{/stat_trade/newHighestAmt?sigunguCode={sigunguCode}&uaType={uaType}&term=10 (sigunguCode=${sigunguCode}, uaType=${uaType})}">10년</a></li>
                    <li><a class="dropdown-item" th:href="@{/stat_trade/newHighestAmt?sigunguCode={sigunguCode}&uaType={uaType}&term=15 (sigunguCode=${sigunguCode}, uaType=${uaType})}">15년</a></li>
                </ul>
            </div>
        </div>
        </p>
        <p>
            <canvas id="myChart"></canvas>
        </p>
        <div>
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-jcQR8RwkXK2z2xvE"
                 data-ad-width   = "320"
                 data-ad-height  = "100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
        <p>
            <canvas id="myChart2"></canvas>
        </p>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type = "text/javascript" th:inline="javascript">
  const labels =  /*[[ ${dates.toArray()} ]]*/;
  const newHighests =  /*[[ ${newHighests.toArray()} ]]*/;
  const avgPrices =  /*[[ ${avgPrices.toArray()} ]]*/;
  const tradcnt =  /*[[ ${tradcnt.toArray()} ]]*/;

  const data = {
    labels: labels,
    datasets: [{
      type: 'line',
      label: '신고가율',
      yAxisID: 'y-line',
      backgroundColor: 'rgb(54, 162, 235)',
      borderColor: 'rgb(54, 162, 235)',
      pointRadius:1,
      data: newHighests
      },{
        type: 'bar',
        label: '거래량',
        yAxisID: 'y-bar',
        backgroundColor: 'rgb(255, 99, 132)',
        borderColor: 'rgb(255, 99, 132)',
        data: tradcnt
      }
    ]
  };

  const data2 = {
    labels: labels,
    datasets: [{
      type: 'line',
      label: '평균매매가',
      yAxisID: 'y-line2',
      backgroundColor: 'rgb(255, 205, 86)',
      borderColor: 'rgb(255, 205, 86)',
      pointRadius:1,
      data: avgPrices
      },{
        type: 'bar',
        label: '신고가율',
        yAxisID: 'y-bar2',
        backgroundColor: 'rgb(54, 162, 235)',
        borderColor: 'rgb(54, 162, 235)',
        data: newHighests
      }
    ]
  };

  const config = {
    data: data,
    options: {
        scales:{
            'y-line':{
                position: 'left',
                suggestedMin: 0,
                ticks:{
				    color: 'rgb(54, 162, 235)'
				},
                title: {
                    display: true,
                    text: '신고가율'
                }
            },
            'y-bar':{
                position: 'right',
                suggestedMin: 0,
                suggestedMax: 100,
                grid:{
                    display: false
                },
                ticks:{
				    color: 'rgb(255, 99, 132)'
				},
                title: {
                    display: true,
                    text: '거래량'
                }
            }
        }
    }
  };

  const config2 = {
    data: data2,
    options: {
        scales:{
            'y-line2':{
                position: 'left',
                suggestedMin: 0,
                ticks:{
				    color: 'rgb(255, 205, 86)'
				},
                title: {
                    display: true,
                    text: '평균매매가'
                }
            },
            'y-bar2':{
                position: 'right',
                suggestedMin: 0,
                suggestedMax: 100,
                grid:{
                    display: false
                },
                ticks:{
				    color: 'rgb(54, 162, 235)'
				},
                title: {
                    display: true,
                    text: '신고가율'
                }
            }
        }
    }
  };
</script>
<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );

  const myChart2 = new Chart(
    document.getElementById('myChart2'),
    config2
  );
</script>
</html>