<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <!--    <a th:text="${year}"></a>-->
    <div>
        <p>
            <div class="d-flex gap-2 justify-content-center">
                <div class="dropdown d-block position-static pt-0 mx-0 rounded-1 shadow overflow-hidden w-180px">
                    <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        년도
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/stat_etc/distribution?areaCode={areaCode}&dealYear=2023 (areaCode=${areaCode})}">2023</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_etc/distribution?areaCode={areaCode}&dealYear=2022 (areaCode=${areaCode})}">2022</a></li>
                    </ul>
                </div>
                <div class="dropdown d-block position-static pt-0 mx-0 rounded-1 shadow overflow-hidden w-180px">
                    <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        지역선택
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/stat_etc/distribution?areaCode=11&dealYear={dealYear} (dealYear=${dealYear})}">서울</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_etc/distribution?areaCode=41&dealYear={dealYear} (dealYear=${dealYear})}">경기</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_etc/distribution?areaCode=28&dealYear={dealYear} (dealYear=${dealYear})}">인천</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_etc/distribution?areaCode=26&dealYear={dealYear} (dealYear=${dealYear})}">부산</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_etc/distribution?areaCode=27&dealYear={dealYear} (dealYear=${dealYear})}">대구</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_etc/distribution?areaCode=29&dealYear={dealYear} (dealYear=${dealYear})}">광주</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_etc/distribution?areaCode=30&dealYear={dealYear} (dealYear=${dealYear})}">대전</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_etc/distribution?areaCode=31&dealYear={dealYear} (dealYear=${dealYear})}">울산</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_etc/distribution?areaCode=47&dealYear={dealYear} (dealYear=${dealYear})}">경북</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_etc/distribution?areaCode=48&dealYear={dealYear} (dealYear=${dealYear})}">경남</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_etc/distribution?areaCode=42&dealYear={dealYear} (dealYear=${dealYear})}">강원</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_etc/distribution?areaCode=43&dealYear={dealYear} (dealYear=${dealYear})}">충북</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_etc/distribution?areaCode=44&dealYear={dealYear} (dealYear=${dealYear})}">충남</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_etc/distribution?areaCode=45&dealYear={dealYear} (dealYear=${dealYear})}">전북</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_etc/distribution?areaCode=46&dealYear={dealYear} (dealYear=${dealYear})}">전남</a></li>
                        <li><a class="dropdown-item" th:href="@{/stat_etc/distribution?areaCode=50&dealYear={dealYear} (dealYear=${dealYear})}">제주</a></li>
                    </ul>
                </div>
            </div>
        </p>
        <p>
            <h4 align="center" th:text="|${dealYear} ${title}|"></h4>
        </p>
        <div>
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-jcQR8RwkXK2z2xvE"
                 data-ad-width   = "320"
                 data-ad-height  = "100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
        <table class="table table-striped">
            <thead class="table-dark">
                <tr style="font-size:12px;" align="center">
                    <th>지역</th>
                    <th>거래 건수</th>
                    <th>내역 보기</th>
                </tr>
            </thead>
            <tbody>
                <tr style="font-size:14px;" th:each="list : ${list}">
                    <td align="center" th:text="${list.name}"></td>
                    <td align="right" th:text="${#numbers.formatInteger(list.cnt,1,'COMMA')}"></td>
                    <td align="right">
                        <div>
                          <a th:href="@{/tradelist/distribution?sigunguCode={code}&dealYear={dealYear} (code=${list.code}, dealYear=${list.dealYear})}">조회</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>