<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <h5 align="center" th:text="|[ ${title} ${termStr} ]|"></h5>
        <h6 align="center">* 월별 월세비율</h6>
        <p>
        <div class="d-flex gap-2 justify-content-center">
            <div class="dropdown d-block position-static pt-0 mx-0 rounded-1 shadow overflow-hidden w-180px">
                <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    구 선택
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=41&term={term} (term=${term})}">경기 전체</a></li>
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=41131&term={term} (term=${term})}">성남 수정구</a></li>
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=41133&term={term} (term=${term})}">성남 중원구</a></li>
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=41135&term={term} (term=${term})}">성남 분당구</a></li>
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=41281&term={term} (term=${term})}">고양 덕양구</a></li>
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=41285&term={term} (term=${term})}">고양 일산동구</a></li>
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=41287&term={term} (term=${term})}">고양 일산서구</a></li>
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=41461&term={term} (term=${term})}">용인 처인구</a></li>
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=41463&term={term} (term=${term})}">용인 기흥구</a></li>
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=41465&term={term} (term=${term})}">용인 수지구</a></li>
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=41111&term={term} (term=${term})}">수원 장안구</a></li>
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=41113&term={term} (term=${term})}">수원 권선구</a></li>
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=41115&term={term} (term=${term})}">수원 팔달구</a></li>
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=41117&term={term} (term=${term})}">수원 영통구</a></li>
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=41271&term={term} (term=${term})}">안산 상록구</a></li>
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=41273&term={term} (term=${term})}">안산 단원구</a></li>
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=41171&term={term} (term=${term})}">안양 만안구</a></li>
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=41173&term={term} (term=${term})}">안양 동안구</a></li>
                </ul>
            </div>
            <div class="dropdown d-block position-static pt-0 mx-0 rounded-1 shadow overflow-hidden w-180px">
                <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    시 선택
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=41&term={term} (term=${term})}">경기 전체</a></li>
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=41820&term={term} (term=${term})}">가평군</a></li>
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=41290&term={term} (term=${term})}">과천시</a></li>
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=41210&term={term} (term=${term})}">광명시</a></li>
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=41610&term={term} (term=${term})}">광주시</a></li>
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=41310&term={term} (term=${term})}">구리시</a></li>
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=41410&term={term} (term=${term})}">군포시</a></li>
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=41570&term={term} (term=${term})}">김포시</a></li>

                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=41360&term={term} (term=${term})}">남양주</a></li>
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=41250&term={term} (term=${term})}">동두천</a></li>
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=41190&term={term} (term=${term})}">부천시</a></li>
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=41390&term={term} (term=${term})}">시흥시</a></li>
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=41550&term={term} (term=${term})}">안성시</a></li>
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=41630&term={term} (term=${term})}">양주시</a></li>
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=41830&term={term} (term=${term})}">양평군</a></li>

                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=41670&term={term} (term=${term})}">여주시</a></li>
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=41800&term={term} (term=${term})}">연천군</a></li>
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=41370&term={term} (term=${term})}">오산시</a></li>
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=41430&term={term} (term=${term})}">의왕시</a></li>
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=41150&term={term} (term=${term})}">의정부</a></li>
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=41500&term={term} (term=${term})}">이천시</a></li>
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=41480&term={term} (term=${term})}">파주시</a></li>

                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=41220&term={term} (term=${term})}">평택시</a></li>
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=41650&term={term} (term=${term})}">포천시</a></li>
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=41450&term={term} (term=${term})}">하남시</a></li>
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=41590&term={term} (term=${term})}">화성시</a></li>
                </ul>
            </div>

            <div class="dropdown d-block position-static pt-0 mx-0 rounded-1 shadow overflow-hidden w-180px">
                <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    기간
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode={sigunguCode}&term=0 (sigunguCode=${sigunguCode})}">올해</a></li>
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode={sigunguCode}&term=5 (sigunguCode=${sigunguCode})}">5년</a></li>
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode={sigunguCode}&term=10 (sigunguCode=${sigunguCode})}">10년</a></li>
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode={sigunguCode}&term=15 (sigunguCode=${sigunguCode})}">15년</a></li>
                </ul>
            </div>
        </div>
        </p>

        <div>
            <canvas id="myChart"></canvas>
        </div>

        <div>
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-jcQR8RwkXK2z2xvE"
                 data-ad-width   = "320"
                 data-ad-height  = "100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>

        <table class="table table-striped">
            <thead class="table-dark">
                <tr style="font-size:12px;" align="center">
<!--                    <th>지역명</th>-->
                    <th>년-월</th>
                    <th>월세 건수</th>
                    <th>전세 건수</th>
                    <th>전체 건수</th>
                    <th>월세 비율</th>
                </tr>
            </thead>
            <tbody>
                <tr style="font-size:12px;" th:each="list : ${list}">
<!--                    <td align="left" th:text="${list.gubnName}"></td>-->
                    <td align="center" th:text="${list.dealYYMM}"></td>
                    <td align="right" th:text="${#numbers.formatInteger(list.shortCnt,1,'COMMA')}"></td>
                    <td align="right" th:text="${#numbers.formatInteger(list.longCnt,1,'COMMA')}"></td>
                    <td align="right" th:text="${#numbers.formatInteger(list.sum,1,'COMMA')}"></td>
                    <td align="right" style="font-weight: bolder" th:text="${#numbers.formatDecimal(list.rate,1,1,'POINT')}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type = "text/javascript" th:inline="javascript">
  const labels =  /*[[ ${dates.toArray()} ]]*/;
  const rates =  /*[[ ${rates.toArray()} ]]*/;

  const data = {
    labels: labels,
    datasets: [{
      label: '월세 비율',
      data: rates,
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      pointRadius:1
      }
    ]
  };

  const config = {
    type: 'line',
    data: data,
    options: {
        scales:{
            y: {
                suggestedMin: 0
            }
        }
    }
  };
</script>
<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>
</html>