<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <!--    <a th:text="${year}"></a>-->
    <div>
        <div>
            <a href="/lease_analysis/gyunggi/41"> 경기 전체 </a>
        </div>
        <div>
            <a href="/lease_analysis/gyunggi/4182">가평군&nbsp</a>
            <a href="/lease_analysis/gyunggi/4128">&nbsp고양시&nbsp</a>
            <a href="/lease_analysis/gyunggi/4129">&nbsp과천시&nbsp</a>
            <a href="/lease_analysis/gyunggi/4121">&nbsp광명시&nbsp</a>
            <a href="/lease_analysis/gyunggi/4161">&nbsp광주시&nbsp</a>
            <a href="/lease_analysis/gyunggi/4131">&nbsp구리시&nbsp</a>
            <a href="/lease_analysis/gyunggi/4141">&nbsp군포시</a>
        </div>
        <div>
            <a href="/lease_analysis/gyunggi/4157">김포시&nbsp</a>
            <a href="/lease_analysis/gyunggi/4136">&nbsp남양주&nbsp</a>
            <a href="/lease_analysis/gyunggi/4125">&nbsp동두천&nbsp</a>
            <a href="/lease_analysis/gyunggi/4119">&nbsp부천시&nbsp</a>
            <a href="/lease_analysis/gyunggi/4113">&nbsp성남시&nbsp</a>
            <a href="/lease_analysis/gyunggi/4111">&nbsp수원시&nbsp</a>
            <a href="/lease_analysis/gyunggi/4139">&nbsp시흥시</a>
        </div>
        <div>
            <a href="/lease_analysis/gyunggi/4127">안산시&nbsp</a>
            <a href="/lease_analysis/gyunggi/4155">&nbsp안성시&nbsp</a>
            <a href="/lease_analysis/gyunggi/4117">&nbsp안양시&nbsp</a>
            <a href="/lease_analysis/gyunggi/4163">&nbsp양주시&nbsp</a>
            <a href="/lease_analysis/gyunggi/4183">&nbsp양평군&nbsp</a>
            <a href="/lease_analysis/gyunggi/4167">&nbsp여주시&nbsp</a>
            <a href="/lease_analysis/gyunggi/4180">&nbsp연천군</a>
        </div>
        <div>
            <a href="/lease_analysis/gyunggi/4137">오산시&nbsp</a>
            <a href="/lease_analysis/gyunggi/4146">&nbsp용인시&nbsp</a>
            <a href="/lease_analysis/gyunggi/4143">&nbsp의왕시&nbsp</a>
            <a href="/lease_analysis/gyunggi/4115">&nbsp의정부&nbsp</a>
            <a href="/lease_analysis/gyunggi/4150">&nbsp이천시&nbsp</a>
            <a href="/lease_analysis/gyunggi/4148">&nbsp파주시&nbsp</a>
            <a href="/lease_analysis/gyunggi/4122">&nbsp평택시</a>
        </div>
        <div>
            <a href="/lease_analysis/gyunggi/4165">포천시&nbsp</a>
            <a href="/lease_analysis/gyunggi/4145">&nbsp하남시&nbsp</a>
            <a href="/lease_analysis/gyunggi/4159">&nbsp화성시</a>
        </div>

        <p>
            <h4 align="center" th:text="${title}"></h4>
        </p>

        <div>
            <canvas id="myChart"></canvas>
        </div>

        <div>
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3199694479750381"
                    crossorigin="anonymous"></script>
        </div>

        <table class="table table-striped">
            <thead class="table-dark">
                <tr style="font-size:12px;" align="center">
<!--                    <th>지역명</th>-->
                    <th>년-월</th>
                    <th>월세 건수</th>
                    <th>전세 건수</th>
                    <th>전체 건수</th>
                    <th>월세 비율</th>
                </tr>
            </thead>
            <tbody>
                <tr style="font-size:12px;" th:each="list : ${list}">
<!--                    <td align="left" th:text="${list.gubnName}"></td>-->
                    <td align="center" th:text="${list.dealYYMM}"></td>
                    <td align="right" th:text="${#numbers.formatInteger(list.shortCnt,1,'COMMA')}"></td>
                    <td align="right" th:text="${#numbers.formatInteger(list.longCnt,1,'COMMA')}"></td>
                    <td align="right" th:text="${#numbers.formatInteger(list.sum,1,'COMMA')}"></td>
                    <td align="right" style="font-weight: bolder" th:text="${#numbers.formatDecimal(list.rate,1,1,'POINT')}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type = "text/javascript" th:inline="javascript">
  const labels =  /*[[ ${dates.toArray()} ]]*/;
  const rates =  /*[[ ${rates.toArray()} ]]*/;

  const data = {
    labels: labels,
    datasets: [{
      label: '월세 비율',
      data: rates,
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      pointRadius:1
      }
    ]
  };

  const config = {
    type: 'line',
    data: data,
    options: {
        scales:{
            y: {
                suggestedMin: 0
            }
        }
    }
  };
</script>
<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>
</html>