<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <!--    <a th:text="${year}"></a>-->
    <div>
        <div>
            <a href="/lease_analysis/incheon/28"> 인천 전체 </a>
        </div>
        <div>
            <a href="/lease_analysis/incheon/28710">강화군&nbsp</a>
            <a href="/lease_analysis/incheon/28245">&nbsp계양구&nbsp</a>
            <a href="/lease_analysis/incheon/28200">&nbsp남동구&nbsp</a>
            <a href="/lease_analysis/incheon/28140">&nbsp동구&nbsp</a>
            <a href="/lease_analysis/incheon/28177">&nbsp미추홀구</a>
        </div>
        <div>
            <a href="/lease_analysis/incheon/28237">부평구&nbsp</a>
            <a href="/lease_analysis/incheon/28260">&nbsp서구&nbsp</a>
            <a href="/lease_analysis/incheon/28185">&nbsp연수구&nbsp</a>
            <a href="/lease_analysis/incheon/28720">&nbsp옹진군&nbsp</a>
            <a href="/lease_analysis/incheon/28110">중구</a>
        </div>

        <p>
            <h4 align="center" th:text="${title}"></h4>
        </p>

        <div>
            <canvas id="myChart"></canvas>
        </div>

        <div>
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3199694479750381"
                    crossorigin="anonymous"></script>
        </div>

        <table class="table table-striped">
            <thead class="table-dark">
                <tr style="font-size:12px;" align="center">
<!--                    <th>지역명</th>-->
                    <th>년-월</th>
                    <th>월세 건수</th>
                    <th>전세 건수</th>
                    <th>전체 건수</th>
                    <th>월세 비율</th>
                </tr>
            </thead>
            <tbody>
                <tr style="font-size:12px;" th:each="list : ${list}">
<!--                    <td align="left" th:text="${list.gubnName}"></td>-->
                    <td align="center" th:text="${list.dealYYMM}"></td>
                    <td align="right" th:text="${#numbers.formatInteger(list.shortCnt,1,'COMMA')}"></td>
                    <td align="right" th:text="${#numbers.formatInteger(list.longCnt,1,'COMMA')}"></td>
                    <td align="right" th:text="${#numbers.formatInteger(list.sum,1,'COMMA')}"></td>
                    <td align="right" style="font-weight: bolder" th:text="${#numbers.formatDecimal(list.rate,1,1,'POINT')}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type = "text/javascript" th:inline="javascript">
  const labels =  /*[[ ${dates.toArray()} ]]*/;
  const rates =  /*[[ ${rates.toArray()} ]]*/;

  const data = {
    labels: labels,
    datasets: [{
      label: '월세 비율',
      data: rates,
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      }
    ]
  };

  const config = {
    type: 'line',
    data: data,
    options: {
        scales:{
            y: {
                suggestedMin: 0
            }
        }
    }
  };
</script>
<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>
</html>