<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <h5 align="center" th:text="|[ ${title} ${termStr} ]|"></h5>
        <h6 align="center">* 월별  월세비율</h6>
        <p>
        <div class="d-flex gap-2 justify-content-center">
            <div class="dropdown d-block position-static pt-0 mx-0 rounded-1 shadow overflow-hidden w-180px">
                <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    구 선택
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=28&term={term} (term=${term})}">인천 전체</a></li>
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=28710&term={term} (term=${term})}">강화군</a></li>
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=28245&term={term} (term=${term})}">계양구</a></li>
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=28200&term={term} (term=${term})}">남동구</a></li>
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=28140&term={term} (term=${term})}">동구</a></li>
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=28177&term={term} (term=${term})}">미추홀구</a></li>
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=28237&term={term} (term=${term})}">부평구</a></li>
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=28260&term={term} (term=${term})}">서구</a></li>
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=28185&term={term} (term=${term})}">연수구</a></li>
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=28720&term={term} (term=${term})}">올진군</a></li>
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=28110&term={term} (term=${term})}">중구</a></li>
                </ul>
            </div>

            <div class="dropdown d-block position-static pt-0 mx-0 rounded-1 shadow overflow-hidden w-180px">
                <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    기간
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode={sigunguCode}&term=0 (sigunguCode=${sigunguCode})}">올해</a></li>
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode={sigunguCode}&term=5 (sigunguCode=${sigunguCode})}">5년</a></li>
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode={sigunguCode}&term=10 (sigunguCode=${sigunguCode})}">10년</a></li>
                    <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode={sigunguCode}&term=15 (sigunguCode=${sigunguCode})}">15년</a></li>
                </ul>
            </div>
        </div>
        </p>

        <div>
            <canvas id="myChart"></canvas>
        </div>

        <div>
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-jcQR8RwkXK2z2xvE"
                 data-ad-width   = "320"
                 data-ad-height  = "100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>

        <table class="table table-striped">
            <thead class="table-dark">
                <tr style="font-size:12px;" align="center">
                    <th>년-월</th>
                    <th>월세 건수</th>
                    <th>전세 건수</th>
                    <th>전체 건수</th>
                    <th>월세 비율</th>
                </tr>
            </thead>
            <tbody>
                <tr style="font-size:12px;" th:each="list : ${list}">
                    <td align="center" th:text="${list.dealYYMM}"></td>
                    <td align="right" th:text="${#numbers.formatInteger(list.shortCnt,1,'COMMA')}"></td>
                    <td align="right" th:text="${#numbers.formatInteger(list.longCnt,1,'COMMA')}"></td>
                    <td align="right" th:text="${#numbers.formatInteger(list.sum,1,'COMMA')}"></td>
                    <td align="right" style="font-weight: bolder" th:text="${#numbers.formatDecimal(list.rate,1,1,'POINT')}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type = "text/javascript" th:inline="javascript">
  const labels =  /*[[ ${dates.toArray()} ]]*/;
  const rates =  /*[[ ${rates.toArray()} ]]*/;

  const data = {
    labels: labels,
    datasets: [{
      label: '월세 비율',
      data: rates,
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      pointRadius:1
      }
    ]
  };

  const config = {
    type: 'line',
    data: data,
    options: {
        scales:{
            y: {
                suggestedMin: 0
            }
        }
    }
  };
</script>
<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>
</html>