<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <div>
            <canvas id="myChart"></canvas>
        </div>
        <div>
            <a href="/lease_analysis/seoul/11">전체</a>
        </div>
        <div>
            <a href="/lease_analysis/seoul/11680">강남구&nbsp</a>
            <a href="/lease_analysis/seoul/11740">&nbsp강동구&nbsp</a>
            <a href="/lease_analysis/seoul/11305">&nbsp강북구&nbsp</a>
            <a href="/lease_analysis/seoul/11500">&nbsp강서구&nbsp</a>
            <a href="/lease_analysis/seoul/11620">&nbsp관악구&nbsp</a>
            <a href="/lease_analysis/seoul/11215">&nbsp광진구&nbsp</a>
            <a href="/lease_analysis/seoul/11530">&nbsp구로구</a>
        </div>
        <div>
            <a href="/lease_analysis/seoul/11545">금천구&nbsp</a>
            <a href="/lease_analysis/seoul/11350">&nbsp노원구&nbsp</a>
            <a href="/lease_analysis/seoul/11320">&nbsp도봉구&nbsp</a>
            <a href="/lease_analysis/seoul/11230">&nbsp동대문&nbsp</a>
            <a href="/lease_analysis/seoul/11590">&nbsp동작구&nbsp</a>
            <a href="/lease_analysis/seoul/11440">&nbsp마포구&nbsp</a>
            <a href="/lease_analysis/seoul/11410">&nbsp서대문</a>
        </div>
        <div>
            <a href="/lease_analysis/seoul/11650">서초구&nbsp</a>
            <a href="/lease_analysis/seoul/11200">&nbsp성동구&nbsp</a>
            <a href="/lease_analysis/seoul/11290">&nbsp성북구&nbsp</a>
            <a href="/lease_analysis/seoul/11710">&nbsp송파구&nbsp</a>
            <a href="/lease_analysis/seoul/11470">&nbsp양천구&nbsp</a>
            <a href="/lease_analysis/seoul/11560">&nbsp영등포&nbsp</a>
            <a href="/lease_analysis/seoul/11170">&nbsp용산구</a>
        </div>
        <div>
            <a href="/lease_analysis/seoul/11380">은평구&nbsp</a>
            <a href="/lease_analysis/seoul/11110">&nbsp종로구&nbsp</a>
            <a href="/lease_analysis/seoul/11260">&nbsp중랑구&nbsp</a>
            <a href="/lease_analysis/seoul/11140">&nbsp중구</a>
        </div>

        <table class="table table-striped">
            <thead class="table-dark">
                <tr style="font-size:12px;" align="center">
                    <th>지역명</th>
                    <th>년-월</th>
                    <th>월세 건수</th>
                    <th>전세 건수</th>
                    <th>전체 건수</th>
                    <th>월세 비율</th>
                </tr>
            </thead>
            <tbody>
                <tr style="font-size:12px;" th:each="list : ${list}">
                    <td align="left" th:text="${list.gubnName}"></td>
                    <td align="center" th:text="${list.dealYYMM}"></td>
                    <td align="right" th:text="${#numbers.formatInteger(list.shortCnt,1,'COMMA')}"></td>
                    <td align="right" th:text="${#numbers.formatInteger(list.longCnt,1,'COMMA')}"></td>
                    <td align="right" th:text="${#numbers.formatInteger(list.sum,1,'COMMA')}"></td>
                    <td align="right" style="font-weight: bolder" th:text="${#numbers.formatDecimal(list.rate,1,1,'POINT')}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type = "text/javascript" th:inline="javascript">
  const labels =  /*[[ ${dates.toArray()} ]]*/;
  const rates =  /*[[ ${rates.toArray()} ]]*/;

  const data = {
    labels: labels,
    datasets: [{
      label: '월세 비율',
      data: rates,
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      }
    ]
  };

  const config = {
    type: 'line',
    data: data,
    options: {
        scales:{
            y: {
                suggestedMin: 0
            }
        }
    }
  };
</script>
<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>
</html>