<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <h5 align="center" th:text="|[ ${title} ${termStr} ]|"></h5>
        <h6 align="center">* 월별 월세비율</h6>
        <p>
            <div class="d-flex gap-2 justify-content-center">
                <div class="dropdown d-block position-static pt-0 mx-0 rounded-1 shadow overflow-hidden w-180px">
                    <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        강북
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=11&term={term} (term=${term})}">서울 전체</a></li>
                        <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=11305&term={term} (term=${term})}">강북구</a></li>
                        <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=11215&term={term} (term=${term})}">광진구</a></li>
                        <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=11350&term={term} (term=${term})}">노원구</a></li>
                        <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=11320&term={term} (term=${term})}">도봉구</a></li>
                        <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=11230&term={term} (term=${term})}">동대문</a></li>
                        <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=11440&term={term} (term=${term})}">마포구</a></li>
                        <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=11410&term={term} (term=${term})}">서대문</a></li>
                        <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=11200&term={term} (term=${term})}">성동구</a></li>
                        <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=11290&term={term} (term=${term})}">성북구</a></li>
                        <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=11470&term={term} (term=${term})}">양천구</a></li>
                        <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=11170&term={term} (term=${term})}">용산구</a></li>
                        <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=11380&term={term} (term=${term})}">은평구</a></li>
                        <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=11110&term={term} (term=${term})}">종로구</a></li>
                        <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=11260&term={term} (term=${term})}">중랑구</a></li>
                        <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=11140&term={term} (term=${term})}">중 구</a></li>
                    </ul>
                </div>
                <div class="dropdown d-block position-static pt-0 mx-0 rounded-1 shadow overflow-hidden w-180px">
                    <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        강남
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=11&term={term} (term=${term})}">서울 전체</a></li>
                        <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=11680&term={term} (term=${term})}">강남구</a></li>
                        <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=11740&term={term} (term=${term})}">강동구</a></li>
                        <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=11500&term={term} (term=${term})}">강서구</a></li>
                        <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=11620&term={term} (term=${term})}">관악구</a></li>
                        <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=11530&term={term} (term=${term})}">구로구</a></li>
                        <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=11545&term={term} (term=${term})}">금천구</a></li>
                        <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=11590&term={term} (term=${term})}">동작구</a></li>
                        <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=11650&term={term} (term=${term})}">서초구</a></li>
                        <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=11710&term={term} (term=${term})}">송파구</a></li>
                        <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=11470&term={term} (term=${term})}">양천구</a></li>
                        <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode=11560&term={term} (term=${term})}">영등포</a></li>
                    </ul>
                </div>

                <div class="dropdown d-block position-static pt-0 mx-0 rounded-1 shadow overflow-hidden w-180px">
                    <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        기간
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode={sigunguCode}&term=0 (sigunguCode=${sigunguCode})}">올해</a></li>
                        <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode={sigunguCode}&term=5 (sigunguCode=${sigunguCode})}">5년</a></li>
                        <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode={sigunguCode}&term=10 (sigunguCode=${sigunguCode})}">10년</a></li>
                        <li><a class="dropdown-item" th:href="@{/lease_analysis?sigunguCode={sigunguCode}&term=15 (sigunguCode=${sigunguCode})}">15년</a></li>
                    </ul>
                </div>
            </div>
        </p>
        <div>
            <canvas id="myChart"></canvas>
        </div>
        <div>
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-jcQR8RwkXK2z2xvE"
                 data-ad-width   = "320"
                 data-ad-height  = "100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
        <table class="table table-striped">
            <thead class="table-dark">
                <tr style="font-size:12px;" align="center">
<!--                    <th>지역명</th>-->
                    <th>년-월</th>
                    <th>월세 건수</th>
                    <th>전세 건수</th>
                    <th>전체 건수</th>
                    <th>월세 비율</th>
                </tr>
            </thead>
            <tbody>
                <tr style="font-size:12px;" th:each="list : ${list}">
<!--                    <td align="left" th:text="${list.gubnName}"></td>-->
                    <td align="center" th:text="${list.dealYYMM}"></td>
                    <td align="right" th:text="${#numbers.formatInteger(list.shortCnt,1,'COMMA')}"></td>
                    <td align="right" th:text="${#numbers.formatInteger(list.longCnt,1,'COMMA')}"></td>
                    <td align="right" th:text="${#numbers.formatInteger(list.sum,1,'COMMA')}"></td>
                    <td align="right" style="font-weight: bolder" th:text="${#numbers.formatDecimal(list.rate,1,1,'POINT')}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type = "text/javascript" th:inline="javascript">
  const labels =  /*[[ ${dates.toArray()} ]]*/;
  const rates =  /*[[ ${rates.toArray()} ]]*/;

  const data = {
    labels: labels,
    datasets: [{
      label: '월세 비율',
      data: rates,
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      pointRadius:1
      }
    ]
  };

  const config = {
    type: 'line',
    data: data,
    options: {
        scales:{
            y: {
                suggestedMin: 0
            }
        }
    }
  };
</script>
<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>
</html>