<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <p>
            <h6 align="center" th:text="${title}"></h6>
            <h6 align="center" th:text="|( 기간: ${termStr} )|"></h6>
        </p>
        <div>
            <canvas id="myChart"></canvas>
        </div>
        <div>
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-jcQR8RwkXK2z2xvE"
                 data-ad-width   = "320"
                 data-ad-height  = "100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
        <a>[기간설정]&nbsp</a>
        <a th:href="@{/leaselist/monthly/ByName?sigunguCode={regncode}&landDong={dong}&aptName={aptName}&ua={ua}&term=0 (regncode=${regncode}, dong=${dong}, aptName=${aptName}, ua=${ua})}">올해&nbsp</a>
        <b>/&nbsp</b>
        <a th:href="@{/leaselist/monthly/ByName?sigunguCode={regncode}&landDong={dong}&aptName={aptName}&ua={ua}&term=1 (regncode=${regncode}, dong=${dong}, aptName=${aptName}, ua=${ua})}">1년&nbsp</a>
        <b>/&nbsp</b>
        <a th:href="@{/leaselist/monthly/ByName?sigunguCode={regncode}&landDong={dong}&aptName={aptName}&ua={ua}&term=2 (regncode=${regncode}, dong=${dong}, aptName=${aptName}, ua=${ua})}">2년&nbsp</a>
        <table class="table table-striped">
            <thead class="table-dark">
                <tr style="font-size:12px;" align="center">
                    <th>일자</th>
                    <th>계약</th>
                    <th>전용</br>면적(m<sup>2</sup>)</th>
                    <th>보증금</th>
                    <th>이전</br>보증금</th>
                    <th>월세</th>
                    <th>이전</br>월세</th>
                    <th>층수</th>
                </tr>
            </thead>
            <tbody>
                <tr style="font-size:12px;" th:each="list : ${list}">
                    <td align="center" th:text="${list.dealDate}"></td>
                    <td align="center">
                        <div>
                            <a th:text="${list.dealType}"></a></br>
                            <a th:text="${list.dealTerm}"></a>
                        </div>
                    </td>
<!--                    <td align="center" th:text="${list.renewalUse}"></td>-->
                    <td align="right" th:text="${#numbers.formatDecimal(list.useArea,1,2,'POINT')}"></td>
                    <td align="right" style="font-weight: bolder" th:text="${#numbers.formatInteger(list.deposit,1,'COMMA')}"></td>
                    <td align="right" th:text="${#numbers.formatInteger(list.befDeposit,1,'COMMA')}"></td>
                    <td align="right" style="font-weight: bolder" th:text="${list.monthlyRentStr}"></td>
                    <td align="right" th:text="${list.befMonthlyRentStr}"></td>
                    <td align="right" th:text="${list.floor}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type = "text/javascript" th:inline="javascript">
  const labels =  /*[[ ${dates.toArray()} ]]*/;
  const monthlies =  /*[[ ${monthlies.toArray()} ]]*/;
  const deposits =  /*[[ ${deposits.toArray()} ]]*/;

  const data = {
    labels: labels,
    datasets: [{
      type: 'line',
      label: '월세',
      yAxisID: 'y-line',
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      pointRadius:1,
      data: monthlies
      },{
          type: 'line',
          label: '보증금',
          yAxisID: 'y-line2',
          backgroundColor: 'rgb(95,67,175)',
          borderColor: 'rgb(95,67,175)',
          pointRadius:1,
          data: deposits
      }
    ]
  };

  const config = {
    data: data,
    options: {
        scales:{
            'y-line':{
                position: 'left',
                ticks:{
				    color: 'rgb(255, 99, 132)'
				},
                title: {
                    display: true,
                    color: 'rgb(255, 99, 132)',
                    text: '월세'
                }
            },
            'y-line2':{
                position: 'right',
                grid:{
                    display: false
                },
                ticks:{
                    display: true,
				    color: 'rgb(95,67,175)'
				},
                title: {
                    display: true,
                    color: 'rgb(95,67,175)',
                    text: '보증금'
                }
            }
        }
    }
  };
</script>
<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>
</html>