<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <!--    <a th:text="${year}"></a>-->
    <div>
        <div>
            <a>성남&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=41131&uaType={uaType} (uaType=${uaType})}">수정&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=41133&uaType={uaType} (uaType=${uaType})}">중원&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=41135&uaType={uaType} (uaType=${uaType})}">분당</a>
            <b>/&nbsp</b>
            <a>고양&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=41281&uaType={uaType} (uaType=${uaType})}">덕양&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=41285&uaType={uaType} (uaType=${uaType})}">일산동&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=41287&uaType={uaType} (uaType=${uaType})}">일산서</a>
        </div>
        <div>
            <a>용인&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=41461&uaType={uaType} (uaType=${uaType})}">처인&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=41463&uaType={uaType} (uaType=${uaType})}">기흥&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=41465&uaType={uaType} (uaType=${uaType})}">수지</a>
            <b>/&nbsp</b>
            <a>수원&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=41111&uaType={uaType} (uaType=${uaType})}">장안&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=41113&uaType={uaType} (uaType=${uaType})}">권선&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=41115&uaType={uaType} (uaType=${uaType})}">팔달&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=41117&uaType={uaType} (uaType=${uaType})}">영통</a>
        </div>
        <div>
            <a>안산&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=41271&uaType={uaType} (uaType=${uaType})}">상록&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=41273&uaType={uaType} (uaType=${uaType})}">단원</a>
            <b>/&nbsp</b>
            <a>안양&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=41171&uaType={uaType} (uaType=${uaType})}">만안&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=41173&uaType={uaType} (uaType=${uaType})}">동안</a>
        </div>
        <div>
            <a th:href="@{/leaselist?sigunguCode=41820&uaType={uaType} (uaType=${uaType})}">가평군&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=41290&uaType={uaType} (uaType=${uaType})}">&nbsp과천시&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=41210&uaType={uaType} (uaType=${uaType})}">&nbsp광명시&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=41610&uaType={uaType} (uaType=${uaType})}">&nbsp광주시&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=41310&uaType={uaType} (uaType=${uaType})}">&nbsp구리시&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=41410&uaType={uaType} (uaType=${uaType})}">&nbsp군포시&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=41570&uaType={uaType} (uaType=${uaType})}">&nbsp김포시</a>
        </div>
        <div>
            <a th:href="@{/leaselist?sigunguCode=41360&uaType={uaType} (uaType=${uaType})}">남양주&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=41250&uaType={uaType} (uaType=${uaType})}">&nbsp동두천&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=41190&uaType={uaType} (uaType=${uaType})}">&nbsp부천시&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=41390&uaType={uaType} (uaType=${uaType})}">&nbsp시흥시&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=41550&uaType={uaType} (uaType=${uaType})}">&nbsp안성시&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=41630&uaType={uaType} (uaType=${uaType})}">&nbsp양주시&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=41830&uaType={uaType} (uaType=${uaType})}">&nbsp양평군</a>
        </div>
        <div>
            <a th:href="@{/leaselist?sigunguCode=41670&uaType={uaType} (uaType=${uaType})}">여주시&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=41800&uaType={uaType} (uaType=${uaType})}">&nbsp연천군&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=41370&uaType={uaType} (uaType=${uaType})}">&nbsp오산시&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=41430&uaType={uaType} (uaType=${uaType})}">&nbsp의왕시&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=41150&uaType={uaType} (uaType=${uaType})}">&nbsp의정부&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=41500&uaType={uaType} (uaType=${uaType})}">&nbsp이천시&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=41480&uaType={uaType} (uaType=${uaType})}">&nbsp파주시</a>
        </div>

        <div>
            <a th:href="@{/leaselist?sigunguCode=41220&uaType={uaType} (uaType=${uaType})}">평택시&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=41650&uaType={uaType} (uaType=${uaType})}">&nbsp포천시&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=41450&uaType={uaType} (uaType=${uaType})}">&nbsp하남시&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=41590&uaType={uaType} (uaType=${uaType})}">&nbsp화성시</a>
        </div>
        <p>
            <h5 align="center" th:text="${title}"></h5>
            <h6 align="center" th:text="|* ${uaStr}|"></h6>
        </p>
        <div>
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-jcQR8RwkXK2z2xvE"
                 data-ad-width   = "320"
                 data-ad-height  = "100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
        <a>[면적]&nbsp</a>
        <a th:href="@{/leaselist?sigunguCode={sigunguCode}&uaType=UA01 (sigunguCode=${sigunguCode})}">전체</a>
        <b>&nbsp/&nbsp</b>
        <a th:href="@{/leaselist?sigunguCode={sigunguCode}&uaType=UA02 (sigunguCode=${sigunguCode})}">소형</a>
        <b>&nbsp/&nbsp</b>
        <a th:href="@{/leaselist?sigunguCode={sigunguCode}&uaType=UA08 (sigunguCode=${sigunguCode})}">전용59</a>
        <b>&nbsp/&nbsp</b>
        <a th:href="@{/leaselist?sigunguCode={sigunguCode}&uaType=UA03 (sigunguCode=${sigunguCode})}">중소형</a>
        </br>
        <a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
        <a th:href="@{/leaselist?sigunguCode={sigunguCode}&uaType=UA07 (sigunguCode=${sigunguCode})}">국평</a>
        <b>&nbsp/&nbsp</b>
        <a th:href="@{/leaselist?sigunguCode={sigunguCode}&uaType=UA04 (sigunguCode=${sigunguCode})}">중형</a>
        <b>&nbsp/&nbsp</b>
        <a th:href="@{/leaselist?sigunguCode={sigunguCode}&uaType=UA05 (sigunguCode=${sigunguCode})}">중대형</a>
        <b>&nbsp/&nbsp</b>
        <a th:href="@{/leaselist?sigunguCode={sigunguCode}&uaType=UA06 (sigunguCode=${sigunguCode})}">대형</a>
        <table class="table table-striped">
            <thead class="table-dark">
                <tr style="font-size:12px;" align="center">
                    <th>일자</th>
                    <th>아파트</th>
                    <th>전용</br>(m<sup>2</sup>)</th>
                    <th>보증금</th>
                </tr>
            </thead>
            <tbody>
                <tr style="font-size:12px;" th:each="list : ${list}">
                    <td align="center" th:text="${list.dealDate}"></td>
                    <td align="left">
                        <div>
                            <a th:text="${list.landDong}"></a></br>
                            <a th:text="${list.aptName}" th:href="@{/leaselist/ByName?sigunguCode={sigungucode}&landDong={dong}&aptName={aptname}&ua={uatrunc}&term=1 (sigungucode=${list.sigunguCode}, dong=${list.landDong}, aptname=${list.aptName}, uatrunc=${list.useAreaTrunc})}"></a></br>
                            <a th:text="|[${list.buildYear}] ${list.floor} 층|"></a>
                        </div>
                    </td>
                    <td align="right" th:text="${#numbers.formatDecimal(list.useArea,1,2,'POINT')}"></td>
                    <td align="right" th:text="${#numbers.formatInteger(list.deposit,1,'COMMA')}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>