<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <!--    <a th:text="${year}"></a>-->
    <div>
        <div>
            <a>성남&nbsp</a>
            <a th:href="@{/leaselist/monthly/41131/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">수정&nbsp</a>
            <a th:href="@{/leaselist/monthly/41133/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">중원&nbsp</a>
            <a th:href="@{/leaselist/monthly/41135/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">분당</a>
            <b>/&nbsp</b>
            <a>고양&nbsp</a>
            <a th:href="@{/leaselist/monthly/41281/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">덕양&nbsp</a>
            <a th:href="@{/leaselist/monthly/41285/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">일산동&nbsp</a>
            <a th:href="@{/leaselist/monthly/41287/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">일산서</a>
        </div>
        <div>
            <a>용인&nbsp</a>
            <a th:href="@{/leaselist/monthly/41461/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">처인&nbsp</a>
            <a th:href="@{/leaselist/monthly/41463/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">기흥&nbsp</a>
            <a th:href="@{/leaselist/monthly/41465/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">수지</a>
            <b>/&nbsp</b>
            <a>수원&nbsp</a>
            <a th:href="@{/leaselist/monthly/41111/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">장안&nbsp</a>
            <a th:href="@{/leaselist/monthly/41113/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">권선&nbsp</a>
            <a th:href="@{/leaselist/monthly/41115/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">팔달&nbsp</a>
            <a th:href="@{/leaselist/monthly/41117/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">영통</a>
        </div>
        <div>
            <a>안산&nbsp</a>
            <a th:href="@{/leaselist/monthly/41271/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">상록&nbsp</a>
            <a th:href="@{/leaselist/monthly/41273/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">단원</a>
            <b>/&nbsp</b>
            <a>안양&nbsp</a>
            <a th:href="@{/leaselist/monthly/41171/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">만안&nbsp</a>
            <a th:href="@{/leaselist/monthly/41173/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">동안</a>
        </div>
        <div>
            <a th:href="@{/leaselist/monthly/41820/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">가평군&nbsp</a>
            <a th:href="@{/leaselist/monthly/41290/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">&nbsp과천시&nbsp</a>
            <a th:href="@{/leaselist/monthly/41210/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">&nbsp광명시&nbsp</a>
            <a th:href="@{/leaselist/monthly/41610/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">&nbsp광주시&nbsp</a>
            <a th:href="@{/leaselist/monthly/41310/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">&nbsp구리시&nbsp</a>
            <a th:href="@{/leaselist/monthly/41410/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">&nbsp군포시&nbsp</a>
            <a th:href="@{/leaselist/monthly/41570/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">&nbsp김포시</a>
        </div>
        <div>
            <a th:href="@{/leaselist/monthly/41360/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">남양주&nbsp</a>
            <a th:href="@{/leaselist/monthly/41250/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">&nbsp동두천&nbsp</a>
            <a th:href="@{/leaselist/monthly/41190/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">&nbsp부천시&nbsp</a>
            <a th:href="@{/leaselist/monthly/41390/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">&nbsp시흥시&nbsp</a>
            <a th:href="@{/leaselist/monthly/41550/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">&nbsp안성시&nbsp</a>
            <a th:href="@{/leaselist/monthly/41630/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">&nbsp양주시&nbsp</a>
            <a th:href="@{/leaselist/monthly/41830/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">&nbsp양평군</a>
        </div>
        <div>
            <a th:href="@{/leaselist/monthly/41670/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">여주시&nbsp</a>
            <a th:href="@{/leaselist/monthly/41800/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">&nbsp연천군&nbsp</a>
            <a th:href="@{/leaselist/monthly/41370/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">&nbsp오산시&nbsp</a>
            <a th:href="@{/leaselist/monthly/41430/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">&nbsp의왕시&nbsp</a>
            <a th:href="@{/leaselist/monthly/41150/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">&nbsp의정부&nbsp</a>
            <a th:href="@{/leaselist/monthly/41500/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">&nbsp이천시&nbsp</a>
            <a th:href="@{/leaselist/monthly/41480/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">&nbsp파주시</a>
        </div>

        <div>
            <a th:href="@{/leaselist/monthly/41220/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">평택시&nbsp</a>
            <a th:href="@{/leaselist/monthly/41650/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">&nbsp포천시&nbsp</a>
            <a th:href="@{/leaselist/monthly/41450/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">&nbsp하남시&nbsp</a>
            <a th:href="@{/leaselist/monthly/41590/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">&nbsp화성시</a>
        </div>
        <p>
            <h5 align="center" th:text="${title}"></h5>
        </p>
        <div>
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-jcQR8RwkXK2z2xvE"
                 data-ad-width   = "320"
                 data-ad-height  = "100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
        <a>[면적]&nbsp</a>
        <a th:href="@{/leaselist/monthly/{sigungucode}/0/0 (sigungucode=${sigungucode})}">전체&nbsp</a>
        <b>/&nbsp</b>
        <a th:href="@{/leaselist/monthly/{sigungucode}/0/59 (sigungucode=${sigungucode})}">전용59&nbsp</a>
        <b>/&nbsp</b>
        <a th:href="@{/leaselist/monthly/{sigungucode}/0/84 (sigungucode=${sigungucode})}">국평&nbsp</a>
        <b>/&nbsp</b>
        <a th:href="@{/leaselist/monthly/{sigungucode}/2/84 (sigungucode=${sigungucode})}">국평초과</a>
        <table class="table table-striped">
            <thead class="table-dark">
                <tr style="font-size:12px;" align="center">
                    <th>일자</th>
                    <th>법정동</th>
                    <th>아파트명</th>
                    <th>전용면적(m2)</th>
                    <th>보증금</th>
                    <th>월세</th>
                    <th>층수</th>
                </tr>
            </thead>
            <tbody>
                <tr style="font-size:12px;" th:each="list : ${list}">
                    <td align="center" th:text="${list.dealDate}"></td>
                    <td align="center" th:text="${list.landDong}"></td>
                    <td align="left" th:text="${list.aptName}"></td>
                    <td align="right" th:text="${#numbers.formatDecimal(list.useArea,1,2,'POINT')}"></td>
                    <td align="right" style="font-weight: bolder" th:text="${#numbers.formatInteger(list.deposit,1,'COMMA')}"></td>
                    <td align="right" style="font-weight: bolder" th:text="${list.monthlyRentStr}"></td>
    <!--                <td align="right" th:text="${#numbers.formatInteger(list.monthlyRent,1,'COMMA')}"></td>-->
                    <td align="right" th:text="${list.floor}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>