<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <div>
            <a th:href="@{/leaselist/monthly/11680/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">강남구&nbsp</a>
            <a th:href="@{/leaselist/monthly/11740/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">&nbsp강동구&nbsp</a>
            <a th:href="@{/leaselist/monthly/11305/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">&nbsp강북구&nbsp</a>
            <a th:href="@{/leaselist/monthly/11500/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">&nbsp강서구&nbsp</a>
            <a th:href="@{/leaselist/monthly/11620/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">&nbsp관악구&nbsp</a>
            <a th:href="@{/leaselist/monthly/11215/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">&nbsp광진구&nbsp</a>
            <a th:href="@{/leaselist/monthly/11530/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">구로구</a>
        </div>
        <div>
            <a th:href="@{/leaselist/monthly/11545/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">금천구&nbsp</a>
            <a th:href="@{/leaselist/monthly/11350/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">&nbsp노원구&nbsp</a>
            <a th:href="@{/leaselist/monthly/11320/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">&nbsp도봉구&nbsp</a>
            <a th:href="@{/leaselist/monthly/11230/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">&nbsp동대문&nbsp</a>
            <a th:href="@{/leaselist/monthly/11590/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">&nbsp동작구&nbsp</a>
            <a th:href="@{/leaselist/monthly/11440/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">&nbsp마포구&nbsp</a>
            <a th:href="@{/leaselist/monthly/11410/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">서대문</a>
        </div>
        <div>
            <a th:href="@{/leaselist/monthly/11650/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">서초구&nbsp</a>
            <a th:href="@{/leaselist/monthly/11200/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">&nbsp성동구&nbsp</a>
            <a th:href="@{/leaselist/monthly/11290/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">&nbsp성북구&nbsp</a>
            <a th:href="@{/leaselist/monthly/11710/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">&nbsp송파구&nbsp</a>
            <a th:href="@{/leaselist/monthly/11470/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">&nbsp양천구&nbsp</a>
            <a th:href="@{/leaselist/monthly/11560/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">&nbsp영등포&nbsp</a>
            <a th:href="@{/leaselist/monthly/11170/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">용산구</a>
        </div>
        <div>
            <a th:href="@{/leaselist/monthly/11380/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">은평구&nbsp</a>
            <a th:href="@{/leaselist/monthly/11110/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">&nbsp종로구&nbsp</a>
            <a th:href="@{/leaselist/monthly/11260/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">&nbsp중랑구&nbsp</a>
            <a th:href="@{/leaselist/monthly/11140/{gubn}/{ua} (gubn=${gubn}, ua=${ua})}">중구</a>
        </div>
        <p>
            <h5 align="center" th:text="${title}"></h5>
        </p>
        <div>
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-jcQR8RwkXK2z2xvE"
                 data-ad-width   = "320"
                 data-ad-height  = "100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
        <a>[면적]&nbsp</a>
        <a th:href="@{/leaselist/monthly/{sigungucode}/0/0 (sigungucode=${sigungucode})}">전체&nbsp</a>
        <b>/&nbsp</b>
        <a th:href="@{/leaselist/monthly/{sigungucode}/0/59 (sigungucode=${sigungucode})}">전용59&nbsp</a>
        <b>/&nbsp</b>
        <a th:href="@{/leaselist/monthly/{sigungucode}/0/84 (sigungucode=${sigungucode})}">국평&nbsp</a>
        <b>/&nbsp</b>
        <a th:href="@{/leaselist/monthly/{sigungucode}/2/84 (sigungucode=${sigungucode})}">국평초과</a>
        <table class="table table-striped">
            <thead class="table-dark">
                <tr style="font-size:12px;" align="center">
                    <th>일자</th>
                    <th>법정동</th>
                    <th>계약구분</th>
                    <th>계약기간</th>
                    <th>아파트명</th>
                    <th>전용면적(m2)</th>
                    <th>보증금</th>
                    <th>이전</br>보증금</th>
                    <th>월세</th>
                    <th>이전</br>월세</th>
                    <th>층수</th>
                </tr>
            </thead>
            <tbody>
                <tr style="font-size:12px;" th:each="list : ${list}">
                    <td align="center" th:text="${list.dealDate}"></td>
                    <td align="center" th:text="${list.landDong}"></td>
                    <td align="center" th:text="${list.dealType}"></td>
                    <td align="center" th:text="${list.dealTerm}"></td>
                    <td align="left" th:text="${list.aptName}"></td>
                    <td align="right" th:text="${#numbers.formatDecimal(list.useArea,1,2,'POINT')}"></td>
                    <td align="right" style="font-weight: bolder" th:text="${#numbers.formatInteger(list.deposit,1,'COMMA')}"></td>
                    <td align="right" th:text="${#numbers.formatInteger(list.befDeposit,1,'COMMA')}"></td>
                    <td align="right" style="font-weight: bolder" th:text="${list.monthlyRentStr}"></td>
                    <td align="right" th:text="${list.befMonthlyRentStr}"></td>
    <!--                <td align="right" th:text="${#numbers.formatInteger(list.monthlyRentStr,1,'COMMA')}"></td>-->
                    <td align="right" th:text="${list.floor}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>