<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <!--    <a th:text="${year}"></a>-->
    <div>
        <div>
            <a href="/leaselist/renewal/seoul/11680">강남구&nbsp</a>
            <a href="/leaselist/renewal/seoul/11740">&nbsp강동구&nbsp</a>
            <a href="/leaselist/renewal/seoul/11305">&nbsp강북구&nbsp</a>
            <a href="/leaselist/renewal/seoul/11500">&nbsp강서구&nbsp</a>
            <a href="/leaselist/renewal/seoul/11620">&nbsp관악구&nbsp</a>
            <a href="/leaselist/renewal/seoul/11215">&nbsp광진구&nbsp</a>
            <a href="/leaselist/renewal/seoul/11530">구로구</a>
        </div>
        <div>
            <a href="/leaselist/renewal/seoul/11545">금천구&nbsp</a>
            <a href="/leaselist/renewal/seoul/11350">&nbsp노원구&nbsp</a>
            <a href="/leaselist/renewal/seoul/11320">&nbsp도봉구&nbsp</a>
            <a href="/leaselist/renewal/seoul/11230">&nbsp동대문&nbsp</a>
            <a href="/leaselist/renewal/seoul/11590">&nbsp동작구&nbsp</a>
            <a href="/leaselist/renewal/seoul/11440">&nbsp마포구&nbsp</a>
            <a href="/leaselist/renewal/seoul/11410">서대문</a>
        </div>
        <div>
            <a href="/leaselist/renewal/seoul/11650">서초구&nbsp</a>
            <a href="/leaselist/renewal/seoul/11200">&nbsp성동구&nbsp</a>
            <a href="/leaselist/renewal/seoul/11290">&nbsp성북구&nbsp</a>
            <a href="/leaselist/renewal/seoul/11710">&nbsp송파구&nbsp</a>
            <a href="/leaselist/renewal/seoul/11470">&nbsp양천구&nbsp</a>
            <a href="/leaselist/renewal/seoul/11560">&nbsp영등포&nbsp</a>
            <a href="/leaselist/renewal/seoul/11170">용산구</a>
        </div>
        <div>
            <a href="/leaselist/renewal/seoul/11380">은평구&nbsp</a>
            <a href="/leaselist/renewal/seoul/11110">&nbsp종로구&nbsp</a>
            <a href="/leaselist/renewal/seoul/11260">&nbsp중랑구&nbsp</a>
            <a href="/leaselist/renewal/seoul/11140">중구</a>
        </div>
        <p>
            <h5 align="center" th:text="${title}"></h5>
        </p>
        <div>
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-jcQR8RwkXK2z2xvE"
                 data-ad-width   = "320"
                 data-ad-height  = "100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
        <table class="table table-striped">
            <thead class="table-dark">
                <tr style="font-size:12px;" align="center">
                    <th>일자</th>
                    <th>계약</th>
                    <th>아파트</th>
                    <th>전용</br>면적(m<sup>2</sup>)</th>
                    <th>보증금</th>
                    <th>이전</br>보증금</th>
                    <th>월세</th>
                    <th>이전</br>월세</th>
                </tr>
            </thead>
            <tbody>
                <tr style="font-size:12px;" th:each="list : ${list}">
                    <td align="center" th:text="${list.dealDate}"></td>
                    <td align="center">
                        <div>
                            <a th:text="${list.dealType}"></a></br>
                            <a th:text="${list.dealTerm}"></a>
                        </div>
                    </td>
                    <td align="left">
                        <div>
                            <a th:text="${list.landDong}"></a></br>
                            <a th:text="${list.aptName}" th:href="@{/leaselist/ByName/{sigungucode}/{dong}/{aptname}/{uatrunc}/1 (sigungucode=${list.sigunguCode}, dong=${list.landDong}, aptname=${list.aptName}, uatrunc=${list.useAreaTrunc})}"></a></br>
                            <a th:text="|${list.floor} 층|"></a>
                        </div>
                    </td>
                    <td align="right" th:text="${#numbers.formatDecimal(list.useArea,1,2,'POINT')}"></td>
                    <td align="right" style="font-weight: bolder" th:text="${#numbers.formatInteger(list.deposit,1,'COMMA')}"></td>
                    <td align="right" th:text="${#numbers.formatInteger(list.befDeposit,1,'COMMA')}"></td>
                    <td align="right" style="font-weight: bolder" th:text="${list.monthlyRentStr}"></td>
                    <td align="right" th:text="${list.befMonthlyRentStr}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>