<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <div>
            <a th:href="@{/leaselist?sigunguCode=11680&uaType={uaType} (uaType=${uaType})}">강남구&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=11740&uaType={uaType} (uaType=${uaType})}">&nbsp강동구&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=11305&uaType={uaType} (uaType=${uaType})}">&nbsp강북구&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=11500&uaType={uaType} (uaType=${uaType})}">&nbsp강서구&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=11620&uaType={uaType} (uaType=${uaType})}">&nbsp관악구&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=11215&uaType={uaType} (uaType=${uaType})}">&nbsp광진구&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=11530&uaType={uaType} (uaType=${uaType})}">&nbsp구로구</a>
        </div>
        <div>
            <a th:href="@{/leaselist?sigunguCode=11545&uaType={uaType} (uaType=${uaType})}">금천구&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=11350&uaType={uaType} (uaType=${uaType})}">&nbsp노원구&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=11320&uaType={uaType} (uaType=${uaType})}">&nbsp도봉구&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=11230&uaType={uaType} (uaType=${uaType})}">&nbsp동대문&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=11590&uaType={uaType} (uaType=${uaType})}">&nbsp동작구&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=11440&uaType={uaType} (uaType=${uaType})}">&nbsp마포구&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=11410&uaType={uaType} (uaType=${uaType})}">&nbsp서대문</a>
        </div>
        <div>
            <a th:href="@{/leaselist?sigunguCode=11650&uaType={uaType} (uaType=${uaType})}">서초구&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=11200&uaType={uaType} (uaType=${uaType})}">&nbsp성동구&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=11290&uaType={uaType} (uaType=${uaType})}">&nbsp성북구&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=11710&uaType={uaType} (uaType=${uaType})}">&nbsp송파구&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=11470&uaType={uaType} (uaType=${uaType})}">&nbsp양천구&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=11560&uaType={uaType} (uaType=${uaType})}">&nbsp영등포&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=11170&uaType={uaType} (uaType=${uaType})}">&nbsp용산구</a>
        </div>
        <div>
            <a th:href="@{/leaselist?sigunguCode=11380&uaType={uaType} (uaType=${uaType})}">은평구&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=11110&uaType={uaType} (uaType=${uaType})}">&nbsp종로구&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=11260&uaType={uaType} (uaType=${uaType})}">&nbsp중랑구&nbsp</a>
            <a th:href="@{/leaselist?sigunguCode=11140&uaType={uaType} (uaType=${uaType})}">&nbsp중구</a>
        </div>
        <p>
            <h5 align="center" th:text="${title}"></h5>
            <h6 align="center" th:text="|* ${uaStr}|"></h6>
        </p>
        <div>
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-jcQR8RwkXK2z2xvE"
                 data-ad-width   = "320"
                 data-ad-height  = "100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
        <a>[면적]&nbsp</a>
        <a th:href="@{/leaselist?sigunguCode={sigunguCode}&uaType=UA01 (sigunguCode=${sigunguCode})}">전체</a>
        <b>&nbsp/&nbsp</b>
        <a th:href="@{/leaselist?sigunguCode={sigunguCode}&uaType=UA02 (sigunguCode=${sigunguCode})}">소형</a>
        <b>&nbsp/&nbsp</b>
        <a th:href="@{/leaselist?sigunguCode={sigunguCode}&uaType=UA08 (sigunguCode=${sigunguCode})}">전용59</a>
        <b>&nbsp/&nbsp</b>
        <a th:href="@{/leaselist?sigunguCode={sigunguCode}&uaType=UA03 (sigunguCode=${sigunguCode})}">중소형</a>
        </br>
        <a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
        <a th:href="@{/leaselist?sigunguCode={sigunguCode}&uaType=UA07 (sigunguCode=${sigunguCode})}">국평</a>
        <b>&nbsp/&nbsp</b>
        <a th:href="@{/leaselist?sigunguCode={sigunguCode}&uaType=UA04 (sigunguCode=${sigunguCode})}">중형</a>
        <b>&nbsp/&nbsp</b>
        <a th:href="@{/leaselist?sigunguCode={sigunguCode}&uaType=UA05 (sigunguCode=${sigunguCode})}">중대형</a>
        <b>&nbsp/&nbsp</b>
        <a th:href="@{/leaselist?sigunguCode={sigunguCode}&uaType=UA06 (sigunguCode=${sigunguCode})}">대형</a>
        <table class="table table-striped">
            <thead class="table-dark">
                <tr style="font-size:12px;" align="center">
                    <th>일자</th>
<!--                    <th>계약</th>-->
                    <th>아파트</th>
                    <th>전용</br>(m<sup>2</sup>)</th>
                    <th>보증금</th>
                </tr>
            </thead>
            <tbody>
                <tr style="font-size:12px;" th:each="list : ${list}">
                    <td align="center" th:text="${list.dealDate}"></td>
<!--                    <td align="center">-->
<!--                        <div>-->
<!--                            <a th:text="${list.dealType}"></a></br>-->
<!--                            <a th:text="${list.dealTerm}"></a>-->
<!--                        </div>-->
<!--                    </td>-->
                    <td align="left">
                        <div>
                            <a th:text="${list.landDong}"></a></br>
                            <a th:text="${list.aptName}" th:href="@{/leaselist/ByName/{sigungucode}/{dong}/{aptname}/{uatrunc}/1 (sigungucode=${list.sigunguCode}, dong=${list.landDong}, aptname=${list.aptName}, uatrunc=${list.useAreaTrunc})}"></a></br>
                            <a th:text="|${list.floor} 층|"></a>
                        </div>
                    </td>
                    <td align="right" th:text="${#numbers.formatDecimal(list.useArea,1,2,'POINT')}"></td>
                    <td align="right" style="font-weight: bolder" th:text="${#numbers.formatInteger(list.deposit,1,'COMMA')}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>